[2015-09-20 08:52] DarkWalker opened #3 "ClrMD memory leak Thread.BlockingObjects"
The code:

[code]

When you run this code managed memory stays consitent, but native memory grows consistently. The detalization of most memory allocations below:
![clrmd_memoryleak](https://cloud.githubusercontent.com/assets/1113773/7231011/2515a900-e77b-11e4-9168-2efe970b5915.png)

In my test run I got from 2.2 MB to 10.5 MB in 8 minutes, so I guess it is easily reproducible.

Original discussio

[2015-09-20 09:47] weltkante commented on #3
My workaround should no longer be needed, they have a [proper version check](https://github.com/Microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/datatargetimpl.cs#L152) now. If you have any problems its something different than the linked issue.

[2015-09-21 19:49] leculver commented on #3
I took a look.  This seems like a memory leak in the underlying dac API.  I let your repro program "warm up" a bit, then snapped two crash dumps just after the GC.Collect with a few minutes of runtime between them.  Here's what I see:

  User time: 0 days 0:04:37.000
--- Usage Summary ---------------- RgnCount ----------- Total Size -------- %ofBusy %ofTotal
Free

[2015-09-22 16:57] jazzdelightsme opened #4 "Cancellation support and timeouts for symbol servers"
Waiting for network timeouts can be a major bummer. It would be great if we could:
1. Add overloads that take System.Threading.CancellationTokens.
2. Add support for configurable timeouts (shorter than network timeout by default?).
3. Async support would be icing on the cake.

Some comments from Lee:

[2015-09-23 18:56] Zvirja opened #6 "Exposing internal things publicly"
ClrMD library exposes public interface and all the platform specific classes are marked as `Internal`. For instance, currently you cannot:
* get MethodTable for type;
* get MethodDescriptor for method;
* get type by MT/EEClass;
* use ISOSDac interface to get something beyond API provides;
* override classes to extend their functionality (e.g. introduce caching).

I clearly understand, that they ar

[2015-09-23 20:16] leculver commented on #6
I'm already working on a sensible way to expose MethodTable/EEClass/MethodDescs, etc.  That should be implemented within the next two weeks (or I may start working on it this week if I have time), so you should hopefully not have to worry about that soon.

In general, here is my thinking on where I'd like ClrMD to land on these topics:

1.  Everything implemented needs to be done in a way that's s

[2015-09-24 03:13] tomasr opened #8 "Expose CLR version in ClrRuntime"
When creating a `ClrRuntime` object, the user will often want to keep track of the version of the CLR that the runtime was created for. Because `ClrRuntime` doesn't expose the CLR version number, it often requires users to keep track of additional data.

It would be useful if `ClrRuntime` exposed a Version property (of type `VersionInfo`) that exposed this information directly. Exposing the comple

[2015-09-24 03:20] tomasr commented on #6
+1 on extending ClrMD rather than exposing the internal DAC interfaces!

As for MethodTable addresses, after using ClrMD for all new code for over a year, I don't miss them. Honestly, I don't see the need to expose them anymore.

However, there is one sore spot that is often what people want when talking about MT addresses: A stable way to address CLR types across debug sessions. Right now, the cl

[2015-09-24 03:32] leculver commented on #8
I've went the route of exposing the full ClrInfo object.  See this commit:  https://github.com/Microsoft/clrmd/commit/42ec8485da700af1dc3f037944f5b1172e74e8aa

However to use it you need to use the new startup path, which uses ClrInfo.CreateRuntime instead of DataTarget.CreateRuntime in the current branch.

[2015-09-24 03:32] #8 closed

[2015-09-24 03:34] leculver commented on #6
Ah, I'll also be removing ClrType.Index (well, marking obsolete, but I'm not sure I'll leave its functionality).  This was originally thought up as a lightweight way to refer to types, but as you mention it's not resilient to second processes.  That will go in with changes to add MethodTable support.

I agree I haven't needed MT support after using ClrMD for a while, but at the same time other too

[2015-09-24 03:38] tomasr commented on #6
I can live with that, sounds good.

[2015-09-24 05:35] leculver commented on #4
I have implemented async/await additions to ClrMD, along with adding a timeout to SymbolLocator.  Unfortunately HttpWebRequest does not accept cancellation tokens, so I'm not sure there's an easy way to use one here.

[2015-09-24 06:18] zodiacon commented on #4
You could use HttpClient instead - it's all async.

[2015-09-24 08:37] zodiacon opened #9 "Interop interfaces"
Hi,

I'm using the debug engine interop interfaces (as well as CLRMD) and some methods accept IntPtr instead of the "proper" interface (e.g. IDebugClient.SetEventCallbacks). I've tried to replace the IntPtr with the "real" interface and use it - and it works just fine (maybe adding MarshalAs with Unmanaged.Interface for safety... but it works regardless).
Would it be possible to set the interfaces

[2015-09-24 17:00] leculver commented on #9
Thanks for the report!

I begun the work to change those from IntPtr over to the real interfaces yesterday, but I see I missed a few.  I just fixed the remaining ones I could find.  Please report any more issues like this (or send a pull request if you have the interest in fixing them yourself).

Nope!  These should definitely be the real interfaces and not IntPtr.  Originally the interfaces here

[2015-09-24 17:00] #9 closed

[2015-09-24 17:01] leculver commented on #4
Good point.  I won't be able to get to it until next week, but I'll add CancellationToken support to the todo list.

[2015-09-24 17:19] leculver opened #11 "ClrMD should provide local variables"
ClrMD should expose local variables and arguments in ClrStackFrame.  This was always on my todo list, but it is such a big work item I haven't taken the time to tackle it.

My current plan of action is to use IXClr interfaces as a baseline level of support (this is what SOS uses in !clrstack -a).  These interfaces unfortunately do not work very well, but they sometimes provide working information.

[2015-09-24 18:23] leculver commented on #6
I am going to use this issue request to track adding MethodTable/EEClass/etc support in ClrMD.  Thanks!

[2015-09-24 18:27] Zvirja commented on #6
Thank you for your answer - really appreciated. Sorry for the belated reply - didn't have enough time today to answer here.

I'll review my projects and will issue you a couple of related issues. Also, I'll issue standalone ticket for MT/EEClass/etc, so this one could be closed.

[2015-09-24 18:32] Zvirja opened #12 "Provide API to get MT/EEClass/MD for Desktop flavor"
Extend ClrMD API and allow to access the following data.

For `ClrType`:
* `MethodTable` address;
* `EEClass` address.

Ensure that `EEClass` data is correct for generics (which could share the same MT, AFAIK).

For the `ClrMethod`:
* `MethodDesc` address.

[2015-09-24 18:35] Zvirja opened #13 "Provide API get ClrType directly by MT & CMT for Desktop flavor"
Extend ClrHeap API and provide with method to get ClrType by MT& CMT pair, without need in object address.

That will allow to store information about types and later re-use it after app restart.

This issue complements the #12.

[2015-09-24 18:38] leculver commented on #6
Sounds good, thanks!

[2015-09-24 18:38] #6 closed

[2015-09-24 21:35] leculver opened #14 "ClrMD should not depend on msdia"
For PDB operations msdia is a giant pain to lug around.  It would be much better if we did not take a dependency on it.

[2015-09-25 01:18] toddreifsteck opened #15 "Readme should include minimum VS is 2015"
Per private email thread, a user tried VS 2013 and was confused.

[2015-09-25 17:14] leculver commented on #15
Thanks for the feedback!  Documentation is on the todo list for next week.  I will add information about this at that time.

[2015-09-25 18:13] leculver commented on #14
Work completed.

[2015-09-25 18:13] #14 closed

[2015-09-25 18:14] leculver opened #17 "ClrMD's pdb reader should support native pdbs"
ClrMD's pdb reader currently only supports managed pdbs.  At minimum we need to be able to look up symbols by RVA in native pdbs for .Net Native support.

[2015-09-28 18:49] leculver commented on #13
I've begun work on this, not completed. You can see the work in progress with recent commits. Keep in mind that method tables are per type and per app domain. A single clrtype type may have multiple methodtables associated with it.  Note that I have named the relevant properties "TypeHandle" as this is more accurate across all versions of clr.

More work coming this week includes getting the app d

[2015-09-28 20:17] Zvirja commented on #13
As long as you're implementing new features, I'm more and more confident I doesn't understand how CLR is designed internally at all :)

Everything looks OK to me, given that type could have multiple MTs. Is this correct for modules that are loaded to the shared domains only? I thought that each AppDomain has its own copy of modules and inner types.

The only note here is whether you keep generics

[2015-09-28 23:13] leculver commented on #13
That is one of the main reasons that I have been hesitant to implement MethodTable support in ClrMD.  ClrMD purposefully attempts to hide a lot of the messy implementation details from you.  Literally the only reason I decided to implement them is so that it can interop with other tools (and to give missing functionality other tools can do).

Keep in mind that there will be a lot of weird corner c

[2015-09-29 01:08] lasherer commented on #13
The solution of some problems are in the gore details though. So, making at available at least on demand can help a lot of people without impacting those who still cannot find any use yet 😊

Sent from my Windows Phone
________________________________
From: Lee Culver<mailto:notifications@github.com>
Sent: ‎9/‎28/‎2015 6:13 PM
To: Microsoft/clrmd<mailto:clrmd@noreply.github.com>
Subject: Re: [clrmd

[2015-09-30 10:09] Zvirja opened #19 "Cannot get ClrRuntime from ClrThread"
There is no way in API to get `ClrRuntime` object for given `ClrThread` object.

We should extend API to provide cross-reference.

[2015-09-30 12:20] Zvirja opened #20 "Provide API to get ComponentElementType for ClrType"
Currently you can get ComponentType for array only, no way to get ComponentElementType.

Extend API to return that value.

[2015-09-30 18:03] Zvirja commented on #19
The same goes for the `ClrAppDomain` type.

I'm not sure whether this is by design or it makes sense to register that as issues/wishes.

[2015-10-01 00:56] leculver commented on #19
Fixed in this changeset:  https://github.com/Microsoft/clrmd/commit/5b77b22cf45be088da4b41115dcdb31805660a84

[2015-10-01 00:56] #19 closed

[2015-10-01 00:59] leculver commented on #20
Can you provide an example of what you are looking to get here?  I'm not 100% sure what you are asking to expose through the public surface.

[2015-10-01 01:01] leculver commented on #13
Added the basic support for this now.  Next up will be methoddescs and EEClass support, but I'm using the other issue to track that.  As such I'm closing this issue as completed.

[2015-10-01 01:01] #13 closed

[2015-10-01 15:49] ktrance commented on #11
We have a few windbg extensions that uses ICorDebug, so wouldnt it be possible to get ICorDebug(mscordbi.dll) from the symbol server? Visual studio seems to have this ability as we  normally opens dumps in visual studio, let it download mscordbi, then go back to windbg.

[2015-10-01 16:41] leculver commented on #11
Yep that is possible and what I plan to do when implementing this feature. I have it very tentatively marked for work sometime in October but that may be too soon with other work I have to do.

[2015-10-01 18:58] Zvirja commented on #20
My issue was following. I have array object address and ClrHeap object. Depending on whether this is array of `object` or `struct`, I need to use `GetArrayElementValue` or `GetArrayElementAddress` API.

Now I need to somehow figure out what kind of data this array contain. I can use `arrayObjType.ArrayComponentType.ElementType == Struct`, but it looks like that if `Microsoft.Diagnostics.Runtime.De

[2015-10-02 07:00] ktrance opened #21 "Compiling WindbgExtension in release (Mixed mode) does not generate exports"
Hi,

When compiling the windbgextension sample in Visual Studio 2015 release mode (Mixed mode) does not appear to generate exports of methods marked with [DllExports], this work in debug mode.  The missing exports makes it impossible for windbg to find the extension point.

To reproduce simply compile in release.

When running dumpbin /exports windbgextension.dll the exports are correct in debug:

[2015-10-02 16:08] ktrance commented on #21
Ok, played a little more with it and it turns out if you change the platform target under release(mixed mode) from any CPU to X64 the exports show up.

[2015-10-02 16:09] #21 closed

[2015-10-03 17:26] Zvirja opened #22 "Add tags to indicate which exact commit is pushed to Nuget"
I've noted that recently you pushed new version of the library to [NuGet](https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime). However, this repository doesn't contain any tag.

It would be cool to track that, so we can better understand which changes were pushed. I'd suggest use tagging for that.

[2015-10-04 13:04] leculver commented on #22
This will be done when we push nugget releases. However there is not a current tag because we released the last NuGet package we had not created this project and released source. Currently there is no tag/commit for what has been released through NuGet since there's no checking which corresponds to that release.

[2015-10-04 13:05] #22 closed

[2015-10-04 15:24] zvirja opened #23 "Add API to get type information for the generic type instance"
Currently, if you get type for the generic instance, type is resolved correctly, e.g. `List<string>`. That is because MethodTable is unique for each generic instantiation and contains information which particular types were substituted.

It would be great if `ClrType` could return list of types for closed generic type with exact types that were substituted.
Prototype:

[code]

I've briefly checked

[2015-10-06 17:25] leculver commented on #23
I will take a look and see what can be done here.  In general, ISOSDac does not support generics in any meaningful way.  ICorDebug does give this type of information correctly, but the difficult part will be linking a ClrType to a specific ICorDebugClass instance (ISOSDac and ICorDebug work at different levels of abstraction, and stitching the two interfaces together will be non-trivial).

It'll b

[2015-10-08 00:53] leculver opened #24 "Object and field representation (dynamic and otherwise)"
ClrMD should provide a more sensible way to access fields, values, and so on.  Instead of relying on "object GetValue".  Here is some of the previous discussion (edited for brevity and clarity).  I will refrain from putting my opinion here.

There are several primary topics of discussion for this design:
1. Interior flag.
2. Getting a single field/object value.
3. Getting a chain of values.
4.  En

[2015-10-08 03:15] leculver commented on #24
Personally I don't like the o["field"]["field2"] syntax.  It's certainly terse (which is nice), but it looks too ugly.

Here is my general thinking:

1.  I would like to define ClrObject to represent a strongly typed object instance in the target runtime.  You can enumerate them with ClrHeap.EnumerateObjects or ClrHeap.EnumerateClrObjects.
2.  This solution should implement both a static solution

[2015-10-08 03:44] tomasr commented on #24
Looks like a great place to start! A few things I'd like to see (just a raw brain dump at this time).

For basic type conversions, this one is definitely welcomed! At the very least, `Guid`, `DateTime` (`DateTimeOffset`?), `TimeSpan`, and `Decimal` would be a good start.

I'm not a big fan of filling `ClrObject` with conversion routines (`AsDateTime()` and so on). Could we define those as extensio

[2015-10-08 04:39] leculver commented on #12
I have added basic support for getting raw runtime pointers (MethodTable, EEClass, MethodDesc).  I need to spend some time writing documentation on it, but I'm not sure when I'll have time for it.  I've implemented enough I'm going to go ahead and close this issue, but there's two outstanding issues:

1.  I need to make sure there's nothing I missed with EEClass.  I will talk to an expert on the t

[2015-10-08 04:39] #12 closed

[2015-10-08 05:37] JeffCyr commented on #24
That is great,

Some thoughts:

#####  GetInt32Field vs GetField<T>
The specific methods would be more auto-complete friendly

##### Arrays
I agree with @tomasr, conversion to array could be harmful. I suggest creating `struct ClrArray` with the same field as ClrObject, conversion would be a simple field copy. The struct could be `IEnumerable<ClrObject>` and have an indexed property for direct ele

[2015-10-08 17:15] Zvirja commented on #24
Hi @leculver,

Great prototype! Here are my notes (here and later `obj` means the `ClrObject` entity):

1. __Interior__ I've just verified that boxed `structs` have the same `MethodTable` as their non-boxed counterparts (as I expected). It means that for the given `obj` there is no _easy_ way to determine whether current entity is actually object or structure. Of course, we could read the first wo

[2015-10-08 18:39] Zvirja commented on #24
@leculver Could you please create a wiki page for that specifications? I'll describe all my thoughts there and later we will be able to modify it together. It will be much simpler than track comments.

P.S. Let me know if you see that I'm making to much noise regarding such a simple thing.

[2015-10-08 19:21] leculver commented on #24
@tomasr / @JeffCyr:  Good points, we'll avoid converting directly to array, and I do like the idea of ClrArray as a copyable struct for array operations.

@Zvirja, I don't have access to create a wiki on this project.  I've asked one of the people who can to see what they can do.

1.  Yep, there's no getting around tracking if it's an interior pointer or not.  I planned to steal the upper bit of _

[2015-10-08 19:33] tomasr commented on #24
@leculver FWIW, I'm perfectly OK with `ClrObject` being a struct. It makes it easier to implement filtering on heap objects using regular LINQ expressions / commands on the resulting `IEnumerable<ClrObject>` rather than having to provide custom lambda expressions to minimize allocations (this suddenly becomes very important when you're dealing with 50+ million objects on the heap!)

We should also

[2015-10-08 20:05] Zvirja commented on #24
Thanks for the answers.

@leculver

Let me comment this particular code snippet. I believe that we should fail with exception if we are unable to find field, rather than return `null` values. Also, the `GetXXXField()` method could return either: primitive (not null), ClrObject (if this is a struct) or String. Only strings can be null, so I don't see a scenario when the chain above is possible.

Th

[2015-10-08 20:05] JeffCyr commented on #24
##### Class vs Struct
I think the general rule of thumb is that struct performs better than class for size <= 16 bytes. Since ClrObject would be 16 bytes (in x64), struct should perform better.

##### Null ClrType
What would you think of the Null Object pattern for ClrType? There could be `class NullType : ClrType` for null reference and `class InvalidType : ClrType` for invalid object address. Th

[2015-10-08 20:09] Zvirja commented on #24
@JeffCyr

Great! Like it very much! It's a pretty simple idea - why haven't I invented myself? :(

[2015-10-08 20:18] Zvirja commented on #24
@JeffCyr

By the way, what do you mean by the invalid object address? Could you provide a couple of examples?

[2015-10-08 20:43] leculver commented on #24
@Zvirja

When inspecting a process or crash dump, you may encounter a corrupted heap, or simply inconsistent state...  The latter being that even though the heap isn't corrupted, the runtime or GC might be in the middle of updating data structures as you stopped the process in the debugger...leading to debugging APIs not being able to correctly make sense of the state of the process.  Heap corrupt

[2015-10-08 20:50] Zvirja commented on #24
Great, thanks.

In this case, likely, we have to add one more flag to the `ClrObject`.. Something like `IsInvalid` with appropriate description. This is something new to me, but now I understand that indeed, that could happen.

[2015-10-09 02:57] leculver commented on #24
Here are some more thoughts after looking over the feedback:

1.  The InvalidType concept is a good one, and resolves some issues here.  ClrObject._type will always have a value in this case, and we can always get at the heap.
2.  Specialized ClrArray types is the right approach, and well as not having a direct "ToArray" that creates a real in-memory array.  I think there will be three array types

[2015-10-09 03:18] jazzdelightsme commented on #24
7. Yes, I think it should throw.

[2015-10-09 06:52] JeffCyr commented on #24
What do you think if there is only one `ClrObject GetField(string name)` method that works with class, stuct and primitive types? It would simplify the usage and I don't see a performance hit.

In the same line of thought, there could only be one ClrArray class instead of ClrObjectArray/ClrStructArray.

[code]

##### o.GetInt32Field("foo") vs o.GetField("foo").AsInt32()
Concerning the specific Get

[2015-10-09 07:05] JeffCyr commented on #24
@leculver It can be annoyant, but I agree with @jazzdelightsme I think the most natural/intuitive behavior is to throw an exception on GetField and GetXXXField if the field is missing or the object is null.

[2015-10-09 07:20] JeffCyr commented on #24
##### Extensible conversions
Creating custom extension method works fine when using ClrObject, but it may pose a problem when using the dynamic accessor.

An approach could be to register custom conversion somewhere in a static class and to use them automatically in a generic `ClrObject.As<T>` method and DynamicObject.TryConvert

[2015-10-09 11:21] tomasr commented on #24
You can already invoke extension methods like regular static methods, so what would be the point?

[2015-10-09 15:47] JeffCyr commented on #24
@tomasr Yeah it's true, we could keep the AsXXX static methods instead of a generic `ClrObject.Convert<T>`. The AsXXX methods would be more discoverable to know if a conversion exists.

Here's a more detailed explanation of my concern. If I create a custom converter for type `MyClass`, I expect it to work when I do
[code]

This won't work automatically if my custom converter is an extension method

[2015-10-09 18:13] leculver commented on #20
Sorry I just got back around to this one.  Checking to see if something is an array of structs or primitives should be done like this:

`bool isArrayOfStruct = clrType.IsArray && clrType.ComponentType.IsValueClass;
bool isArrayOfPrimitives = clrType.IsArray && clrType.ComponentType.IsPrimitive;`

IsValueClass returns whether ElementType matches ClrElementType.Struct exactly.  (Perhaps this termino

[2015-10-12 16:43] Zvirja commented on #20
If `clrType.ComponentType` never returns `null`, I'm fine with this approach and you can close this.

If sometimes `clrType.ComponentType` could be null while `clrType.m_arrayElementType` is not null - I'd like to have both properties to use the second one as a fallback.

[2015-10-12 17:19] leculver commented on #20
ClrType.ComponentType should never be null when ClrType.IsArray returns true.  If it ever returns null for an array type, then that is a bug and you should open an issue for it.

(However, we may create a "fake" ClrType if the underlying Dac APIs cannot construct the correct type for it.  Rare, but it happens.  In that case you may get System.Object or System.ValueType instead of the actual type.

[2015-10-12 17:19] #20 closed

[2015-10-12 19:19] leculver commented on #20
Changeset ab13312014e91a7146e406fde6b1cdef92bf59b2 ensures we always have a type in these cases.

[2015-10-12 19:31] leculver commented on #24
@JeffCyr

Agreed.

ClrHeap.EnumerateObjects already finds the exact ClrType, so you are right that particular case won't be expensive.  However, when dealing with fields, it will be costly.  That's because it's always expensive to read memory from the target process (walking the heap is OK because we batch up the reads).

Something like `int i = (int)o.Dynamic.field1.field.i2;` could hit the case

[2015-10-13 18:11] JeffCyr commented on #24
@leculver Alright, I guess it's a free optimization for most usage. However since the struct becomes mutable with the lazy exact type, it becomes easy with linq queries to set the exact type on a copy of the struct multiple times on different copies and perform even more exact type fetching.

Maybe the lazy exact type is still the correct trade-off, it's just something to be aware though.

[2015-10-13 18:17] leculver commented on #24
Yep, that's also a concern.  I don't know what the right tradeoff is right now, but I also haven't sat down to really design it and think through everything.  This issue was a good brainstorming session, and I'll see where it lands.  The Linq case is a compelling one...though I'd envisioned that most linq queries would be primarily running through the heap (which has exact types), and less through

[2015-10-20 16:14] jazzdelightsme opened #25 "IXCLR interfaces can outlive the DAC dll, causing AV on process shutdown"
In the DacLibrary finalizer, we FreeLibrary the DAC. Unfortunately, sometimes some IXCLR* RCWs can live past this point, and then when the process is shutting down and the CLR is trying to call Release() on them, it AVs (because it's trying to call into an unloaded DLL).

In the past I've worked around this in my own copy of the code by simply commenting out the FreeLibrary, but I've accidentally

[2015-10-20 16:16] jazzdelightsme commented on #25
Problem repro in DbgShell (run under a debugger to witness the AV):

[code]

[2015-10-20 16:46] leculver commented on #25
Before we go so far as intentionally leaking the dac, can you try this out?

            Marshal.FinalReleaseComObject(_dac);
            if (_library != IntPtr.Zero)
                NativeMethods.FreeLibrary(_library);

In DesktopRuntimeBase.EnumerateStackFrames, wrap that block with a try/finally, where the finally is:

            finally
            {
                if (task != null)

[2015-10-20 17:11] jazzdelightsme commented on #25
I've tried to FinalRelease the _dac in the past, but I'll be happy to give it another go along with that other change.

[2015-10-21 05:52] leculver commented on #25
Fixed in changeset 4fa26f39c8c057abf0e2a67d735369ce4766fa07.

[2015-10-21 05:52] #25 closed

[2015-10-26 07:24] ppekrol opened #29 "System.DllNotFoundException"
Hi,

we are using ClrMD in RavenDB to get stacktraces of our process. In most cases it works properly (had some issues with .NET 4.6 but latest version resolved that problem - thanks), but on some we are getting following exception:

[code]

Not sure what is the reason and why it only happens on some machines.

I would appreciate your help/feedback.

This is how it works on our side:
1. We are sen

[2015-10-26 19:26] leculver commented on #29
Hmm.  That's an interesting one.  Does it fail 100% of the time on those machines, or does it happen intermittently?

dngeng.dll is a windows component, it should be located on every machine in "C:\Windows\System32\dbgeng.dll".  For the machines this does not work on, can you check to see that this file exists and isn't corrupted?  (Hard to check the latter but at least make sure the file isn't of

[2015-10-27 07:42] ppekrol commented on #29
Thanks for quick reply. Here are my findings:

1. It fails 100% of times when ran from RavenDB on those machines and 0% of times when run manually from CMD or console application (strange?)
2. The DLL exists in C:\Windows\System32
3. After removing the DefaultDllSearchPaths it still fails
4. LoadLibrary returns success

Maybe the problem is not that DLL cannot be found but 'The specified procedure

[2015-10-27 08:16] lasherer commented on #29
It looks like a path lacking in the account running RavenDB. Is there a profile created for such account? It can also be lack of rights in RavenDB account.
Try procmon to verify dll loading errors.

Sent from my Windows Phone
________________________________
From: Paweł Pekról<mailto:notifications@github.com>
Sent: ‎10/‎27/‎2015 2:42 AM
To: Microsoft/clrmd<mailto:clrmd@noreply.github.com>
Subject:

[2015-10-27 08:37] ppekrol commented on #29
I do not see anything out of order in procmon (screen: http://1drv.ms/1GFDLb1) and the account I'm using have Administrative privileges (Win 10 x64 Pro).

[2015-10-27 14:09] ayende commented on #29
@ppekrol What happens if you try to do a File.Read on tha tpath

[2015-10-28 07:11] ppekrol commented on #29
I've read the dbgeng.dll without any problems using Raven.Debug

[code]

[2015-10-28 17:28] leculver commented on #29
One last thing to try.  Can you successfully run this program on the machines where this is failing?

https://gist.github.com/leculver/b48d6c7eb5a99f94af5a

[2015-10-28 19:49] ppekrol commented on #29
Here are my findings from running your code:

I. Running from CMD
1. Compiled as x64: works
2. Compiled as x86: works

II. Spawning process from RavenDB WebAPI controller (Environment.Is64BitProcess returns true)
1. Spawning x64 compiled code: error (see below)
2. Spawning x86 compiled code: works

Error is:
"The procedure entry point SetSymLoadError could not be located in the dynamic link librar

[2015-10-28 21:18] JeffCyr commented on #29
@ppekrol
It probably has nothing to do with the issue, but why are you setting `LoadUserProfile = true` when you spawn the sub process?

I would also be curious to see if it works when you set `UseShellExecute = true`.

[2015-10-28 21:44] ppekrol commented on #29
@JeffCyr

No good reason I guess for setting LoadUserProfile to true, will remove it, thanks!

Checked with UseShellExecute = true with same results, still fails.

[2015-10-29 02:09] leculver commented on #29
I have asked a few experts around here.  They said dbgcore.dll needs to be in the folder/search path.  Can you check to see if that file exists in your search path?  (c:\windows\system32).  I don't know why it wouldn't be though...

[2015-10-29 07:00] ppekrol commented on #29
It is there, next to dbgeng.dll. This is really strange, because when I run this program from CMD then it all works. It just doesn't when I spawn process from WebAPI controller.

LoadLibrary("dbgcore.dll") loads correctly.

Can I assume that this message
[code]
means that the dbgeng.dll exists and is loaded correctly, but SetSymLoadError is not there (for unknown reason)?

Do you have an idea why

[2015-10-29 07:11] ayende commented on #29
Maybe it is a compact shim?
On Oct 29, 2015 09:00, "Paweł Pekról" <notifications@github.com> wrote:

[2015-10-29 13:45] JeffCyr commented on #29
I found some references that says SetSymLoadError is located in dbghelp.dll. Maybe your WebAPI host exe in x64 has a PATH which include a wrong version of dbghelp.dll. You could validate this by spawning `cmd.exe` with args `where dbghelp.dll` in the WebAPI process.

[2015-10-29 20:19] ayende commented on #29
On my machine, I get this error:

      The procedure entry point SetCheckUserInterruptShared could not be located in the dynamic link library C:\windows\SYSTEM32\dbgeng.dll.

There is a similar error here https://github.com/VerySleepy/verysleepy/issues/7#issuecomment-35243996

With the core of the issue:

     we load the system dbgeng, which then tries to load dbghelp, but instead of loading the

[2015-11-01 04:53] leculver commented on #24
I have a pull request open here which has a basic implementation:  https://github.com/Microsoft/clrmd/pull/30

I do not intended to merge this PR until next weekend if there are any comments on the code or design.  Please do not consider any of this finalized until it goes into the master branch and I've shipped a NuGet package containing it.

[2015-11-04 02:54] opulos opened #31 "DataTarget.ClrVersions crashes when reading live process v0.8.31"
The exact same code, parameters and process work using v0.8.30. So it seems like a new problem.

`DataTarget dataTarget = DataTarget.AttachToProcess(processId, timeoutMillis, attachFlag);`

ProcessId is process to a running .NET program.
timeoutMillis = 5000
attachFlag = Passive

Then accessing dataTarget.ClrVersions crashes on this line:
`if (ReadMemory(moduleBase + 0x3c, buffer, buffer.Length, o

[2015-11-04 03:01] opulos commented on #31
Note: This error occurs when using the source code zip you provided in your latest post. However, it seems the error does not occur when using the DLL from nuget.

[2015-11-04 18:55] leculver commented on #31
Thank you for the bug report!  I will not be able to take a look until this weekend, but I'll be sure it's fixed asap, and certainly before publishing a NuGet package.

[2015-11-11 16:06] keithfink opened #32 "DataTarget.CreateFromDebuggerInterface Throws Exception"
When natively instantiating an instance of IDebugClient via DebugCreate, and then passing it into  DataTarget.CreateFromDebuggerInterface method, the following exception is thrown:

Microsoft.Diagnostics.Runtime.ClrDiagnosticsException was unhandled
  HResult (System.Exception)=-2128281598
  HResult=-2128281598
  Message=Failed to get proessor type, HRESULT: 8000ffff
  Source=Microsoft.Diagnostics

[2015-11-13 02:28] leculver commented on #32
Apologies for the delay in responding, it's been a busy week.  I suppose this should be better documented, but CreateFromDebuggerInterface expects that you have set up IDebugClient in a way such that it is ready to be used.  The HRESULT is the giveaway:  0x8000fff is the "catastrophic" error code that dbgeng hands out when it's not ready for the APIs that are called.  The goal with this API is to

[2015-11-13 14:56] keithfink commented on #32
Hi Lee,
Thank you for the response! Yes, this is certainly helpful. I actually figured this out yesterday morning and the key was the call to WaitForEvent. Once I added that, it started working.
The reason I used this approach is because in addition to all the great things ClrMd offer, I would also like to be able to execute debugger commands via IDebugControl::Execute / ExecuteWide. I didn't see

[2015-11-19 17:41] mattwarren opened #33 "Create a list of which SOS commands can be implemented in ClrMD"
It would be nice to have a list/table that shows which [SOS Commands](https://msdn.microsoft.com/en-us/library/bb190764%28v=vs.110%29.aspx) can be implemented directly or indirectly with ClrMD. Maybe even include code sample directly or have links to a sample in the source.

Then it would be easy for people to understand what ClrMD can or cannot do.

[2015-11-19 18:00] mattwarren opened #34 "Implementing the SOS -u command"
I'm trying to use ClrMD to print out the assembly code of a method, as part of a [Benchmarking library](https://github.com/PerfDotNet/BenchmarkDotNet) I'm working on

At the moment I use code similar to the [Machine Code](https://github.com/Microsoft/clrmd/blob/master/Documentation/MachineCode.md) sample to get the memory address, then I use code like this to get the assembly code (where `debugCon

[2015-11-19 18:13] mattwarren commented on #34
Just for reference, if I create a full memory dump of the same process, load it into WinDbg and then run the SOS command `-u`, I get the following method names resolved, i.e.:

[code]

Here's the full output:
[code]

[2015-11-20 20:33] #32 closed

[2015-12-01 19:06] leculver commented on #34
Sorry for the (long) delay in responding.  Things tend to be very slow around here from the end of November to January 1st.  I have been on vacation.

IDebugControl doesn't know anything about CLR constructs.  In fact, the implementation !u in SOS actually captures the output of IDebugControl::Disassemble, runs it through text processing, resolves references to managed code, and does inline text r

[2015-12-03 18:22] leculver commented on #33
This is a very reasonable request, but one that is a bit hard to come up with in practice.

My goal starting this project ages ago was that ClrMD should be able to do **everything** that SOS can do.  (Well, more specifically it would give you all the building blocks to build what SOS can do...which is a big distinction.)  However there are some things that are missing that require a large amount o

[2015-12-03 19:29] JeffCyr opened #35 "Getting the method name of a Delegate instance"
It's difficult to find the corresponding method of a Delegate instance while debugging with clrmd, sos have the same limitation.

This blog explained how to do it with windbg + sos:
http://geekswithblogs.net/akraus1/archive/2012/05/20/149699.aspx

I translated that to ClrMD and it work with instance delegate (I think it won't work with static methods).

[code]

This is very hacky and does not work

[2015-12-03 19:57] leculver commented on #35
I agree there should be a method in ClrMD to do the dirty work for you.  I'll add that to the todo list.

Also, your last line of code you should be able to replace with this:

    ClrMethod method = clrRuntime.GetMethodByHandle(methodDescriptorPtr);
    return method.Name;  // or return the method itself

As for it not working on all instances...sometimes _methodPtrAux is set and it means somethi

[2015-12-04 10:00] mattwarren commented on #34
Thanks for the reply, it's very helpful. It turns out that I'm actually already parsing the output in the same way it that SOS !u (based on your description), so that's cool. Although I was creating a lookup of `method address` -> `name`, I somehow missed `ClrRuntime.GetMethodByAddress`, so thanks for that.

Also thanks for the tips about the symbol paths, for anyone else who finds this issue I'm

[2015-12-06 16:35] gusev-p opened #36 "It would be nice to have api to explore thread logical call context"
Scenario: in our generic diagnostics code for http service we want to dump thread stacks with corresponding http urls/ports. We save url/port via CallContext.LogicalSetData for incoming http requests and dispatch them to Task.Factory.StartNew. Request processing code can use async/await, so there can be more than one thread for each request. In the current version of this diagnostic we use some Ta

[2015-12-18 19:02] leculver commented on #29
Haven't heard back on this one in a while, but it sounds like ayende's analysis is correct here.  Please feel free to reply here if this is still an issue for you.

[2015-12-18 19:02] #29 closed

[2015-12-26 16:39] rupreetg opened #37 "Exception.Message breaking in minidump analyses"
I am debugging a minidump using CLRMD and I am getting  `_firstChar`  as null in `GetStringContents` method in `Desktop\heap.cs` file. This causes to break the if condition and we get a Object null reference exception -
 if(_firstChar.Type == null)

Commit: https://github.com/Microsoft/clrmd/commit/dee390816397ee6fda374b870489140720c810a5

In what scenario is _firstChar null (though I'll dig more

[2016-01-13 10:14] idofl commented on #29
Not sure if it's the same thing, but I also encountered the dbgeng exception, also on a machine running .NET 4.6.1.
In my case, the solution was to remove the "prefer 32-bit" flag in the project's build settings. Once it ran as a 64-bit console app, it managed to load the dll.

[2016-02-12 08:21] DianaKoenraadt opened #38 "ClrVersion reports Visual Studio version instead of clr.dll version"
Having made several memory dumps on the same machine in one run, the last memory dump, when reading it using Microsoft.Diagnostics.Runtime, reports version v12.0.52512.00, which seems to be the Visual Studio version, rather than the clr.dll version of the machine (4.0.30319.34209) (that all other memory dumps report)

My main issue here is that I cannot seem to find the _exact_ place in code in CL

[2016-02-12 08:25] DianaKoenraadt opened #39 "Using newer .Net .dlls"
I've made some memory dumps on my local machine, which has .Net 4.6
However, when reading these memory dumps, the version reported is 4.0.30319.34209 because the application is a .Net 4 application.

Due to the reported version being different than the .dlls present on my machine, I cannot use mscordacwks.dll from my machine. However, I feel this should be possible, as it is the same machine on wh

[2016-04-02 15:56] rvmaccount opened #42 "TryGetDacLocation not found"
Per the getting started example, CLRInfo has a method named TryGetDacLocation however from the latest version this method is missing.

Usage in the sample

 string dacLocation = version.TryGetDacLocation();

Instead ClrInfo .LocalMatchingDac property should be used.

[2016-05-05 23:55] kkokosa opened #44 "Deadlock in ClrInfo.CreateRuntime method."
## Steps to reproduce

Call following code from WPF main thread (e.g. as a Command):

[code]
## Actual behavior

WPF application freezes on `version.CreateRuntime()` call because of the deadlock:

![issue4](https://cloud.githubusercontent.com/assets/11159779/15060611/90a0de0a-132c-11e6-9315-4fef050f8ce7.png)

Because of the waiting on async, which in fact should be avoided in generic purpose libra

[2016-08-14 14:46] goldshtn opened #46 "x64 stack walking is broken"
The NuGet version works fine, but with `master` I'm getting UNKNOWN frames for any managed method in a 64-bit process. After running `git bisect` I was able to pinpoint https://github.com/Microsoft/clrmd/commit/3a6a4303c54092ad2e9efee6fad5d68e33663b6e as the problematic commit. I assume it's part of the move to the `CorDebug` interfaces.

[2016-08-15 07:51] weltkante commented on #46
It's suspicious that as part of that commit it only does `BitConverter.ToUInt32` on what looks to be a pointer. Might be truncating 64 bit adresses. Old code used `BitConverter.ToUInt64` at least in one of the places.

[2016-08-19 07:02] stjeong opened #47 "ClrThread.StackTrace memory leak"
To repro, I just write a program like this,

[code]

about 50MB leaks per every seconds.

[2016-09-05 11:05] herebebeasties opened #49 ""Unknown custom metadata item kind: 6" in PdbFunction.ReadCustomMetadata"
Using the example code from `FileAndLineNumbers` I get the following:

[code]

https://github.com/jbevain/cecil/issues/186 suggests that this might be fixed with this:
https://github.com/jbevain/cecil/commit/d33d51499a0c19238f41db5a06ab01b1f7aae210

[2016-10-22 13:48] ayende commented on #34
@mattwarren Is the disassembly code available?

[2016-10-22 13:56] ayende opened #50 "Is there a way to use ClrMD from the CoreCLR?"
A brief look shows that it relies on internal calls, so that blocked me from trying to just recompile.
I'm assuming that there is more to it than that?

[2016-10-24 10:47] weltkante opened #51 "PEFile utilities have buffering issues"
- In PEFile::GetPdbSignature there is a 'break' instruction which skips freeing the buffer cache
- The current cache size is 1 buffer, but this method uses 2 at the same time. You may want to consider increasing your cache size to 2 to cover the common case.

https://github.com/Microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/Utilities/pefile.cs#L118

[2016-10-26 10:05] mattwarren commented on #34
@ayende Unfortunately I never finished the disassembly code, but if you want a working version take a look at the excellent [msos](https://github.com/goldshtn/msos) library from @goldshtn.

It's built on-top of CLRMD and supports the `!u` cmd, see here https://github.com/goldshtn/msos/blob/master/msos/Disassemble.cs

[2016-10-31 22:23] discostu105 opened #52 "SymbolPath not parsed correctly (SymPathElement with more than two elements)"
Had a problem with a SymbolPath like that:
`cache*c:\symbols;srv*\\mysymstore1*\\mysymstore2*http://msdl.microsoft.com/download/symbols`

It just would not download any symbols from the MS symbol store. Figured, that the problem is in `SymPathElement.ctor(string)`. The regex there only expects two symbol locations at max.

`element.Target` basically ends up with `\\mysymstore2*http://msdl.microsof

[2016-11-11 07:49] mitikov opened #53 "Cannot load runtime for 4.6"
Hey folks,

I get following exception when trying to load MD generated on 4.6+

[code]

Example is 4.6.1085 mscordacwks.dll version, but it seems to take place for all 4.6 =\

What steps should I take to help you overcome the behavior ?

Thanks.

[2016-11-11 18:12] weltkante commented on #53
It looks like it picks the wrong runtime. I had that problem in some older version of this library but thought it had already been fixed. Did you build the library from source or used some prebuilt version, if so which?

[2016-11-14 02:09] mitikov commented on #53
Hi @weltkante,

Thanks for looking in to this request :)

Referenced assembly seems to be outdated indeed (0.8.25 modified in January, 2015).

I`ll try to use a newer version, and will let you know the results.

Thanks again.

[2016-11-20 21:31] jazzdelightsme opened #54 "Better way to screen out NativeThread objects?"
The NativeThread class is just a stub (everything throws NotImplementedException).

When enumerating managed threads, I need to filter out these NativeThread objects, because they don't actually do anything but throw. Unfortunately, I don't see a good way to do it other than reflection:

[code]

What's the plan for this class--will it eventually be filled in? Or if they are only ever meant to be a

[2016-11-22 03:41] mitikov commented on #53
Hi @weltkante,
Using a newer runtime did the trick, thanks !

[2016-11-22 03:41] #53 closed

[2016-11-25 10:52] mitikov commented on #46
Switching to `BitConverter.ToUInt64` did the trick for me 👍

Thanks guys.

[2017-01-07 21:00] karelkral opened #57 "Can you provide managed thread name?"
I am missing analogy of Thread.Name in ClrThread.

[2017-01-20 23:56] #46 closed

[2017-01-21 00:02] leculver commented on #44
Thanks!

[2017-01-21 00:02] #44 closed

[2017-01-23 22:41] Alois-xx opened #60 "Multi Attach not working"
DataTarget behaves strange when I attach to more than one processes at a time. The returned heaps from both processes are identical which cannot be.
Wrong:
D:\Source\git\clrmd\src>D:\Source\git\clrmd\src\MultiAttach\bin\Debug\MultiAttach.exe 15728 7832
Heap: ClrHeap 22.434048mb 3 segments, Heap2: ClrHeap 22.434048mb 3 segments

Expected:
D:\Source\git\clrmd\src>D:\Source\git\clrmd\src\MultiAttach\

[2017-02-16 20:05] tomasr opened #61 "NullReferenceException in GetThreadByStackAddress()"
The following exception can happen when trying to obtain the stack trace of an exception and ClrRuntime.Threads has not been initialized yet:

[code]

[2017-02-20 21:15] tomasr commented on #57
I don't think there's an easy way to get this.

The DAC requests don't provide access to `clr!THREAD::m_ExposedObject`, which would allow you to actually fetch the matching `System.Threading.Thread` object for the thread (from which you could read the `m_name` field).

[2017-02-21 02:41] JeffCyr commented on #57
You can enumerate the `System.Threading.Thread` objects and match the `ClrThread` with the managed thread id with `m_ManagedThreadId`

[2017-02-23 23:55] ezolenko opened #63 "clrmd doesn't request pdbs for minidumps created without MiniDumpWithModuleHeaders flag"
I'm parsing minidumps created as a last resort just before an unhandled exception escapes (in `AppDomain.CurrentDomain.UnhandledException`).

I'm finding that if I omit MiniDumpWithModuleHeaders when creating the dump, clrmd fails to request pdb files from symbol server when I'm going through exception stack frame and attempting to extract source info (exactly like in FileAndLineNumbers sample). E

[2017-03-01 23:07] Zero3 commented on #49
I'm getting the same error, but with kind 7 :/.

[2017-03-06 17:44] 0xd4d opened #64 "DataTargetImpl.ClrVersions can't find .NET Core DACs"
.NET Core uses filename `mscordaccore.dll` and not `mscordacwks.dll`. Since it can't find the file, ClrInfo.LocalMatchingDac will always be null.

[2017-03-13 13:41] Fread75 opened #66 "[Bug] Incomplete signature for some generic methods"
I've made a simple test by adding the method :

`public T3 GenericBar<T1, T2, T3>(Func<T1, T2, T3> a) { return a(default(T1), default(T2)); }`

in the unit tests, in the SharedLibrary file, class `Foo`.

A call to the `GetFullSignature` method on the object `DesktopMethod` returns an incomplete signature. It seems to be the case when several generic parameters are implicated, but it is not systema

[2017-03-13 13:55] Fread75 opened #67 "[Bug] DesktopMethod.Name property : missing first characters for some cases"
In the case of a cached property, the `Desktop.Name` property will return something like `".ctor>b__0"` instead of `"<.ctor>b__0"`.

Suggested implementation to get the name of a method : take the signature, and remove the beginning part that matches the original name of its type (the original name of a type is the name returned by `DesktopRuntime.GetTypeName`, without going through the `FixGeneri

[2017-03-13 13:58] Fread75 opened #68 "[Enhancement] Add a ParameterTypes property to ClrMethod"
A simple property returning an array of string representing the types of the parameters of the method.

[2017-03-13 14:11] Fread75 opened #69 "[Enhancement] Keep the arity of generic types in their name construction"
Current behavior : if the name for a type is something like:
`the.namespace.of.my.object.ObjectName'2[[System.Canon, mscorelib], [System.Canon, mscorelib]]`

ClrMd will immediately correct it into :
`the.namespace.of.my.object.ObjectName<T, T>`

=> Arity has been dropped
=> Brackets changed to chevron
=> System.Canon changed to T

My suggestion is that arity should be kept :
- For some generic typ

[2017-03-13 14:59] Fread75 commented on #66
Hello,

I am currently using ClrMd for a professional project, and my company doesn't allow us *yet* to contribute to open source projects (mostly for legal reasons). They are working on it and in a few months, I would be authorized to submit a pull request to your repo.

In the mean time, I am working on a local clone of your repository. And I create here all the tickets that correspond to the co

[2017-03-13 14:59] Fread75 commented on #68
Hello,

I am currently using ClrMd for a professional project, and my company doesn't allow us *yet* to contribute to open source projects (mostly for legal reasons). They are working on it and in a few months, I would be authorized to submit a pull request to your repo.

In the mean time, I am working on a local clone of your repository. And I create here all the tickets that correspond to the co

[2017-03-13 15:00] Fread75 commented on #69
Hello,

I am currently using ClrMd for a professional project, and my company doesn't allow us *yet* to contribute to open source projects (mostly for legal reasons). They are working on it and in a few months, I would be authorized to submit a pull request to your repo.

In the mean time, I am working on a local clone of your repository. And I create here all the tickets that correspond to the co

[2017-03-13 15:01] Fread75 commented on #67
Hello,

I am currently using ClrMd for a professional project, and my company doesn't allow us *yet* to contribute to open source projects (mostly for legal reasons). They are working on it and in a few months, I would be authorized to submit a pull request to your repo.

In the mean time, I am working on a local clone of your repository. And I create here all the tickets that correspond to the co

[2017-03-15 02:04] #64 closed

[2017-03-16 18:10] #61 closed

[2017-03-16 20:20] leculver commented on #63
Sorry for the delay.

I haven't put this under a debugger directly yet, but it's my understanding that MiniDumpWithModuleHeaders does what it says...places module headers into the minidump.  For example, if you have a crash dump without MiniDumpWithModuleHeaders, is there any data at the beginning of a module?  In WinDbg:

    0:000> lmm clr
    start             end                 module name

[2017-03-16 20:39] leculver commented on #67
Can you give an example?  I tried this in b30b597bc47d5fb1e335e6ca97649d4425baa188, but obviously I am not thinking of the right code pattern to generate that property.

[2017-03-17 12:37] Fread75 commented on #67
One example could be created by adding the line :
`lambda = x => x + 1;`
Into the constructor of the class Foo.
The lambda would be cached and a method `<.ctor>b__0` will be generated.

[2017-03-21 03:20] mitikov opened #73 "ClrObject should be be IEquatable<ClrObject>"
Please implement generic [IEquatable](https://msdn.microsoft.com/en-us/library/ms131187(v=vs.110).aspx) interface for ClrObject struct.

This would allow to:

1. Define equality & inequality operators ( API usability )
1. Override [stock Equals](https://msdn.microsoft.com/en-us/library/ms182276.aspx), and GetHashCode methods ( performance, API usability )

[Sample pull request](https://github.com/

[2017-03-22 19:42] #73 closed

[2017-03-23 18:14] ezolenko commented on #63
If I understand the process correctly what happens is that clrmd attempts to read PE header from minidump and get pdb guid and age from there, while VS downloads the binary from symbol server first and then reads PE header from the complete downloaded binary before trying to find pdb.

I think this workflow will fix this issue (and is more correct in principle):
- read module information from the

[2017-03-23 20:46] Zero3 commented on #47
I'm also seeing a memory leak doing almost exactly what you posted :/.

[2017-03-23 22:15] leculver commented on #63
Ahh, using [https://msdn.microsoft.com/en-us/library/windows/desktop/ms680392(v=vs.85).aspx](MINIDUMP_MODULE).  I will take a look into this, but I've been considering some changes at the bottom level of clrmd.  It may have to wait until I can finish that work before I get back around to this.

[2017-05-05 11:36] mattwarren commented on #35
FYI this table [from the CoreCLR source](https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/vm/comdelegate.cpp#L3547-L3567) explains the difference usages of `_methodPtr` and `_methodPtrAux`:

[code]

[2017-05-10 20:46] discostu105 opened #76 "When will there be a new nuget release of CLRMD?"
CLRMD is a great library and we're actively using it (https://github.com/Dynatrace/superdump).

The last (and only) release of CLRMD was in October 2015 (0.8.31-beta, which is also on nuget.org). Clearly, some work has been done on the library since then. Are there plans for a new release? Should we build CLRMD ourself to get the latest and greatest bits?

[2017-05-23 21:31] chuanboz commented on #76
+1, find this cool library and want to know when is it officially released so we could reference it in production.

[2017-05-30 18:37] leculver commented on #76
I am working on this now (but can't promise any ETA).

ClrMD fell into a window of time before we really figured out the open source thing.  This project was one of the first to be open sourced and didn't get update to work like other projects (such as coreclr/corefx).  As such it's not up to date with our current workflow, which is why it's been so long since release.

[2017-05-30 20:41] discostu105 commented on #76
Thanks @leculver! It's great to hear that something is happening at least.

[2017-06-01 17:30] dudikeleti opened #78 "Unable to load DLL 'dbgeng.dll': The specified procedure could not be found. (Exception from HRESULT: 0x8007007F)"
Note: There is already an [issue ](https://github.com/Microsoft/clrmd/issues/29) similar to this but it's pretty old and its closed.

ClrMD version: 0.8.31.0
.NET Framework: 4.5.1
Architecture: 86 and 64
OS: Windows 10

dbgeng.dll exist in c:\windows\system32 (also dbgcore and dbghelp if it matter)

When I call `DataTarget.AttachToProcess(id, milliseconds, AttachFlag.NonInvasive)` I got this error

[2017-06-06 16:44] tysmithnet opened #79 "Is it possible to get !runaway times?"
We're using CLRMd for automated memory dump analysis, and we'd like to be able to get the sos !runaway times. Is it possible to do this with CLRMd?

@karelz :)

[2017-06-06 17:04] karelz commented on #79
@leculver the other spin (assuming ClrMd doesn't support it) on this might be: How to use !runaway in pure windbg. I know it doesn't belong here, but I thought this may be best communication channel for this particular case and maybe ClrMd already does support it :).
If you disagree (which is possible), I apologize and will happily use/guide people to use more appropriate channel. Thanks!

[2017-06-06 17:34] leculver commented on #79
Karel is correct, using WinDbg for this is how you would need to do it.  ClrMD is a view over managed code, and isn't intended to be a general debugging api for more OS and native code specific stuff.

Here's some code I've used in the side project I've been building (I make no claims on correctness or code quality):

        class ExecuteWrapper : IDebugOutputCallbacks, IDisposable
        {

[2017-06-06 20:22] tysmithnet commented on #79
Thanks, @leculver I'll give this a shot.

[2017-06-06 20:22] #79 closed

[2017-06-06 20:28] karelz commented on #79
Thanks @leculver for super-fast answer!

[2017-06-06 20:44] discostu105 commented on #79
@tysmithnet if you're interested in kernel- and usertime of each thread, you can get them via `IDebugAdvanced2`. Our project is based on ClrMD too, but we use additional interfaces like `IDebugClient` and friends for additional information that ClrMD does not provide.

Here is our implementation for getting KernelTime and UserTime for each thread: https://github.com/Dynatrace/superdump/blob/master

[2017-06-06 21:15] tysmithnet commented on #79
@discostu105 This is really really helpful!

[2017-06-21 20:43] leculver commented on #76
I know it's been three weeks, but this hasn't been forgotten or dropped.  Work has been scheduled and hopefully "Soon (TM)" we should have the right process in place.  Once all the work is done to build, sign, and package things we can ship as frequently as needed.

[2017-06-21 20:47] discostu105 commented on #76
@leculver No worries. Keep up the good work! +1 for this great library!

[2017-06-23 17:59] weltkante commented on #76
@leculver the [WPFDXInterop](https://github.com/Microsoft/WPFDXInterop) project seems to have similar problems, being an old repository and getting no attention anymore. I know that repository is a totally different subject, sorry for cross-posting but any idea how to get attention back to it again, or if that's even possible?

[2017-06-23 18:40] leculver commented on #76
@weltkante Sorry, this is outside my team's area so I'm not sure I can promise a response here.  I've asked around but the person to find out from is on vacation.  I'll reply back if I find something I can share (when they get back).

[2017-06-26 19:02] leculver commented on #76
@discostu105 @chuanboz I have published a new release of ClrMD to NuGet.  I haven't decided what cadence to ship at in the future, but it now only takes me a half hour to release changes (instead of the week it took before).  I should be able to get fixes out faster now.

[2017-06-26 19:02] #76 closed

[2017-06-26 20:59] leculver commented on #76
@zone117x Would you mind pulling down the Microsoft.Diagnostics.Runtime.Latest package now that we have our act together?  =)

I worry that someone will get confused, and it's now out of date.

Thank you!

[2017-06-30 16:43] cklutz commented on #29
FWIW, the following code (invoked before the first code of ClrMD is called) helped me with the issue:

[code]

Essentially, when called before ClrMD's DllImport of dbgeng.dll has a chance to run, it not only loads dbgeng.dll from the Windows system directory, but also force it to look for its dependencies only there.
That should prevent such dependencies to be loaded from other folders.

[2017-06-30 16:45] cklutz commented on #78
I just had the same issue. I added a possible [workaround](https://github.com/Microsoft/clrmd/issues/29#issuecomment-312316730) to the original issue.

[2017-07-03 21:46] zone117x commented on #76
Nuget is having a server error when trying to delist the package. Will try it again later 👍

[2017-08-09 13:45] dudikeleti commented on #78
@cklutz Thanks for the comment. Now I got the error on "mrt100dac_winamd64.dll". Any idea?

[2017-08-10 16:32] leculver commented on #78
I'm not quite sure what to do with this one.  I may end up adding a more descriptive error message when it happens.

I specifically don't specify where to load dbgeng.dll to let the application developer choose which one to load specifically (as with the workaround cklutz posted).  I do this very often myself using a more up to date version than what's shipped in system32.

[2017-08-18 05:21] 0xd4d opened #84 "CLRMD isn't signed with a strong name and can't be referenced from strong named apps"
A strong named application can't use CLRMD since it's unsigned. An exception is thrown at runtime.

It would be nice if the nuget package contained a strong named CLRMD assembly.

Current workaround is to compile the sources yourself and add your own snk file.

[2017-08-20 10:17] adamsitnik commented on #84
BenchmarkDotNet has the same problem with ClrMD

it would be great to have a strong named NuGet package

[2017-09-05 09:15] discostu105 opened #85 "NRE in LockInspection.SetThreadWaiters during DesktopGCHeap.InitLockInspection"
[code]

Here is the calling code: https://github.com/Dynatrace/superdump/blob/master/src/SuperDump/Analyzers/ThreadAnalyzer.cs#L44

This happens with a specific crashdump, which I cannot share for privacy reasons. The dump is a *User mini dump*.

CLRMD version: "0.9.170809.03".

By the way, I've noticed that since I've upgraded from "0.8.31-beta" to "0.9.170809.03", that `ClrHeap.CanWalkHeap` retu

[2017-09-25 09:17] discostu105 opened #86 "AccessViolationException in ModuleInfo.IsManaged"
Occasionally, CLRMD would have an access violation with this stack:
[code]

For privacy-reasons I cannot share the dump. This happens at a certain type of dumps, but I wasn't able to isolate what makes them different from others.

This particular case, is a full-windows memory dump (6GB) taken with process explorer.

CLRMD version "0.9.170809.3"

(oh, by the way: are the PDB's of Microsoft.Diagnos

[2017-09-29 14:07] BRiddle96 opened #87 "Need a way to list objects on the FReachable Queue solely via ClrMD"
To help resolve some suspicious behavior in a Production application, I need to be able to use straight ClrMD (not any shelling out to a Windbg extension) to list objects on the FReachableQueue as I can manually do with WinDbg with extensions loaded.  While the library has an .EnumerateFinalizerQueue, objects actually ready for Finalization are not supposed to still be on the queue.

If this is no

[2017-09-29 17:00] BRiddle96 commented on #87
Sorry.   Just realized the EnumerateFinalizableObjects would give me what I need.  My bad.

[2017-09-29 17:00] #87 closed

[2017-10-04 09:33] smourier opened #88 "PdbReader's GetPdbProperties can throw uncaught UnauthorizedAccessException"
There are cases when the pdbFile argument of GetPdbProperties points to a directory (like for example c:\symbols\kernel32.pdb) for example when _NT_SYMBOL_PATH=c:\symbols (w/o anything else).

In this case File.OpenRead(pdbFile) throws an expected but painful UnauthorizedAccessException.

There are many ways to change this, for example:

1) add this code to GetPdbProperties (simulate the IOExcepti

[2017-10-23 23:44] jerzy-d opened #89 "EnumerateStackReferences(ClrThread thread, bool includeDead) includeDead is true"
I found something which might be an issue in MDR.
I written a WPF utility, using this library, to examine crush dumps from our clients.
One the recent dumps had multitude of threads, and many of them have invalid
StackBase (0), and StackLimit (0). But the few have Stack limit of 5,062,380,473,975,767,040, and one,
with a valid stack base, has also this enormous stack limit.
In my utility I am usin

[2017-10-26 11:54] ayende commented on #50
Any progress on this?

[2017-12-05 08:30] gdalsnes opened #90 "%20 in appDomain.ApplicationBase instead of space"
0.8.31.1
var runtime = clrVersion.CreateRuntime();
var appDomain = runtime.AppDomains.First();
Console.WriteLine("Directory:      {0}", appDomain.ApplicationBase);
Directory:      E:\svn\randomname%204.0\bin\

Correct name: E:\svn\randomname 4.0\bin\

[2017-12-08 13:01] jmunty opened #92 "Loading the DLL with Powershell..."
Hi

First post in GIT so sorry if i'm asking the wrong thing in the wrong place.

Basically to load the Microsoft.Diagnostics.Runtime.dll in Powershell but cant get it to work whichever way i do it.

I downloaded the dll using nuget

Brief summary:

1. GAC
I tried to GAC the dll but was not permitted due to missing strong name

2. Different ways of loading with path
With $dllpath defined as below,

[2017-12-13 07:19] #92 closed

[2017-12-13 07:21] jmunty commented on #92
needs to be referenced as:
`[Microsoft.Diagnostics.Runtime.DataTarget]::AttachToProcess(‌​7984,5000) `
rather than the original
`[Microsoft.Diagnostics.Runtime]::DataTarget.AttachToProcess(‌​7984,5000)`

[2018-01-02 09:57] dudikeleti commented on #35
Is this still supposed to work? Because at the moment I can not make it work.
`GetMethodByHandle` return always null.

In the dump I have this: `Func<string, bool> func = M;` I take the methodPtr of `func` and do that:

       var methodPtrWithOffset = methodPtr + 5;
       heap.ReadPointer(methodPtrWithOffset + 2, out ulong someVal1);
       heap.ReadPointer(methodPtrWithOffset + 1, out ulong som

[2018-01-02 13:44] dudikeleti commented on #35
It seems to work for me if I do it that way,

For x86: ` var offset = (someVal2 & 0xFF) * 4;`
For x64:  `var offset = (someVal2 & 0xFF) * 8;`

It's works for instance (methodPtr) and for static method (methodPtrAux). Still need to check for all types @mattwarren  posted above

[2018-02-27 06:42] ItielBeeri commented on #29
@cklutz, thank you very much! I've encountered the same situation as @ppekrol (debugger runs successfully from CMD, but fails when launched from the debuggee process). @cklutz's solution solved the problem completely.

[2018-02-27 14:13] OmerRaviv opened #95 "Adding support for SOS SaveModule."
I am trying to create an open-source ClrMD extension which is the equivalent to the SOS !SaveModule command. I'd be happy to contribute the result either to this repo if there's interest, or publish it as a separate ClrMD Extensions project.

The problem is, while I've been able to write my own code that partially works (it gets this right for some DLLs, but fails on others), there are a lot of un

[2018-02-27 18:21] discostu105 commented on #95
Cool. I'd be very interested in that feature. Would make a perfect addition to https://github.com/Dynatrace/superdump.

[2018-02-28 18:03] lasherer commented on #95
Hi Omer,

!savemodule has nothing to do with .NET, it is related to debug api.
I implemented it here:
https://github.com/rodneyviana/netext/blob/master/ClrMemDiagExt/Module.cs

Search for:

public bool SaveToStream(Stream ModuleStream)

Thanks,

Rodney

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Omer Raviv<mailto:notifications@github.com>
Sent: Tuesday, Fe

[2018-03-01 17:57] dudikeleti commented on #95
Hi @lasherer,

Did you test your code with ngend modules?

I ask because I also wrote code that do the same but it not completely work for ngend modules (mscorlib.ni.dll for example). My exported assembly looks similar but not same as the required.

[2018-03-02 05:31] lasherer commented on #95
It copies and rebases PE directories. It is equivalent to sos/psscorX !savemodule.

It is easy for you to test, download the extension and use:
!wmodule /name mscorlib* /saveto c:\modules\
And compare to sos output.

Sent from my mobile phone

On Mar 1, 2018, at 11:57 AM, Dudi Keleti <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @lasherer<https://github.com/lasherer>,

Did

[2018-03-02 11:13] dudikeleti commented on #95
I'll try it after weekend and I'll update you. Thanks.

[2018-03-30 09:34] kevingosse commented on #24
Are you still considering adding `dynamic` support to ClrMD?

I developed a set of extensions to use dynamic with ClrMD a while ago, not knowing about your pull request: https://github.com/kevingosse/DynaMD

Depending on what your plans are, I wonder if it would make sense to stop maintaining DynaMD and add the features directly to `ClrObject`

[2018-04-03 16:48] leculver commented on #24
@kevingosse  I'm not planning to add it anymore.  I've been meaning to kill the branch and PR, but I haven't gotten around to doing so.  An extension library exposing the functionality is much better place for that kind of code to live, so feel free to publish your extensions to NuGet.  =)

[2018-04-20 16:28] sharwell opened #98 "Cannot implement ClrType"
The property `GCDesc` is `internal abstract`, preventing external code from implementing the rest of `ClrType`.

https://github.com/Microsoft/clrmd/blob/6735e1012d11c244874fa3ba3af6e73edc0da552/src/Microsoft.Diagnostics.Runtime/ClrType.cs#L228

[2018-04-26 06:24] ashmind opened #99 "Given an object address on the heap, can I get the size of its header?"
Looking at https://blogs.msdn.microsoft.com/seteplia/2017/05/26/managed-object-internals-part-1-layout, it seems that object address on the heap points to method table, preceded by 4 or 8 byte header.

What API should I use to get this size? Currently I use `IntPtr.Size`, but this feels unstable in case some new implementation of CLR uses a different header format.

[2018-05-02 13:43] lasherer commented on #95
I fixed a bug in save module to adjust the RVAs for memory stream only images (like generated serialization assemblies) not mapped to disk. Also adjusted issues with CLR headers

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Rodney Viana <rodneyviana@outlook.com>
Sent: Thursday, March 1, 2018 11:31:45 PM
To: Microsoft/clrmd
Cc

[2018-05-03 11:51] JeffCyr commented on #57
[code]

Then you can match `ManagedThreadId` with the one in runtime.Threads to get the full thread info.

[2018-05-05 04:27] ashmind opened #101 "field.Size seems to be incorrect for some nested fields"
For example,
[code]

On x86 I get `12` as `field.Size`  for `C.s`, but size of `C` itself is also `12` -- `C.s` should be `4`.
I assume `field.Size` doesn't consider nested values and adds overhead for object header.

Is there a way to get a proper field size here?

[2018-05-25 00:53] felipepessoto opened #102 "Is it possible to get the DeclaringType?"
I can't find a way to get the DeclaringType, like Type.DeclaringType. To get the outer class:

[code]

I have a object MyClassA, how do I get OuterClass?

[2018-06-03 18:55] Dennuzzz opened #105 "How to get started?"
Can someone please tell me how to get started?

The documentation seems to be out of date, since the following code from GettingStarted.md does not compile anymore:

The DataTarget class has two primary functions: Getting information about what runtimes are loaded into the process and creating ClrRuntime instances.

To enumerate the versions of CLR loaded into the target process, use DataTarget.Cl

[2018-06-21 11:28] rjvdboon opened #107 "Error in sample url"
The url for the FileAndLineNumber sample is incorrect in
https://github.com/Microsoft/clrmd/blob/f82fb8ab820d7acaae53b7223bf6fb3176436b84/pkg/Microsoft.Diagnostics.Runtime.nuspec#L19

It states  https://github.com/Microsoft/clrmd/blob/master/src/FileAndLineNumbers/Program.cs but should be  https://github.com/Microsoft/clrmd/blob/master/src/Samples/FileAndLineNumbers/Program.cs

[2018-06-27 13:07] chrisnas opened #108 "Bug when DesktopInstanceField.HasSimpleValue is called on a Int32[] field"
While writing the ClrMD-based code to list the elements of a **ConcurrentQueue<int>**, it seems that **HasSimpleValue** is triggering a buggy state.
`    var t = heap.GetObjectType(0x00000145071476f0);  // --> System.Collections.Concurrent.ConcurrentQueue+Segment<System.Int32>
`
this segment has a int[] field called **m_array** --> we need to figure out if it is an array of simple values:
[code]
W

[2018-07-13 04:59] mitikov opened #113 "Please provide API to automatically collect memory snapshots"
Hey folks,

Please provide a functionality to automatically collect memory snapshot & save it to the given location.
While existing API to attach to the process (DataTarget.AttachToProcess) it allows on-fly investigation.

In other words, the code what to look for must be already developed.

While there are many scenarios where you do not know what you are hunting for during collection, like:

A)

[2018-07-19 19:43] JeffCyr opened #114 "Array types are not returned by ClrHeap.EnumerateTypes()"
Array types are not returned by ClrHeap.EnumerateTypes() if ClrHeap.GetObjectType(...) wasn't called yet.

As a workaround, you can call ClrHeap.CacheHeap(...), then the array types will be present in EnumerateTypes. But this can be time consuming in large memory dump.

[2018-07-19 19:58] JeffCyr opened #115 "ClrType.ComponentType is set to 'ERROR' instead of array element type."
When a type is obtained first by ClrField.Type, it's ComponentType property is not always set properly.

The issue is reproducible with this target process:

[code]

And this clrmd code sample:
[code]

The workaround is to ensure all types are constructed by ClrHeap.GetObjectType first, then ClrField.Type will return the cached instance.

[2018-07-22 20:04] ZimM-LostPolygon opened #116 "IDebugClient5.SetOutputCallbacksWide is defined incorrectly"
Incorrect definition as it is now:
[code]
Correct definition:
[code]

[2018-07-23 17:38] bruno-garcia opened #119 "Add Microsoft to the list of owners on NuGet"
It's a bit confusing that [the package](https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/) is prefixed `Microsoft.` and is not shown as verified.

That is because Microsoft is not listed as one of the owners.
![image](https://user-images.githubusercontent.com/1633368/43093235-cd7e5298-8eaf-11e8-95c8-61a3f5caa452.png)

I see now that [Lee Culver](https://github.com/leculver) is a Micros

[2018-07-26 09:25] sillyousu opened #120 "Does clrmd support dotnet core?"

[2018-07-26 14:10] sillyousu commented on #120
yes

[2018-07-26 14:10] #120 closed

[2018-09-20 11:46] loop-evgeny opened #122 "Linux support (for .NET Core/CoreCLR)"
Are there any plans to port ClrMd to Linux, so it can work with .NET Core (CoreCLR) processes there?

Even very basic functionality would be useful, e.g. all I need to do is dump all thread stack traces. (It can be done with LLDB + libsosplugin.so, but that's very painful, slow and limited compared to ClrMd.)

[2018-09-20 11:47] loop-evgeny commented on #50
It won't run on CoreCLR, but it does seems to support attaching to CoreCLR processes (on Windows only, of course).

[2018-10-21 01:04] 0xd4d opened #125 "Old MIT license file is still present in the repo"
I assume the old `LICENSE` (MIT) file shouldn't be part of the repo now that the new `License.txt` (Apache v2) got merged into master.

https://github.com/Microsoft/clrmd/blob/master/LICENSE

https://github.com/Microsoft/clrmd/blob/master/License.txt

[2018-10-22 11:50] 0xd4d opened #126 "Access violation in finalizers"
It seems the bug is that DacLibrary's dtor is called before other dtors that depend on that library being present in memory.

https://github.com/Microsoft/clrmd/blob/e37fb3a9e419ae09c7e2ac0a66ba0afb4c264b6c/src/Microsoft.Diagnostics.Runtime/datatarget.cs#L1261

vs

https://github.com/Microsoft/clrmd/blob/e37fb3a9e419ae09c7e2ac0a66ba0afb4c264b6c/src/Microsoft.Diagnostics.Runtime/ComWrappers/Callabl

[2018-10-22 16:53] leculver commented on #126
Much appreciated, this was on my todo list to tackle today.

Also, please note the repo isn't in a fully finished and tested state.  I had to merge it over early to do some (internal) build work to support the new build system.  Please expect bugs and crashes for a short while as I finish build work and get this fully tested.  (Always happy for bug reports though!)

[2018-10-22 18:37] leculver commented on #122
Yes, the plan is to complete this work in November.  There's a beta-ish build checked into the master branch right now, but it's still got some bugs and corner cases to iron out.  (Not to mention live process attach isn't working yet.)

It's currently in the master branch so I can redo some internal build signing work required to produce signed nuget packages on the new build system.  Feel free to

[2018-10-22 18:37] #122 closed

[2018-10-23 08:46] loop-evgeny commented on #122
That's great news, thank you! Looking forward to trying it out when it's a bit more stable.

[2018-10-23 16:19] vchirikov commented on #122
@leculver maybe you can publish `pre` version on myget?

[2018-10-23 17:06] leculver commented on #122
@vchirikov Daily myget builds are something we are discussing as part of that "internal build work" I mentioned.  Not sure if we are actually going to do that or not.  It's not _quite_ as simple as just throwing a build up there because we like to have stuff signed.  :)

[2018-10-23 17:06] leculver commented on #116
Thank you!  I merged your pull request.

[2018-10-23 17:06] #116 closed

[2018-10-23 17:19] vchirikov commented on #122
okay, thanks for your work!

[2018-10-24 00:39] leculver commented on #125
Should be fixed with the most recent pull request merge.

[2018-10-24 00:39] #125 closed

[2018-10-24 00:40] leculver commented on #126
This should be fixed with the most recent pull request merge.  I haven't specifically gone to test this so please do reopen this issue if you hit it again.  It's still on my todo list to ensure proper addref/release counts and that the daclibrary doesn't free the library until everything is unloaded.

[2018-10-29 08:35] 1996v opened #128 "How to use it in Linux, what is dac?"
/// <summary>
        /// Creates a runtime from the given Dac file on disk.
        /// </summary>
        /// <param name="dacFilename">A full path to the matching mscordacwks for this process.</param>
        /// <param name="ignoreMismatch">Whether or not to ignore mismatches between </param>
        /// <returns></returns>
        public ClrRuntime CreateRuntime(string dacFilename, bool ignor

[2018-10-29 21:54] tysmithnet commented on #128
The DAC the data access component and short for mscordacwks.dll . It is something that lets the debugging engine make sense of CLR data structures. I believe, linux support is coming soon. But Lee will have to answer that.

[2018-10-30 17:54] JeffCyr commented on #115
@leculver Do you have an idea of what the fix would be for this issue?

[2018-10-30 18:29] leculver commented on #115
I don't know off the top of my head.  The big problem here is that the dac private interface doesn't react well to generic types, which makes things very difficult when trying to expose a sensible API on top of it.  Without having debugged this, we _should_ be able to give you a concrete ClrType in this case since it falls under the category of "DesktopGCHeap.GetBasicType".  As long as the array t

[2018-10-30 19:18] JeffCyr commented on #115
Alright thanks,

Just a note for future you then: This used to work with the first release of clrmd before the separate repository was created. It also works with the current version if the ClrType is fetched the first time with ClrHeap.GetObjectType, this issue is when the ClrType is initialized by ClrField.Type, the ClrType without ComponentType is cached.

[2018-11-02 18:30] enkomio opened #129 ""The method or operation is not implemented." exception when using the Debugger Interface methods"
Hi,

I'm trying to use _clrmd_ in order to extract specific information from a remote process. When I try to use the methods from the Debugger Interface I receive an exception stating that "The method or operation is not implemented.". I have to say that I used reflection to have access to the internal needed objects, but nevertheless the code should work.

I tried to use the code from the _mdbg_

[2018-11-04 17:44] leculver commented on #129
@NoahFalk This looks like a pure ICorDebug question, where ICorDebugFunction::SetBreakpoint returns E_NOTIMPL.  Can you please take this one?

[2018-11-05 23:56] noahfalk commented on #129
This is probably by design behavior. There are different ways of creating the ICorDebugProcess interface, one for dump debugging and one for live debugging. Clrmd is probably using the dump debugging technique (OpenVirtualProcess API) whereas for live debugging you need to use RegisterForRuntimeStartup https://github.com/dotnet/coreclr/blob/master/src/dlls/dbgshim/dbgshim.cpp#L652

Live debugging

[2018-11-06 23:03] pakrym opened #131 "ThreadPool EnumerateManagedWorkItems doesn't work with dotnet core dumps"
It looks for mscorlib.dll that is replaced by `System.Private.CoreLib.dll` in dotnet core.

https://github.com/Microsoft/clrmd/blob/67e34c36107ff09d2e145decfe656b00eaba34e0/src/Microsoft.Diagnostics.Runtime/Desktop/threadpool.cs#L179

[2018-11-07 15:05] isakiev opened #132 "Extract class declarations into separate files, update project structure"
I understand reasoning behind the current state of things.
Preserving history and compatibility with existing forks, etc.
But now, when the next major update is coming, maybe it's time to move on? :)

One-class-per-file approach brings so much more satisfaction compared to the current monstrous all-in-one files with 2K+ lines of code wrapped in multiple regions.
Easier to get the whole picture, ea

[2018-11-07 18:41] leculver commented on #132
That's a pretty reasonable request.  I've been wanting to do this myself for exactly the reasons you outline, but I've avoided it wanting to preserve file history (and also anyone with outstanding code changes/forks of ClrMD are going to have a tough time).

You are right, that with the large influx of changes it's a good time to do this.  I'll see what I can do.

[2018-11-07 18:43] leculver commented on #131
Thank you for the report.

In fact, a lot of the ThreadPool stuff is in bad shape.  I'm not clear whether all of it fully supports the managed threadpool.  It's to the point where I wish I had either not wrapped the threadpool into clrmd, or put that into a side-library.

I'll add this to the todo list to fix (specifically the assembly issue you point out here), but the longer-term "please make th

[2018-11-07 20:00] pakrym commented on #131
I'm fine if it gets dropped.

It doesn't seem to contain anything DAC specific.

[2018-11-07 23:34] leculver commented on #132
Done.

[2018-11-07 23:34] #132 closed

[2018-11-07 23:35] leculver commented on #129
Since this is more of a question about ICorDebug and not ClrMD, I'm resolving this issue.

[2018-11-07 23:35] #129 closed

[2018-11-08 07:08] isakiev commented on #132
tyvm! :)

[2018-11-09 14:55] 1996v opened #135 "How do I get the line number on the stack"
When I enumerate the thread stack，How do I get the line number on the stack？
such as ：
0012f380    7c92e514    Program.Main() ( C:/user/code/Console/Program.cs @ 17 )

[2018-11-11 01:02] 0xd4d commented on #126
I think it can only happen when the application is exiting in which case the dtors should check `Environment.HasShutdownStarted` and not do any cleanup if it's true.

[2018-11-12 18:07] leculver commented on #126
Thank you, I've reopened the issue and will take a closer look this week.

[2018-11-12 18:09] leculver commented on #135
You will have to use a combination of the PDB for that library, a pdb reader (I'm not sure if the one in ClrMD's Utilities namespace is sufficient for this or not, you may have to use the real DIA pdb interfaces), and map the instruction pointer back to an IL instruction to look up the offset in pdbs.

I don't have good example code offhand to share though.

[2018-11-12 19:14] 0xd4d commented on #126
I added a PR https://github.com/Microsoft/clrmd/pull/137

[2018-11-12 21:02] discostu105 commented on #135
Here is an example code, that gets filename and linennumber: https://github.com/Dynatrace/superdump/blob/master/src/SuperDump/ClrMdExtensions.cs#L105

Of course it's required to have the proper PDB loaded.

[2018-11-12 22:44] leculver commented on #126
Thank you for the PR!  I decided to go a slightly different direction to fix this:  https://github.com/Microsoft/clrmd/commit/4a16cfa3c42a1c5f8899aa772543a72dd9b63622

Instead of putting Dispose on ClrRuntime, I wanted to put that on DacLibrary instead, as I use DacLibrary directly in some of my projects.  I've also split out the code to actually release the library into its own class with its own

[2018-11-12 22:45] #126 closed

[2018-11-13 01:01] leculver commented on #126
As of https://github.com/Microsoft/clrmd/commit/441d779d5636961aa0c62473f1a9c0ed0abcf5db, I think this work is completed.  I've cleaned up all of the semantics around how DacLibrary and the COM interfaces it uses are produced.  As of this change there's no outstanding work in this area and all addref/release in the library are fully tested.

Let me know if you run into any more issues related to t

[2018-11-13 16:42] crntn opened #141 "Failure to get address of DAC_PAL_InitializeDLL on custom centos build"
Hi !

We know that the current port of Clrmd to linux is WIP and highly unstable but we are encountering scenarios where lldb + sosplugin are not enough to get to the bottom of our issues.

We tried playing with clrmd in its current state and we noticed that with our custom build of dotnet (v2.1.4 + a few cherry-picked commits) we fail to load the address of "DAC_PAL_InitializeDLL " in DacLibrary

[2018-11-13 17:05] crntn opened #142 "System.OverflowException on Centos in TryGetComponentType for System.Int32[][] obj"
When reading a dump on Centos from runtime v2.1.4 we get a **System.OverflowException: 'Arithmetic operation resulted in an overflow.'**

This comes from an overflow while casting a ulong to a long in https://github.com/Microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/CoreDumpReader.cs#L163

We were able to move forward by doing the cast in unchecked :
[code]

This bug happened when G

[2018-11-13 17:47] leculver commented on #142
Can you please make sure your enlistment is synced to current?  I checked in https://github.com/Microsoft/clrmd/commit/f65cdac0910ce6a88cc59480e5891e5dd3c6c6f9 yesterday that should have fixed all of the under/overflow issues.  Please let me know if this still reproduces on that build.

[2018-11-13 17:51] leculver commented on #141
Hmm interesting, @mikem8361 for an FYI.

I don't have a CENTOS VM to test this with right now.  Maybe the code should look like this?

            IntPtr initAddr = DataTarget.PlatformFunctions.GetProcAddress(dacLibrary, "DAC_PAL_InitializeDLL");
            if (initAddr == IntPtr.Zero)
                initAddr = DataTarget.PlatformFunctions.GetProcAddress(dacLibrary, "PAL_InitializeDLL");

[2018-11-13 17:52] crntn commented on #142
Yes we are to current but we were testing and building in debug so we missed this. Thanks !

[2018-11-13 17:55] #135 closed

[2018-11-13 17:56] crntn commented on #141
FYI we are using a dotnet runtime we built ourselves with https://github.com/dotnet/source-build. We are actually wondering if the DAC prefix is controlled by a flag during the build .

[2018-11-13 18:00] crntn commented on #142
Oups I missed that is also present for Debug, however this is limited for net45 and we are targeting netstandard2.0

[2018-11-13 18:01] leculver commented on #141
It's definitely possible that this is controlled by a build flag.  Unfortunately the person I would ask to help me track it down is out on vacation for a couple weeks.  Even still, we want ClrMD to work on these custom builds, even when you change the build flags to not do this...

Can you confirm the code snippet above does the right thing on your custom build?

[2018-11-13 18:09] crntn commented on #141
Yes the snippet above is working :+1:

[2018-11-13 18:09] janvorli commented on #141
The DAC prefix was added recently to solve some problems when libmscoredac.so and libcoreclr.so are loaded into the same process. They both contain PAL.

[2018-11-13 18:11] janvorli commented on #141
See here for details: https://github.com/dotnet/coreclr/pull/18904

[2018-11-13 18:14] leculver commented on #142
Ahhh right, can you see if https://github.com/Microsoft/clrmd/commit/3ea01c2ef6a52495b3df1277af49273e6a90fcd7 fixes the problem?  I'm a little fuzzy on the Arcade buildsystem here but I assume the .Net Core build should respect this flag as well.

[2018-11-13 18:16] leculver commented on #141
Ahh thank you @janvorli, so it sounds like I should use the non-DAC_ prefixed version in older builds.  Or are you saying these older builds just won't work when you load the dac into a .Net Core process?

[2018-11-13 18:33] leculver commented on #141
@crntn I've pushed https://github.com/Microsoft/clrmd/commit/9d848aec96daf6abd6117286b8c86a144cc4afd6 which has that code snippet applied, for now.  I need to do some digging here later to see if everything works as intended, but for now this should be okay as a workaround.

[2018-11-13 18:50] janvorli commented on #141
@leculver I have to dig out an old discussion thread to refresh my memory on the issues. But IIRC, the issue was happening on Alpine Linux only (or I should say on any Linux with MUSL standard C library).

[2018-11-13 18:52] kevingosse commented on #141
It's probably this one: https://github.com/dotnet/coreclr/pull/18873

[2018-11-13 18:55] janvorli commented on #141
Yes, it is the same one as I've mentioned, but this one actually got in. The other one was targeting release 2.1, but didn't get ported there if I recall it correctly.

[2018-11-13 18:56] leculver commented on #141
Great thank you @janvorli!

[2018-11-13 18:56] #141 closed

[2018-11-13 19:02] leculver opened #143 "Attaching to a Linux process is not yet implemented"
I'm winding down development in this sprint of ClrMD work.  It's looking like I won't have time to handle inspecting a live process.  I'm leaving this issue open as a TODO marker and to let others know it's a known issue.

[2018-11-13 21:32] leculver commented on #142
Great, thank you!

[2018-11-13 21:32] #142 closed

[2018-11-15 10:03] 1996v opened #144 "How do I get the code line number on the stack?"
sorry，I asked the same question two days ago，But that didn't solve my problem。
--------------
[Here's the original problem](https://github.com/Microsoft/clrmd/issues/135)：

When I enumerate the thread stack，How do I get the line number on the stack？
such as ：
0012f380 7c92e514 Program.Main() ( C:/user/code/Console/Program.cs @ 17 )

Both  [leculver](https://github.com/leculver) and  [discostu105 ]

[2018-11-19 17:50] leculver commented on #3
With the changes made to the upcoming ClrMD 1.0 I've done all I can to ensure memory is released properly in the dac interfaces.  Unfortunately if there's more hiding behind the scenes it's going to be a bug in the runtime itself.  Please feel free to refile a new bug if you feel something is leaking on ClrMD 1.0, but it's likely that any problems there are actually in the runtime itself and not C

[2018-11-19 17:50] #3 closed

[2018-11-19 17:50] leculver commented on #4
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 17:50] #4 closed

[2018-11-19 17:50] #15 closed

[2018-11-19 17:50] leculver commented on #17
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 17:50] #17 closed

[2018-11-19 17:51] #24 closed

[2018-11-19 17:51] leculver commented on #31
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 17:51] #31 closed

[2018-11-19 17:51] leculver commented on #50
This is now fully supported as of ClrMD 1.0 (release very soon).

[2018-11-19 17:51] #50 closed

[2018-11-19 17:52] leculver commented on #39
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 17:52] #39 closed

[2018-11-19 17:52] leculver commented on #60
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 17:52] #60 closed

[2018-11-19 17:53] leculver commented on #54
I've split the the .Net Native code into its own library (no NuGet package for it yet).  This should fix the underlying issue you are having here.

[2018-11-19 17:53] #54 closed

[2018-11-19 17:53] leculver commented on #51
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 17:53] #51 closed

[2018-11-19 17:53] leculver commented on #42
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 17:53] #42 closed

[2018-11-19 17:54] leculver commented on #47
Hello!  This issue is being closed due to its age.  The codebase has moved significantly since this was filed.  Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0.  (Also, I apologize for having not looked at or resolved this earlier and for resolving it now.  In order for me to be able to make some progress on the growing issue count in ClrMD I nee

[2018-11-19 20:39] opulos opened #147 "user interface"
Not an issue, just wanted to let you know I created a user interface for clrmd on sourceforge: https://sourceforge.net/projects/clrdbg/

It's using the old version from 2015, at some point I will test it with the latest clrmd version.

[2018-11-19 20:42] leculver commented on #47
I found the issue, unfortunately it's difficult to work around.  The underlying problem is that this `if` block is missing on Desktop CLR:

https://github.com/dotnet/coreclr/blob/75890669d59ea8e1a28ade8222ebec2706082674/src/debug/daccess/task.cpp#L370

I will file an internal bug about this and try to get it fixed in Desktop CLR.  Unfortunately I don't plan to fix this in ClrMD unless there's no f

[2018-11-19 20:42] #47 closed

[2018-11-19 21:06] leculver commented on #47
Actually I've found a really ugly workaround and submitted it as https://github.com/Microsoft/clrmd/commit/acd72689f3f7aade4b75da2a3bc3e6869b0ec16d.  This will be fixed in ClrMD 1.0

[2018-11-19 21:10] leculver commented on #84
This was fixed a while back.

[2018-11-19 21:10] #84 closed

[2018-11-19 21:12] leculver commented on #78
Hello! This issue is being closed due to its age. The codebase has moved significantly since this was filed. Please feel free to open a new issue for ClrMD about this issue if it still reproduces on ClrMD 1.0. (Also, I apologize for having not looked at or resolved this earlier and for resolving it now. In order for me to be able to make some progress on the growing issue count in ClrMD I need to

[2018-11-19 21:12] #78 closed

[2018-11-19 21:13] leculver commented on #105
Documentation should be updated now.

[2018-11-19 21:13] #105 closed

[2018-11-19 21:14] leculver commented on #107
This should be fixed now

[2018-11-19 21:14] #107 closed

[2018-11-19 21:22] #66 closed

[2018-11-19 21:25] #99 closed, assigned to nobody

[2018-11-19 21:38] gdalsnes commented on #90
" The internal representation of this value actually has "%20" in it and we want to accurately report what's there."
Wow, that's crazy since %20 is actually a valid directory name. If I have two directories "randomname%204.0" and "randomname 4.0" it is impossible to tell them apart. I wonder if this can be used for malice somehow:-)

[2018-11-22 00:40] #37 closed

[2018-11-22 00:42] leculver opened #148 "Properly validate Dac version on Linux"
We are not properly validating the dac on linux, due to this:
https://github.com/Microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/LinuxFunctions.cs#L13

[2018-11-22 01:00] leculver commented on #119
This is done, thank you.

[2018-11-22 01:00] #119 closed

[2018-11-22 01:01] leculver commented on #98
GCDesc is now public, thank you!

[2018-11-22 01:01] #98 closed

[2018-11-22 01:01] #95 closed

[2018-11-22 01:04] leculver commented on #33
With the SOSDac interface you can now implement most SOS features "out of the box", and for things I haven't provided a wrapper for you are welcome to wrap and use via ClrMD.  I don't intend to try to fully wrap the ISOSDac fully in one pass, but I'm happy to accept PRs that build the pieces you need.

[2018-11-22 01:04] #33 closed

[2018-11-22 01:10] #34 closed

[2018-11-24 19:36] leculver commented on #144
You probably have an issue with ilOffset being off.  Remember that if the frame isn't the very topmost on the stack, then your instruction pointer for a frame will be the **return address**, not the instruction you are currently executing.

Here's the code:
[code]

Here's the real callstack:

[code]

Here's what the IL map/Pdb ClrStackFrame.InstructionPointer says:

[code]

So looking at this outp

[2018-11-24 19:36] #144 closed

[2018-11-24 21:41] leculver commented on #147
Very cool, thanks for the info.  =)

[2018-11-24 21:41] #147 closed

[2018-11-27 17:19] TylerAP commented on #143
ran into this.

[2018-11-27 17:34] leculver commented on #143
For now you should be able to use the createdump utility to drop a core dump, then load it.

https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md

[2018-11-27 17:37] TylerAP commented on #143
that's exactly what I'm going to do... I just have to get createdump to work in a self-contained docker image based on runtime-deps...

[2018-11-27 17:39] leculver commented on #143
I will have another sprint of time to do some work in late December, which is when I _plan_ to implement live process attach on Linux.  At that point I'll stop calling the Linux support "experimental"...

[2018-11-27 17:45] TylerAP commented on #143
FYI for anyone else that is looking for createdump in containers...
It's not in microsoft/dotnet:*-runtime-deps.
In microsoft/dotnet:*-runtime / *-sdk, it's in ...
`/usr/share/dotnet/shared/Microsoft.NETCore.App/*/createdump`

[2018-11-27 18:35] leculver commented on #143
This is a problem with some of our diagnostic tools.  Overall I'd say this probably needs attention from our diagnostics team that this doesn't work out of the box (so @mikem8361 @noahfalk).

I've worked around this locally by renaming "libcoreclrtraceptprovider.so" to something like "libcoreclrtraceptprovider.s_".  This makes it so that CLR and the dac can't find this tracepoint provider library

[2018-11-27 18:42] mikem8361 commented on #143
This has been fixed for 3.0 (master branch) in https://github.com/dotnet/coreclr/pull/20874.  I'm investigating getting it fixed in 2.2.

[2018-11-28 10:45] mattwarren commented on #33
@leculver It's great to see all the recent work being done on ClrMD, I think it's a great library that's enabled [many other tools to be built](https://mattwarren.org/2018/06/15/Tools-for-Exploring-.NET-Internals/#tools-based-on-clr-memory-diagnostics-clrmd), so great job!!

[2018-11-28 15:55] drewnoakes opened #149 "Docs on getting the Dac from a symbol server"
The Getting Started docs state:

https://github.com/Microsoft/clrmd/blob/master/Documentation/GettingStarted.md#what-do-i-need-to-debug-a-crash-dump-with-clrmd

I cannot find the referenced _Getting the Dac from the Symbol Server_ section.

[2018-11-28 20:05] leculver commented on #149
Thanks, this was probably lost somewhere along the way.  I've add the section to the document.  Thanks!

[2018-11-28 20:05] #149 closed

[2018-11-28 20:36] drewnoakes commented on #149
Thanks very much. That's nice and clear.

[2018-11-28 20:50] drewnoakes opened #153 "MDA 'PInvokeStackImbalance' while enumerating heap roots"
Using `Microsoft.Diagnostics.Runtime` 1.0.0 I'm seeing a managed debugging assistant pop up in Visual Studio 15.9.2 while enumerating a heap's roots:

The stack is:

[code]

If I disable the MDA the program without exception.

The data target is a dump from Visual Studio d16.0stg.

If you're interested in this I can provide a repro internally.

[2018-11-28 23:08] leculver commented on #153
Do you see this when running in an x86 or an x64 process?

[2018-11-28 23:10] drewnoakes commented on #153
x86

[2018-11-29 00:11] leculver commented on #143
Awesome!

Yeah we won't be able to accept any PR that gets rid of the arcade and other scripts.  All of this goo is basically required for us to be able to produce official, signed NuGet packages.

However, if you have a working implementation of attaching to a live linux process, I'd be super happy to have that as a PR.  One thing to be aware of is the JetBrains team is looking to submit a very l

[2018-11-29 00:13] TylerAP commented on #143
I'll rebase on that and keep sync'd. Thanks for the heads up.

[2018-12-01 00:44] leculver commented on #143
@TylerAP Ok, Microsoft/clrmd/master is now fully up to date with all the refactoring/code changes that will be done.  Sorry for any inconvenience it caused...I wanted to set a new baseline for future development.  (Also thanks to Ruslan who put these changes together.)

[2018-12-01 11:17] TylerAP commented on #143
I rebased earlier. I am sync'd with master. No big deal.

I am making progress. Working on generating core dumps under Linux.

[code]

[code]
Turns out dispite the report of "Writing minidump to file /app/src/TestTargets/bin/x64/AppDomains_wks_mini_xplat.dmp" it does in fact not appear to write a file... I might have something misconfigured. I dunno yet.

[2018-12-01 19:36] TylerAP commented on #143
I'm [sync'd.](https://github.com/TylerAP/clrmd/pull/2)

Like I said though, I'll part out PRs I submit back, and at some point I'm going to squash a lot of my git history and restructure it to fit your flow.

[2018-12-01 21:57] TylerAP commented on #143
Looks like JetBrains is continuing to do more refactoring.
Should I plan to sync up with [Ruslan Isakiev's fork](https://github.com/isakiev/clrmd) again in the *near* future? I do like the look of that `.editorconfig`.

[2018-12-02 22:58] TYoung86 commented on #143
I'd hope that the windows natives could all be split out from classes that contain any non-windows (xplat/posix/linux/bsd) natives in a refactoring pass. I've done that on my branch to avoid static initialization causing `DllNotFoundException`s.

I've created an XPlatLiveDataTarget (and an XPlatDataReader, but then merged it into XPlatLiveDataTarget).
I've got initial Passive attachment started. I

[2018-12-06 12:44] discostu105 opened #157 "InvalidOperationException in DesktopRuntimeBase.get_AppDomains()"
I'm using CLRMD 1.0 and since recently I'm seeing this exception (not for all crash dumps):

[code]

Cannot share the dump file for privacy reasons.

Here is the code calling CLRMD: https://github.com/Dynatrace/superdump/blob/master/src/SuperDump/Analyzers/SystemAnalyzer.cs#L97

[2018-12-06 12:47] discostu105 opened #158 "NullReferenceException in DacInterface.CallableCOMWrapper.Release()"
I'm using CLRMD 1.0 and since recently I'm seeing this exception (not for all crash dumps):

[code]
Cannot share the dump file for privacy reasons.

Here is the code calling CLRMD: https://github.com/Dynatrace/superdump/blob/master/src/SuperDump/Program.cs#L164

[2018-12-06 15:52] discostu105 commented on #157
For a different crash dump I get a similar (yet different) stacktrace:

[code]

meta-info
[code]

Kind of looks like the same thing.

[2018-12-06 15:59] discostu105 opened #159 "AccessViolationException in PEHeader.FromBuffer"
I'm using CLRMD 1.0 and since recently I'm seeing this exception (not for all crash dumps):

[code]

Cannot share the dump file for privacy reasons.

Actually, there are two different stacktraces with AccessViolationException, but both are from the same crash-dump, so they might be related. CLR version of the crashed process = 2.0.50727.8793

Here is the code calling CLRMD:
 * https://github.com/D

[2018-12-06 17:12] TylerAP commented on #143
Judging by [coreclr/src/daccess/daccess.cpp lines 7251 to 7301](https://github.com/dotnet/coreclr/blob/master/src/debug/daccess/daccess.cpp#L7251-L7301) ... CORDBG_E_MISSING_DEBUGGER_EXPORTS is given when one of the calls fail in ClrDataAccess::GetDacGlobals() to the wrapped data target. So I'm going to revert any attempt to use other interfaces and keep with CLRDataCreateInstance.

[2018-12-06 17:58] leculver commented on #159
Thanks for the report.  I tried to avoid it, but I think I'm going to have to replace that PEFile implementation.  It was pulled from some old code in a parallel project (PerfView) a while back.  It would be a lot better if we just didn't use unsafe/fixed/weird buffers like that code does and just read from a stream into defined structs...

I will add this to my todo list.   I'm on vacation now bu

[2018-12-06 18:00] leculver commented on #157
Thank you for the report.  Do you only see this on V2 runtimes?  Or have you seen it on v4 runtimes as well?

[2018-12-06 18:04] leculver commented on #158
Thanks for the report.  Looks like another v2 issue.  I'll do some better testing with that runtime and see what we find.

[2018-12-06 19:57] discostu105 commented on #159
Ok, appreciate it!

Just for completeness, I've found a similar problem also in a V4 runtime.

[code]

Although the second exception (`LegacyRuntime.GetSvrHeapDetails`) is actually a different one (separate bug?).

[2018-12-06 20:01] discostu105 commented on #157
I've not found this particular error in a V4 runtime yet. However, I can say that most analysis runs work just fine in V2 and also in V4 runtimes.

[2018-12-06 22:44] YoungCP commented on #143
clrmd-tests_1  | Build started 12/06/2018 22:39:46.
clrmd-tests_1  | Test run for /app/src/Microsoft.Diagnostics.Runtime.Tests/bin/Debug/netcoreapp2.1/Microsoft.Diagnostics.Runtime.Tests.dll(.NETCoreApp,Version=v2.1)
clrmd-tests_1  | Microsoft (R) Test Execution Command Line Tool Version 15.9.0
clrmd-tests_1  | Copyright (c) Microsoft Corporation.  All rights reserved.
clrmd-tests_1  |
clrmd-tests

[2018-12-06 23:40] TylerAP commented on #143
(Sorry about re-post, was posting under alternate profiles by accident)

Ok, so it was my implementation of ReadMemory I needed to fix... I'm getting EPERM from process_vm_readv, classic...

<details><summary>First tests pass...</summary>

[code]

</details>

First attach test on linux passing. Going to get invasive and non-invasive tests written and then create a new branch from main and port min

[2018-12-07 01:33] TylerAP commented on #143
Enumerated handles on an attached process under Linux. :godmode:
This satisfies for my needs, the thread implementation will be a nice to have.
Hopefully I will get some more time to spend on this after hours.

https://github.com/TylerAP/clrmd/issues/1#issuecomment-445091021

[2018-12-08 16:04] 0xd4d opened #162 "IntPtr(long) ctor throws OverflowException"
Note that this issue has nothing to do with the C# overflow check option that used to be enabled in the clrmd csproj file. It's thrown in the IntPtr ctor.

Microsoft.Diagnostics.Runtime.LiveDataReader

eg. `public bool ReadMemory(ulong address, byte[] buffer, int bytesRequested, out int bytesRead)` calls `new IntPtr((long)address)` which throws in the IntPtr ctor when `address` has bit 31 set and

[2018-12-08 18:09] drewnoakes opened #163 "Use of IList<T>"
Several types use `IList<T>` to expose collections of data. `ClrType` is a good example.

There are a few issues with this:

- Enumerating them requires allocating an enumerator
- They're mutable
- Calls are virtual

The mutability thing is not a problem when everyone is well behaved, but the allocation/virtual points are only avoidable by casting to `List<T>` or `T[]`, which is suboptimal and ris

[2018-12-08 19:26] 0xd4d opened #164 "V35MethodDescData and V2MethodDescData field layout changed"
Seems like the big refactoring turned some of the fields into getter props and now the fields aren't in the same order as before.

It's possible that some other structs were changed too. These are the only ones I noticed when investigating a crash.

[2018-12-08 19:37] 0xd4d opened #165 "Add APIs to get name of JIT helper funcs and method tables"
A feature request to get names of some things that is useful when showing a disassembly of a method body.

These could be exposed on ClrRuntime.

string GetJitHelperFunctionName(ulong address): use DacRequests.JIT_HELPER_FUNCTION_NAME & GetJitHelperFunctionName()

string GetMethodTableName(ulong address): use GetNameForMT()

They should return null if input isn't a jit helper function or a method

[2018-12-08 19:48] 0xd4d opened #166 "AccessViolationException when getting a .NET 3.5 method"
I'm using the latest master.

This happens when creating a new MetaDataImport. It gets a LegacyMetaDataImport value, but it seems that it has already been Release()'d and an exception (usually AccessViolationException) is thrown when calling queryInterface() in CallableCOMWrapper.

When hacking the code so it never calls RegisterForRelease(), the program works.

This happens when a ClrMethod gets

[2018-12-08 23:31] 0xd4d commented on #164
I checked latest master against CLRMD 1.0 nuget package, and these are the only *struct*s that have a different field layout.

Microsoft.Diagnostics.Runtime.Desktop.LegacyDomainLocalModuleData
Microsoft.Diagnostics.Runtime.Desktop.LegacyObjectData
Microsoft.Diagnostics.Runtime.Desktop.V2MethodDescData
Microsoft.Diagnostics.Runtime.Desktop.V2ThreadPoolData
Microsoft.Diagnostics.Runtime.Desktop.V35M

[2018-12-10 05:55] 1996v opened #167 "How do I get the address of the variable name in the stack frame local variable?"
I have access to PdbScope，I'm trying to get the values of some simple local variables，It would be nice if someone could provide a small example。

thanks thanks thanks

[2018-12-10 18:39] leculver commented on #163
When was ImmutableArray added?  Currently ClrMD is supported as far back as CLR 4.5 (and needs to be carried without dependencies on Desktop CLR).  Was ImmutableArray around in 4.5?

I do wish I hadn't used IList<T> so long ago, but I worry it's too big of a breaking change to modify these return types.

[2018-12-10 18:40] leculver commented on #164
Thanks for the report, that's a pretty bad mistake on my part to not notice that.  I will revert them later this week.  @isakiev as an FYI.

[2018-12-10 18:42] leculver commented on #167
This is not supported in ClrMD.  You will have to use ICorDebug for that, which is not something owned by this project.

[2018-12-10 18:42] #167 closed

[2018-12-10 18:48] drewnoakes commented on #163
I'm pretty sure it's always been distributed as a NuGet package. The latest release supports `net45`.

https://www.nuget.org/packages/System.Collections.Immutable

https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.cs

`ImmutableArray<T>` does implement `IList<T>` which would ease a transition, however it's a struct which

[2018-12-10 18:50] leculver commented on #163
That runs into the second part of the problem, ClrMD on desktop CLR is supposed to run without any dependencies (not having to carry other DLLs).  There's still a small window of time we could probably make breaking changes for 1.0 of clrmd (especially since I need to do a large round of bugfixing).  Let me think about this.

[2018-12-10 18:52] leculver commented on #165
Sounds reasonable, added to my todo list.  I need to tackle all the bugs introduced in v1.0 first.

[2018-12-10 18:54] drewnoakes commented on #163
If it helps, the actual implementation of `ImmutableArray` is very simple and could be easily replicated within ClrMD directly to avoid any dependencies. There's no need for the other immutable collection types if you just want the immutable array container. Again, I'm happy to spike this out if you feel it might be worth it. No worries either way.

[2018-12-10 18:56] leculver commented on #163
Ah good point.  Sure, if it's not too much work.  Let's see what this looks like putting an immutable array type into ClrMD.  I wouldn't mind the change so much if it implements IList to ease the transition.

[2018-12-11 07:54] isakiev commented on #164
@0xd4d @leculver thank you for pointing this out.
I'll check if any other structures are affected and will create a PR.
The team has been informed about the code cleanup issue.

[2018-12-12 07:29] tanaka-takayoshi opened #170 "Throw better exception in DataTarget.LoadCrashDump when it is passed a coredump"
When loading the dump file with `DataTarget.LoadCrashDump` method, it reported the error.

[code]

Here is the runtime info.

[code]

Executed program.
[code]

The `/tmp/coredump.2971` is created with the same dotnet runtime on the same host.

[2018-12-12 18:59] #164 closed

[2018-12-12 19:45] leculver commented on #170
Use DataTarget.LoadCoreDump on linux.

I will throw a better exception in the future.

[2018-12-12 19:46] leculver commented on #166
This _might_ be the struct related problem that @isakiev just fixed.  I am doing some 3.5 related testing this week (or weekend) and will be sure to test this as well.

[2018-12-12 23:10] tanaka-takayoshi commented on #170
`DataTarget.LoadCoreDump` works. Thanks!

[2018-12-13 05:16] mitikov opened #175 "What is the strategy for mocking entities in unit tests?"
Hi @leculver ,

Straightforward approach with mocking frameworks (like NSubstitute) leads to type generation problems around **internal abstract** modifiers:

[code]
The solutions I'm aware of :

1. Avoid `internal` access modifier in **public abstract** classes, [example - ClrType.GCDesc]( https://github.com/Microsoft/clrmd/blob/8afa38daf34bdbfc3846c3cce555e49761306446/src/Microsoft.Diagnostics.R

[2018-12-13 10:40] zvirja commented on #175
BTW, you can also try to change access to [`protected internal`](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/protected-internal), which is the less evil as to me and should still help 😉

[2018-12-14 23:36] leculver commented on #175
Merged.

[2018-12-14 23:36] #175 closed

[2018-12-14 23:59] leculver commented on #162
Thanks for the report.  That's an annoying issue to fix...  I could swap to UIntPtr for LiveDataReader, but I worry there's other places that have this issue.  I'm thinking of doing something like this:

    public static IntPtr AsIntPtr(this ulong address)
    {
        unsafe
        {
            void* ptr = (void*)address;
            IntPtr test = new IntPtr(ptr);
            return test;

[2018-12-15 00:12] leculver opened #185 "Cannot get static variables pre 4.5 runtimes"
As an odd implementation detail, 3.5 runtimes don't ask have an AppDomain input for requesting certain values.  Instead it uses the runtime defined codepath that assumes the caller is running within the local CLR's context, and therefore has a clr!Thread which is associated with an AppDomain.  This is the rough code I found:

    AppDomain* __stdcall
    DacGetAppDomain(void)
    {
        HRESULT

[2018-12-15 00:14] 0xd4d commented on #162
I usually use the "safe" version: `IntPtr.Size == 4 ? new IntPtr((int)address) : new IntPtr((long)address)`

[2018-12-15 00:47] #185 closed

[2018-12-15 00:49] leculver commented on #166
Nope, I was wrong.  Fixed in https://github.com/Microsoft/clrmd/commit/8e1c8235a00f0d2be17d859128a105858110565e.

[2018-12-15 00:49] #166 closed

[2018-12-15 00:50] #158 closed

[2018-12-15 01:02] #157 closed

[2018-12-15 01:02] leculver commented on #157
Thanks for the report!  I finally figured this one out.

[2018-12-15 01:04] leculver commented on #162
Ah!  I was making it too complicated.  Thank you.

[2018-12-15 01:13] #162 closed

[2018-12-15 01:55] leculver opened #186 "Need to ship ClrMD 1.0.1"
Just giving an update (since I don't have twitter or other ways to communicate).  I'm essentially where I want to be to ship 1.0.1, having cleaned up a lot of v3.5 issues.  However, the internal build server that produces signed NuGet packages is broken again.  I have to find someone who knows how to fix it, but a lot of people take the last few weeks of December off for vacation.

I will ship a n

[2018-12-17 20:10] leculver commented on #186
I've shipped this today as 1.0.2 (there was briefly a 1.0.1, but it was marked prerelease).

[2018-12-17 20:10] #186 closed

[2018-12-18 08:39] discostu105 commented on #186
I've just deployed 1.0.2 and verified that #157 and #158 have been fixed.

Thanks a lot!

[2018-12-18 11:50] mitikov commented on #175
@leculver The original PR was rolled back - do we want to re-open this issue as well?

Thanks.

[2018-12-18 13:49] mitikov commented on #175
New PR #191 adding UnitTests project created.

[2018-12-19 00:46] #159 closed

[2018-12-19 00:50] leculver commented on #159
@discostu105: I have just merged a change that should resolve the first problem.  I've implemented a new `PEImage` reader that's much safer than the old one.  I've marked `PEFile` as obsolete.  It'll be a while before I remove it from the runtime (ClrMD 1.2 or so), but all uses of the old class have been removed.

The second callstack is tough to say.  It's possible that either this issue or one o

[2018-12-20 09:28] isakiev opened #198 "ISymbolProvider and ISymbolResolver are not actually used anywhere"
can they be removed?
are they the remainings of some previous refactoring or the stubs for an upcoming feature?

[2018-12-20 09:30] isakiev opened #199 "ModuleInfo.IsRuntime looks a bit weird"
it is error-prone as the flag initialization is separated from its creation
e.g. if `EnumerateModules()` is called before `InitVersions()` no flags will be initialized at all.

just curious if it is still required for anything.
if not, can it be marked as obsolete and removed in the next versions?

[2018-12-20 11:49] isakiev opened #201 "Why do we need two separate projects for the tests?"
What kind of problem is being solved this way?
The question is probably for @mitikov.

[2018-12-20 17:31] leculver commented on #199
I think a lot of ModuleInfo may need to be reworked for 1.1 (or 1.2).  ModuleInfo is a really odd class, because it's expected that a consumer of ClrMD may need to implement it themselves, yet it's built in a really dumb way if that's the case.  A lot of things aren't virtual, and it is a bad mix of lazy initialization and not.

As part of some other work for the CLR team, I've started looking at

[2018-12-20 17:36] leculver commented on #201
The .Tests project is more of an integration test, requiring a lot of moving parts to work correctly, including having generated test binaries.  The UnitTest project are standalone tests that do not require running "build_test_assets.cmd" (or whatever I named it).

For right now, this is SUPER useful to me because our internal infrastructure can't really handle generating test binaries (and puttin

[2018-12-20 17:36] #201 closed

[2018-12-20 17:43] #198 closed

[2018-12-20 17:43] leculver commented on #198
Whoops, that's left over from removing .Net Native support.  They were only used there.  I marked them obsolete, they can be removed in 1.0.

[2018-12-21 10:18] isakiev commented on #199
@leculver thanks for the details! it will be very interesting to take a look at the sos-branch)

[2018-12-21 10:19] isakiev commented on #201
thank you for the info

[2018-12-21 10:20] isakiev commented on #198
thanks!

[2018-12-22 18:09] leculver opened #203 "Create parallel library for ICorDebug and the "clrobject" branch"
I plan to create a secondary library, something like Microsoft.Diagnostics.Runtime.CorDebug (or more generic like Microsoft.Diagnostics.Runtime.Extensions).  I have a set of code that I would like to fully support, but that doesn't belong in ClrMD proper.  This would ship in its own NuGet package.

The primary thing this library is for is an ICorDebug bridge.  This will let a developer initialize

[2018-12-22 18:15] leculver opened #204 "Go through old and existing issues"
I need to spend time going through all the old issues that I didn't look at in the last few years and figure out if these issues are still relevant to the current codebase and I'm opening this issue to track this work.  If you would like to know what needs to be done before I ship ClrMD 1.1, I am tracking that all through this [project board](https://github.com/Microsoft/clrmd/projects/1).  When t

[2018-12-22 18:20] leculver commented on #113
I try to not add too many "utility" like code and functions to ClrMD itself.  I don't think I want to own and maintain something like this in ClrMD, because doing this correctly is actually a lot of work and will be difficult to maintain long term.

I'm planning to split out some "helper" functionality into a side DLL where things like this could potentially go (tracked by https://github.com/Micro

[2018-12-22 18:20] #113 closed

[2018-12-22 18:31] leculver opened #205 "Blocking Objects: Clean up, fix, or mark obsolete"
The "blocking objects" feature was a poor idea to add to ClrMD.  As I remember it, there's nothing unique this surface area provides.  It's something that should be implemented by a consumer of ClrMD and not ClrMD itself.

I plan to go through that code and see if there's anything that ClrMD is actually uniquely providing as a building block.  From there we need to reconsider whether that should b

[2018-12-22 18:32] leculver commented on #36
Sorry for the very long delay in responding.  I think this is more of something that should be done by the consumer of ClrMD.  I try to keep ClrMD down to just "building blocks", giving you the functionality to implement something like what you are describing, instead of having every small algorithm like that in ClrMD itself.

(Though if this is something you find impossible to implement on top of

[2018-12-22 18:32] #36 closed

[2018-12-22 18:35] leculver commented on #57
Sorry for the very long delay in responding.

As JeffCyr points out, this is possible to implement with the surface area provided by ClrMD, so it's not something I plan to put into the library itself.  I try to keep ClrMD down to just "building blocks", giving you the functionality to implement something like what you are describing instead of building those things directly into ClrMD.

Thank you!

[2018-12-22 18:35] #57 closed

[2018-12-22 18:35] leculver commented on #11
Closing this.  This will be wrapped into the new parallel library instead of being part of ClrMD itself.

[2018-12-22 18:35] #11 closed

[2018-12-22 18:36] leculver commented on #38
Sorry for not responding to this when you filed it.  I believe this issue should be fixed in more recent versions of ClrMD.  I'm happy to take a fresh look if you still see this reproduce on ClrMD 1.0.*.

[2018-12-22 18:36] #38 closed

[2018-12-22 18:39] leculver commented on #23
I failed in my attempt to fix this back in 2015...  I plan to revisit this problem in the future, but for now I'm going to mark this Won't Fix.  (More like "Can't Fix", because the underlying APIs I use don't support this.)

Specifically the main thing I want to do in clrmd 1.2 is rework a lot of ClrMD's internals, including how we handle generics.  However, the biggest problem I face is that the

[2018-12-22 18:39] #23 closed

[2018-12-22 18:42] leculver commented on #35
Looking back at this issue, it's a borderline case of whether I want to add something to ClrMD to answer this question directly.  I try to keep ClrMD as the raw building blocks to implement what you need.  In this case I think it's possible to correctly get the function from a delegate, but it looks like it's really complicated due to the implementation.  When it's that fiddly to get right, that's

[2018-12-22 18:45] leculver commented on #49
This was fixed a while back but I didn't close the issue.  Overall I recommend using Cecil itself instead of my Pdb reader...

ClrMD was created a long time ago (before NuGet) and needed to carry a lot of its dependencies instead of using ones out there.  At this point though it's probably better to not use the utilities here unless you have to.

[2018-12-22 18:45] #49 closed

[2018-12-22 18:50] leculver commented on #114
I think this is By Design.  Or "By Poor Design".

EnumerateTypes should really not exist...it's basically "enumerate types we've seen", which is a really bad thing to have in an API design:  We should have either not enumerated any array types at all or we should have enumerated every type's array type...

I plan to rework a lot of ClrMD's internals in 1.2 (which is a ways out).  Rethinking what w

[2018-12-22 18:50] #114 closed

[2018-12-22 18:56] leculver commented on #68
Thank you for the suggestion!

I don't think this is something I want to add to ClrMD.  I don't want to expose an API to produce string names of types here.  The only way I would implement this API is if I could hand out the real ClrType instances themselves...and that isn't possible with the underlying Dac APIs I use.

You should be able to do this yourself by using [IMetaDataImport](https://docs

[2018-12-22 18:56] #68 closed

[2018-12-22 18:57] leculver commented on #102
Good question.  I don't believe this is possible to do with ClrMD.  The underlying APIs that ClrMD is built on top of do not support this.  I will leave this issue open while I double check whether there's a way to do this at all.

[2018-12-22 19:01] leculver commented on #86
Duplicate of https://github.com/Microsoft/clrmd/issues/159, which is fixed.

[2018-12-22 19:01] #86 closed

[2018-12-24 09:09] mitikov commented on #88
I like the exception to bubble to allow calling code/user figure out what's next.

I guess silent 'sorry no' could be of little use...

[2018-12-24 10:17] smourier commented on #88
@mitikov - Of course, I agree when you're calling the method yourself, but there are cases where this method is called implicitly (I don't remember my use case, but I think it was around the symbol locator). In this case, the "user" cannot figure what's next.

[2018-12-26 19:59] leculver commented on #52
Ah yeah, ClrMD doesn't support extra symbol stores.  Even fixing the regex, I'd need to fix the implementation to do the right thing.  I'm not sure if/when I'll get around to this but it's something I'd eventually want to fix.

[2018-12-26 20:32] leculver commented on #101
Ah I was wrong in that previous statement.  It looks like this is the offending code:  https://github.com/Microsoft/clrmd/blob/bbde79ff1d816d15697ae12dc7a5982682a83919/src/Microsoft.Diagnostics.Runtime/src/Desktop/DesktopInstanceField.cs#L259

The problem here is that there's no API in the dac which hands out the correct size of a field.  We would have to run a layout algorithm to determine the si

[2018-12-27 00:20] JeffCyr commented on #114
Alright, my use case was to have a `EnumerateObjects(string typeName)` which supports wildcards.

It was more efficient to run the regex once per type with `EnumerateTypes` then comparing the `ClrType` reference in `EnumerateObjects` instead of running the regex for all object instances

[2018-12-30 09:39] mitikov commented on #88
@smourier The code is consumed by `DefaultSymbolLocator.FindPdb` that is sitting inside `DataTarget.SymbolLocator` property (with public setter) that gives a default implementation of SymbolLocator.

I did not find any code usages OOB as well, so it would be good to know a bit more about the scenario you are trying to achieve.

As for technical aspect - the method description states: `Validates wh

[2018-12-30 14:32] mitikov commented on #201
Yep, my idea was similar - to have unit and integration tests separate.

Integration tests to ensure API fetches data corretly from existing source.
While getting to know older ClrMD version, I was wondering how should code behave with the input data, so I had to capture snapshots with prototyped objects and inspect runtime values with debugger attached.

I aim integration test to be able answer m

[2018-12-30 19:55] leculver commented on #170
I am leaving this bug open to track throwing a better exception here.  Thank you for the report!

[2019-01-02 09:13] smourier commented on #88
Ok, I found my use case back. It's like I said in my first comment:

    Environment.SetEnvironmentVariable("_NT_SYMBOL_PATH", @"c:\symbols");
    using (var file = new PEFile(@"c:\windows\system32\kernel32.dll"))
    {
        new DefaultSymbolLocator().FindPdb(file.PdbInfo);
    }

This raises the following error, at least on my machine:

[code]

[2019-01-02 12:30] smourier opened #208 "No handling of PdbFileNames that contain terminating zero(es)."
Hi,

The `PdbFileName `field from `CV_INFO_PDB70 `structure can contain terminating zero(es). The new `PEImage` class (I'm using the latest version) and associated code does not handle that, keeps unwanted zeroes and causes the code to throw later on in  `FindPdb`.

For example this code (compiled as x64, and with this specific DLL, most don't exhibit that problem):

    var path = @"C:\Windows\sy

[2019-01-02 20:21] #208 closed

[2019-01-02 20:58] leculver commented on #88
Interesting.  Reading through this and looking at the code, I think `PdbReader.GetPdbProperties` should throw.  You are asking PdbReader to give you a concrete answer on a single pdb, and it's appropriate to throw UnauthorizedException there.

However, FindPdb should be checking multiple paths and a single unauthorized location shouldn't result in aborting the entire path and throwing.  Looking at

[2019-01-02 21:01] #88 closed

[2019-01-03 01:15] leculver commented on #108
Thank you for the detailed bug report!

I have some vague plans to revisit a lot of the internals of the ClrMD type system in ClrMD 1.1 or 1.2 (which is a while out).  One of the goals of that planned work is to simplify and rework a lot of the internal parts of ClrMD, especially around some of the really bad heuristics when we have to start working with ClrElementType.

I'm going to delay looking

[2019-01-03 01:17] leculver commented on #67
I could not reproduce this in recent builds.  Also creating a lambda in a constructor did not generate the expected method with the most recent version of roslyn.  If this still reproduces on ClrMD 1.0+ please let me know (be sure to @leculver so I see the message).  Thanks!

[2019-01-03 01:17] #67 closed

[2019-01-03 01:38] leculver commented on #89
Thank you for the bug report!  Sorry it's taken me so long to do something here.

Unfortunately the real root of the problem is that we've calculated the stack base/limit incorrectly.  I don't know of any way to reproduce this issue.  I've checked in a workaround to limit the damage in this scenario.  Please let me know if you have a repro (or crash dump) that exhibits this problem you could share

[2019-01-03 01:38] #89 closed

[2019-01-03 01:39] leculver commented on #102
Unfortunately it's not directly possible to do this with ClrMD.  The underlying Dac APIs do not support this.  It is possible to get IMetaDataImport that can give you this answer via the module.

I do not intend to implement this in ClrMD at this time since the underlying APIs we use don't support it.

[2019-01-03 01:39] #102 closed

[2019-01-03 01:41] leculver commented on #115
(Sorry for the recycled message here, I'm trying to tear through the remaining bugs I have.)

I have some vague plans to revisit a lot of the internals of the ClrMD type system in ClrMD 1.1 or 1.2 (which is a while out). One of the goals of that planned work is to simplify and rework a lot of the internal parts of ClrMD, especially around some of the really bad heuristics that you are running into

[2019-01-03 01:43] leculver commented on #69
Sorry, I think I'm going to reject this one.  I don't plan to keep the arity of generic types in the name.

In the future (1.2) I plan to try to tackle generics in a better way...but due to the underlying API surface area of ClrMD (the dac) it's very, very difficult to handle generics correctly in all cases, so we will have to see what can be done then.

[2019-01-03 01:43] #69 closed

[2019-01-03 01:47] leculver commented on #63
I plan to replace the built-in minidump reader in ClrMD in a future release (currently thinking 1.2).  This would fix this problem.

[2019-01-03 02:03] leculver commented on #204
I'm mostly done with this now.  I've closed old issues, tagged everything, and assigned them to a "project" (which I'm using for upcoming releases).

[2019-01-03 02:03] #204 closed

[2019-01-07 12:43] loop-evgeny opened #210 ""Could not find matching DAC for this runtime" for Linux core dump"
ClrMd 1.0.2, .NET Core 2.1.6 on Ubuntu 18.04.1 (x64).

I created a dump using the .NET Core `createdump` utility. I can open it using `DataTarget.LoadCoreDump` but then `CreateRuntime` fails:

[code]

I'm running this on the same machine where the dump was created, so mismatching .NET Core versions shouldn't be an issue.

[2019-01-07 19:57] leculver commented on #210
Thanks for the report.  For now, you can specify the path directly with ClrInfo.CreateRuntime(path, validate=false).  This will be fixed in ClrMD 1.1 (or before).

[2019-01-13 12:40] adamsitnik commented on #143
I just wanted to say that it would be awesome to have it, it would unblock BenchmarkDotNet to make our disassembler cross-platform https://github.com/dotnet/BenchmarkDotNet/pull/1015

[2019-01-14 20:55] #165 closed

[2019-01-18 17:37] chrisnas opened #214 "Unable to get some static field values in .NET Core Windows dumps"
I'm using a code similar to DesktopThreadPool.EnumerateManagedThreadPoolObjects to iterate on the threadpool workitems and tasks.

[code]
 [the call to ClrStaticField.GetValue](https://github.com/Microsoft/clrmd/blob/67e34c36107ff09d2e145decfe656b00eaba34e0/src/Microsoft.Diagnostics.Runtime/Desktop/threadpool.cs#L97) fails. Note that GetAddress is also failing.

After a quick debugging session, De

[2019-01-22 21:59] leculver commented on #214
Thank you for the report!  Unfortunately I'm working on other projects for Microsoft at the moment, but I will take a look at this as soon as I'm back working on ClrMD.

[2019-01-22 22:31] chrisnas commented on #214
Thanks Lee!
I've found a workaround by scanning the whole heap but it is too "expensive" for our 64 GB linux dumps...
I'll try to dig into SOS to see where the problem could come from (!do is able to show static fields value on .NET Core dumps)

[2019-01-22 22:49] leculver commented on #214
Without having debugged the issue yet, I would bet the problem is that the code path required to get static variables on .Net Core in some cases is subtly different that what it is on Desktop CLR (and ClrMD hasn't been enlightened to this difference, it uses the Desktop CLR code path).  You should be able to solve this by walking through what functions are called by !do and then by ClrMD, but if y

[2019-01-22 22:53] chrisnas commented on #214
This was my plan  :^)
I'll provide feedback as I'll dig into the issue... soon

[2019-01-23 08:12] skybook888 opened #215 "ClrMD needs to throw a different exception when asked to load a Portable PDB"
a simplly code
[code]
Build it (pdbreadertest is the project name)
[code]
just read the pdb file builder by it self
[code]
reports
[code]
The dotnet info
[code]

[2019-01-24 03:52] skybook888 commented on #215
By the way，is there any way to read the portable pdbs?
my project is a dotnet core project running on linux.
I want to use clrmd to auto analysis the coredump files.
if PdbReader conld not support portable pdbs ,
how to find the line numbers?

[2019-01-24 17:36] leculver commented on #215
@skybook888 I don't know the answer to your question.  I have asked other people on the CLR team to respond to this thread.  Thank you!

[2019-01-28 17:52] leculver commented on #215
From @mikem8361:

[2019-02-07 03:33] ZQiu233 opened #216 "Question about the ArrayComponentMethodTables"
My english is poor,sorry.
I've had some tests.
For .net framework v4 there is a head of 12 bytes long at the very beginning of an common array's memory region.
For .net framework v4.5 there is a head of only 8 bytes long.
I've read parts of code and I think it may be the ArrayComponentMethodTables that occupied the extra 4 bytes.
But according to the doc(following),it was not removed untill v4.6,w

[2019-02-07 05:16] #216 closed

[2019-02-07 17:33] ZQiu233 opened #217 "ClrMethod.IL returns null"
Here's my code
using (DataTarget data = DataTarget.AttachToProcess(Process.GetProcessesByName("Terraria").Single().Id, 5000, AttachFlag.Invasive))
			{
				var runtime = data.ClrVersions[0].CreateRuntime();
				var heap = runtime.Heap;
				var method = heap.GetTypeByName("Terraria.Main").Methods.First(t => t.Name == "Update");
				Console.WriteLine(method.IL);
			}
method.IL is null but method.ILO

[2019-02-08 17:18] sgkoishi commented on #217
Is it a COM related problem?

Following code throw error: System.InvalidCastException: 'Unable to cast object of type 'Microsoft.Diagnostics.Runtime.DacInterface.MetaDataImport' to type 'Microsoft.Diagnostics.Runtime.ICorDebug.IMetadataImport'.'

[code]

[2019-02-08 22:26] leculver commented on #217
These are two different issues.

@ZQiu233:  What does ClrMethod.CompilationType return?  Is it MethodCompilationType.None?  If so then that method probably hasn't been compiled yet.

@sgkoishi: That's a different issue, so feel free to file an issue about that.  I can probably give you a way to get at the underlying COM object so you can do this conversion.  The wrapper for `IMetadataImport` in Cl

[2019-02-08 22:51] sgkoishi commented on #217
Thanks for reply.
@ZQiu233 and I start from a similar point, both of us find that the il of methods is null.

We first find DesktopMethod.get_IL call InitILInfo
https://github.com/Microsoft/clrmd/blob/6095cd0fbff574454e7af8a4731a9f626e6924be/src/Microsoft.Diagnostics.Runtime/src/Desktop/DesktopMethod.cs#L186-L195

And inside it, it's the code I ref
https://github.com/Microsoft/clrmd/blob/6095cd0fb

[2019-02-08 23:44] leculver commented on #217
Ahh got it.  I will take a look.

[2019-02-09 04:13] ZQiu233 commented on #217
To your question.I'm sure that the method has already been compiled,otherwise I would have not used this method.

I've found out all possible return value of ClrMethod.IL I got.They're all instances of MetaDataImport instead of IMetaDataImport.
Then I changed IMetaDataImport in the code of DesktopMethod.InitILInfo into MetaDataImport and it works well.

[2019-02-10 21:20] #217 closed

[2019-02-16 14:31] kevingosse opened #230 "Adding a net471 target to the nuget"
Currently, the nuget is published with two targets: net452 and netstandard2.0. Since `RuntimeInformation` is not supported prior to .net 4.7.1, the DataTarget always assumes it's running on Windows when compiled for net452:

https://github.com/Microsoft/clrmd/blob/e0e1d97ba82277701504733a5f0e0d23d1a1196a/src/Microsoft.Diagnostics.Runtime/src/DataTargets/DataTarget.cs#L25-L33

For various reasons,

[2019-02-16 19:38] Zhentar opened #231 "ClrMethod ILOffsetMap doesn't return correct method end offset"
The code slightly misunderstands the situation:
[code]
What is actually happening is that the CLR structure only stores the start address for each offset;  `IXCLRDataMethodInstance::GetILAddressMap` calculates each end offset from the following start offset. Because there is no following start for the final offset, it just sets an end offset of 0, leaving you to calculate it yourself from the size

[2019-02-18 00:09] leculver commented on #230
Full disclosure:  I've spent most of my career working in diagnostics, debugging, and C++/assembly...  When it comes to deep issues related to our build systems, targeting, and what the "Right Solution" should be here...I'm actually out of my technical depth with these kinds of issues and don't mind admitting it.  =)

To answer your direct question:  If adding a 471 target is the right thing to do

[2019-03-07 10:03] skybook888 opened #237 "How can I get the unmanaged stacktrace on clrThread"
I wanna to parse a stackoverflow exception on linux
i found the recursion stacktrace on the unmanaged side.
(by using lldb with sos plugin and use dumpstack command)

I wanna to do this by clrmd so i can check the exception automaticly。
but i cannot get the unmanage stack。
Is there any thing I can do？

[2019-03-08 09:46] 0x53A opened #238 "NullReferenceException when accessing Heap property after 0.9.180305.1"
With any version >0.9.180305.1, I get a NullReferenceException on accessing ``runtime.Heap``.

I was following the tutorial, and loading a (full) memory dump.

[code]

The exception occurs in ``LegacyRuntime.GetSegmentData``, where ``base.Request`` returns null, but the result is unconditionally casted to ``SegmentData``.

![grafik](https://user-images.githubusercontent.com/4236651/54020969-5f8214

[2019-03-08 22:41] 0x53A opened #239 "[Maybe obsolete] Assert thrown in EnumerateGCRoots"
I could only run this with 0.9.180305.1 because of https://github.com/Microsoft/clrmd/issues/238, so it may be already fixed.

The dump is .net40 x64.

When I run this:

[code]

it will assert in ``EnumerateGCRoots``.

Stacktrace:

[code]

The triggered assert:

![grafik](https://user-images.githubusercontent.com/4236651/54059961-4747df00-41fb-11e9-942f-e7e2578bb23d.png)

If you want I can send yo

[2019-03-08 22:50] 0x53A commented on #238
I removed the unbox and added a nullcheck which seems to have fixed this issue:

[code]

[2019-03-08 22:57] 0x53A commented on #239
after https://github.com/Microsoft/clrmd/issues/238#issuecomment-471103590 I tested it again with 1.0.3 and it has been running for a few minutes now without assert.

Not sure whether this is expected or and infinite loop, but I assume that it has to do a lot of work, and the dump is 800 MB, so I would guess the first.

[2019-03-08 22:57] #239 closed

[2019-03-13 08:19] adrianrus opened #242 "Access violation getting the stack trace"
Hi All,

I was investigating recently a heap corruption situation, which would crash the app suddenly.
I was able to catch this with adplus, I can't share the dump but I can query things.

[code]

[2019-03-13 11:34] adrianrus commented on #242
I've tried also with application verifier active and Windbg attached as a debugger, after several access violations it finally broke with

[code]

[2019-03-18 22:58] #238 closed

[2019-03-19 17:32] leculver commented on #237
ClrMD is only designed for inspecting CLR's data structures using the internal diagnostic apis (libmscordac*.*).  That means we actually don't do anything like native (unmanaged) stack unwinding anywhere in the library.  You will have to build a library (or use LLDB's plugin model) to pull apart the native side of things.

[2019-03-19 17:32] #237 closed

[2019-03-21 08:39] skybook888 opened #243 "NullReferenceException on get_SharedDomainAddress onlinux"
using the gcroot sample by
[code]
my only change is change the LoadCrashDump to LoadCoreDump
[code]
i try this on both 2.2 and 3.0 privew container

[2019-03-21 08:54] janvorli commented on #243
It is probably due to the fact that the shared domain was removed from .NET core few months ago and daccess now reports the sharedDomain as being null.

[2019-03-24 20:03] EranOfer opened #244 "System.OverflowException when trying to read string value from an array"
Hi ,
I getting a System.OverflowException when trying to read string value from an array.
As you can see it throw OverflowException after reading 30 item with no problem.

I working on Microsoft.Diagnostics.Runtime version="1.0.2" .
The dump is from wpf app 4.5.1 with 64 bit.

![image](https://user-images.githubusercontent.com/13414515/54884922-3ea00b80-4e7f-11e9-95c4-986b4a9bad69.png)

My code:
[

[2019-03-26 07:50] ashmind opened #245 "EnumerateStackTrace does not seem to work when attaching to self"
This code
[code]

outputs (.NET Framework 4.7.1):
[code]

Since this thread is running code, I expect to see a stack trace with at least `Main` in it.

[2019-03-26 08:39] ashmind commented on #245
Seems that `VTable->CreateStackWalk` returns `0x80070057` (`E_INVALIDARG`).

[2019-03-29 23:40] leculver commented on #245
Attaching to your own process to inspect code is 100% not supported.  The fact that it works in some very narrow cases isn't something that's tested or should be relied on.

Walking stacks in particular is _definitely_ not going to work.

[2019-03-29 23:40] #245 closed

[2019-03-29 23:49] Zhentar opened #258 "Desktop Runtime EnumerateMemoryRegions Never includes JIT Heaps"
In https://github.com/Microsoft/clrmd/blob/18dd6649d85da782617dd73002cdb39d4940c9db/src/Microsoft.Diagnostics.Runtime/src/Desktop/V45Runtime.cs#L331-L332

Only Unknown heap types will be returned by EnumerateJitHeaps, and EnumerateMemoryRegions ignores unknown heaps. So I'm guessing that's supposed to be `==`.

[2019-03-29 23:57] Zhentar commented on #258
Though I guess it doesn't matter much because SOS returns nulls for the heap regions 😩

[2019-03-30 03:47] ashmind commented on #245
Hmm, good point, thanks.
Same process + same thread does not work, a different thread works (even within same process).

(for my use case it's OK that it is unsupported/unreliable)

[2019-03-31 13:17] lasherer commented on #245
Use System.Diagnostics.StackTrace to print current thread’s stack.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andrey Shchekin <notifications@github.com>
Sent: Friday, March 29, 2019 10:47:46 PM
To: Microsoft/clrmd
Cc: Subscribed
Subject: Re: [Microsoft/clrmd] EnumerateStackTrace does not seem to work when attaching to self (#245)

Hmm, good point, thanks.
Sa

[2019-04-01 14:59] Zhentar commented on #258
It's because it's returning pointer to the first field of the heap, I guess; subtracting one pointer from the address for loader heap types allows it to correctly return the heap's allocation.

Also this:

https://github.com/Microsoft/clrmd/blob/18dd6649d85da782617dd73002cdb39d4940c9db/src/Microsoft.Diagnostics.Runtime/src/Desktop/V45Runtime.cs#L336-L337

Should be indexing with `j`

[2019-04-08 19:41] baal2000 opened #259 ""Failure loading DAC" in ClrInfo.CreateRuntime() when connecting to a mini dump."
On a Windows Serer 2016 system, when attaching to a mini-dump created as

[code]

a call to
[code]
fails with the error:

"Failure loading DAC: CreateDacInstance failed 0x80131c4f" that points to
[CORDBG_E_MISSING_DEBUGGER_EXPORTS](https://github.com/dotnet/coreclr/blob/2ab76fe4fb75af98f470650c939f79c569c729a3/src/inc/corerror.xml#L2138): The debuggee memory space does not have the expected debugg

[2019-04-10 05:10] EranOfer opened #260 "EnumerateRefsOfObject dose not return all fields"
Hi,
I am reading the documentations.

You might be wondering why we need EnumerateRefsOfObject at all. As you will see in the next tutorial, you can walk each field in the object and get its value. You could implement this algorithm by walking fields instead. However, EnumerateRefsOfObject is much, much faster. It uses the same algorithm the GC does to get object references out of the object, whic

[2019-04-16 17:03] leculver commented on #260
EnumerateRefsOfObject only returns _object reference_ fields, not all fields.  The reason for using it is to be 100% sure you find all object references in an object, using the same code the GC does.

This is for building the object graph.  You should use ClrType.Fields instead here.

[2019-04-18 18:55] EranOfer commented on #260
Thanks a lot for your help 👍

[2019-04-18 18:55] #260 closed

[2019-04-24 23:08] mjsabby opened #261 "Read SegmentData flags to determine if a segment is a ReadOnlySegment"
I'd like to add another property on `ClrSegment` which informs if the segment is a RO segment or not.

    seg->flags = heap_segment_flags_readonly;

https://github.com/dotnet/coreclr/blob/4932d0f6fa87b9a6e3293aacd35cecedde44d87a/src/gc/gcee.cpp#L566

From what I can tell, the information can be discovered by checking this flag which I assume is the flags field of SegmentData in ClrMD.

[2019-04-24 23:09] mjsabby commented on #261
cc @Maoni0

[2019-04-25 00:39] mjsabby commented on #261
Related: https://github.com/dotnet/coreclr/issues/24231

[2019-04-25 14:11] CreateAndInject opened #262 "ModuleInfo.FileName is null if the process name contains Chinese character."
[code]

The process I tested is `d:\中文.exe`, if I rename it as `d:\abc.exe`, it works!

[2019-04-25 14:18] CreateAndInject commented on #262
By the way, this problem only occurs in Invasive & NonInvasive, and no problem in Passive.

[2019-04-29 09:28] wsq003 commented on #122
any update?

[2019-05-15 09:11] mitikov commented on #244
Hey @EranOfer, does it happen constantly or once in a while/for single string?

The string layout in memory would be smth like : `typeId`_`Length`_`charactersGoHere`

I recall seeing similar trouble once in a while when `Length` gets some trash value (zillions).

What is the outcome if you open a snapshot in WinDbg and call `!do` command?

Or: **dp 00000291b2c20fb8**
00000291b2c20fb8  00007ff9c014

[2019-05-21 13:57] franklad commented on #259
**Failure loading DAC** is caused when a dump that is collected in machine A is trying to be parsed in machine B. ModuleInfo is a string that is hardcoded in the dump file, and when it gets loaded in the parser, the program tries to create the LocalMatchingDAC based on the hardcoded path, which in this case `C:\\Machine-A\path_to_test.exe\publish` but this path doesn't exist in machine B so it set

[2019-05-24 13:14] baal2000 commented on #259
Thanks @franklad for his help in investigating the issue.
FYI @karelz, @leculver

Our conclusion is that one or more debug dlls in Microsoft Windows Server 2016 (as tested in GCE and VirtualBox) have a bug and as the result, minidumps created by ProcessExplorer (-mm) or ProcDump  from a published .NET Core 2.1 application are corrupted and their stack is not readable. When the dumps are in the pro

[2019-05-24 13:14] #259 closed

[2019-06-03 19:31] akrock commented on #143
We have used CLR MD in the past to live attach to our own process and dump running threads to assist with identifying deadlocks, and other unexpected processing slowdowns for batch worker processes in full framework.

As we are now migrating some of our batch processes into NET CORE and linux docker containers we would be very interested in having this functionality working under linux.

[2019-06-14 19:29] ayende opened #264 "SIGABRT on Linux when their is a ptrace() failure"
Repro by the following code.
This will fail since the process doesn't have `SYS_PTRACE`, but the problem is that any error that is thrown there will cause an access violation and kill the process.
I believe that the issue is something with the way the code jumps between managed / native codes there that isn't ready to handle exceptions, but I'm not sure

[code]

[2019-06-14 20:22] ayende opened #265 "ClrMd shouldn't write to the console"
Just a note about what I believe to be debugging code that needs to be removed.

https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/Linux/LinuxLiveDataReader.cs#L230

https://github.com/microsoft/clrmd/blob/b1c94e5a9643b35f846da16a95f8e0ec63a3e785/src/Microsoft.Diagnostics.Runtime/src/Linux/LinuxLiveDataReader.cs#L230

Note that a decision needs to be made whateve

[2019-06-28 06:54] d-schneider opened #267 "ArgumentNullException with cache* element in symbol path"
Since updating to version 1.0.5 of the nuget package, we get an ArgumentNullException for some dumps when the symbol path contains a cache* element.
If we remove the cache* element from the symbol path it works again.

Symbol Path:
[code]

This could be related to PR #235. It seems that Cache SymPathElements are not always handled (e.g. in line 62 of the DefaultSymbolLocator. However, I did not ve

[2019-07-24 07:47] loop-evgeny commented on #143
Any update on this? It would be great to have!

[2019-07-24 17:43] leculver commented on #143
@akrock @loop-evgeny Live data reading was added in pull https://github.com/microsoft/clrmd/pull/263.  Also Mike made some fixes in pull https://github.com/microsoft/clrmd/pull/276.  I have not had the chance to test it but I've been assured it works, so I will close this issue.  If you find problems with it please feel free to open new issues about the specific problems.

[2019-07-24 17:43] #143 closed

[2019-07-25 07:04] loop-evgeny opened #281 "Inconsistent and unhelpful error when process does not exist"
When calling `DataTarget.AttachToProcess` with a PID that does not exist the exception thrown is significantly different from Windows to Linux and the message is not very helpful.

Linux:

[code]

Windows:

[code]

It would be nice to have something like a ProcessNotFoundException for this, specifying the process ID. (The DirectoryNotFoundException on Linux could be an inner exception to this - it

[2019-07-25 10:57] loop-evgeny commented on #143
Yes, it works now! Thanks so much!

[2019-08-01 09:45] PathogenDavid opened #284 "Correlating an assembly between CLR MD and reflection"
Is there a way to correlate a `System.Reflection.Assembly` instance in the target process with a `Microsoft.Diagnostics.Runtime.ClrModule` in CLR MD?

Alternatively:

* Is there a way to get the [`ModuleVersionId`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.module.moduleversionid) from CLR MD?
* Is there a way to get the `ClrModule.AssemblyId` of an arbitrary `System.Reflection.

[2019-08-14 23:58] chrispynz4 opened #287 "Cannot read a Windows .dmp where the dmp was taken from a 32-bit process running on a 64-bit computer"
I have a .dmp from a production server which I can't read, despite having the right mscordacwks.dll.

After spending some time stepping through ClrMD and looking at the .net dlls being referenced by the production .exe, I eventually came to the conclusion that the exe from which the dmp was taken was for some reason running in 32-bit mode, despite being on a 64-bit server and built as "Any CPU".

[2019-08-15 16:23] leculver commented on #287
Unfortunately this isn't a supported scenario.  (Well, "unsupported" here means that I would make it work if I had infinite time.  However, keeping all of the weird crash dump corner cases working properly isn't something I can commit to.)

For CLR dumps, you are always expected to take a crash dump using the same bitness as the target process, and use the same bitness process to debug that crash

[2019-08-15 16:29] leculver commented on #287
I've enabled you to work around the problem with this change:  https://github.com/microsoft/clrmd/commit/c16dad7a3d696e6f8124f62da61cedbcc68142bd

(You will need to build ClrMD from source, or wait until I ship a NuGet package.  I don't intend to ship one this week.)

Unfortunately it doesn't work "out of the box" right now.  I don't have a good way of knowing whether a dump is unsupported, so you

[2019-08-15 16:29] #287 closed

[2019-08-20 05:35] chrispynz4 commented on #287
Thanks!

[2019-08-21 17:47] oakio opened #288 "NativeCode value is zero for methods of structs implementing an interface"
Steps to reproduce:
[code]

[code]

Environment:
- Microsoft.Diagnostics.Runtime version: 1.1.37504
- dotnet version: 2.2.103
- win10-x64

[2019-09-05 13:54] isakiev opened #290 "[offtopic] dotnet-maestro-bot is polluting the repository"
Is it a final design?
Can build details be somehow separated from the main repository?
(or at least be changed not that often)
There are already over 70 commits.
Constant notifications make me want to unsubscribe from the project.

[2019-09-06 17:35] iitaiy opened #291 "Getting System.Runtime.InteropServices.SEHException After using DataTarget.CreateSnapshotAndAttach"
I'm want to get c# object inclusive size by using `ObjSize `method. In order to get this information, first I need to attach to the process. To achieve this, I'm using `DataTarget.CreateSnapshotAndAttach` method.

For some reason, the application crash after getting `System.Runtime.InteropServices.SEHException` exception with 0x80004005 Error Code

StackTrace:

[code]
The root cause for this probl

[2019-09-11 23:14] leculver commented on #290
Sorry I didn't realize these were actually causing that many updates.  I will ask what can be done about it.

[2019-09-12 07:45] isakiev commented on #290
Thank you!

[2019-09-16 09:39] loop-evgeny opened #294 "All elements in ClrThread.BlockingObjects.Owners are null"
NuGet package 1.1.46104 on Windows 7 x64, .NET Core 2.1. When I attach to a .NET Core process and inspect ClrThread.BlockingObjects.Owners for each thread the collection has one element that is null, that is, it does not tell me the owner threads. This happens for all threads and all processes I've tried it on.

Also ClrThread.BlockingObjects is sometimes null and sometimes empty, which is a bit c

[2019-09-16 12:12] loop-evgeny opened #295 ""PTRACE_GETREGS returns ffffffffffffffff""
When getting the threads and their stack traces for a .NET Core 2.1 process on Linux x64 I get this in the output:

[code]

I don't know what this means. I guess the register values could not be read?

[2019-09-16 14:45] loop-evgeny opened #296 "ClrThread.BlockingObjects property is very slow for a large process"
For a large process (20GB RAM in my case) getting the `ClrThread.BlockingObjects` property was very slow. If this cannot be made much faster please make it a method instead of a property - I was calling it 3 times under the assumption that it's fast (as properties are generally assumed to only return already available data and not perform expensive operations).

[2019-09-30 20:57] leculver commented on #295
@mikem8361 Any ideas?

[2019-10-01 00:19] mikem8361 commented on #295
This is part of live linux reader that @xinyanmsft added a few months ago.

[2019-10-01 00:37] xinyanmsft commented on #295
Hi, @loop-evgeny does the caller has ptrace permission on the .net core process?
Can you explain a bit in more detail what you are trying to accomplish? That would help me understanding what's going on. Right now this indicates the ptrace call with GETREGS failed. Thanks!

[2019-10-01 13:20] loop-evgeny commented on #295
Yes, this happens even when running with sudo. I'm printing the stack trace of every managed thread. The code does something like this:

[code]

[2019-10-11 17:22] leculver opened #298 "String.Empty is reported as not-initialized"
From an internal email:

Do you know if there are known issues around the static field String.Empty? I have noticed both CLRMD and SOS seems to think it is uninitialized, but it definitely should be initialized afaik (i.e. looking in the heap there are literally millions of objects that reference it).

From a random dump I am looking at:

0:000> !DumpClass /d 729f4a50
Class Name:      System.Strin

[2019-10-14 19:52] xinyanmsft commented on #295
fix merged. thanks!

[2019-10-16 08:58] tohghua opened #299 "Failed to load dac"
Zipped dump file:
[https://github.com/tohghua/hgh/blob/master/HttpReq.zip.001](url)
[https://github.com/tohghua/hgh/blob/master/HttpReq.zip.002](url)
[https://github.com/tohghua/hgh/blob/master/HttpReq.zip.003](url)

Code:
using (DataTarget dataTarget = DataTarget.LoadCrashDump(@"c:\HttpReq.DMP"))
{
	ClrInfo runtimeInfo = dataTarget.ClrVersions[0];
	ClrRuntime runtime = runtimeInfo.CreateRuntime()

[2019-10-20 21:20] pharring opened #300 ""Unexpected relative addresses inconsistency" when loading x86 Windows minidump from a process snapshot"
I have a Windows minidump from an x86 Azure App Service.

Both "HeapDump" and "dotnet-dump analyze" fail to open it saying "Unexpected relative addresses inconsistency between dump memory chunks 21 and 22."

On closer inspection, some of the chunks read from the Memory64List are zero length and that triggers the error in ValidateChunks. Skipping the zero-length chunks is all that's keeping these .

[2019-10-21 14:13] raffaeler opened #302 "Grouping types by AssemblyLoadContext"
In the .NET Framework, types can be loaded in different AppDomains.
Now with .NET Core, they can instead be loaded in different AssemblyLoadContexts. Since any outstanding reference to an AssemblyLoadContext can prevent it to be unloaded, it becomes fundamental to diagnose which are the types being loaded in a specific context.

Currently I am diagnosing this kind of issue by analyzing the roots o

[2019-10-21 16:39] #300 closed

[2019-10-21 22:17] nasser opened #303 "ClrRuntime.GetMethodBy* always null when attaching to current process on Linux x64"
I encountered this while trying to get [JitBuddy](https://github.com/xoofx/JitBuddy) to work. I've extracted the relevant code into a minimal reproducing case below, and added logic to try and get a method by its address from [SharpLab](https://github.com/ashmind/SharpLab/blob/master/source/Server/Decompilation/JitAsmDecompiler.cs#L158). I tried this against Microsoft.Diagnostics.Runtime 1.1.46104

[2019-10-22 00:02] nasser commented on #303
Just in case, I updated off of the RC and onto the official 3.0 release and the problem persists.

[code]

It happens whether I run the app using `dotnet run` or from a published binary.

[2019-10-23 21:10] mattwarren commented on #302
I don't know if you can do it in CLRMD, but the general process you'd need to follow is nicely outlined in https://github.com/dotnet/coreclr/issues/20166#issuecomment-486888820

[2019-10-23 21:17] raffaeler commented on #302
Thanks @mattwar but I have already automated the reasearch of the leak by starting from LoaderAllocator. I created a small demo that just find the statics, and optionally the instances, if any, holding a direct or indirect reference to LoadContext.
The problem is that you need to stop to the first object belonging to a different LoadContext.
Since types can live in more than one context (and in di

[2019-10-24 11:08] mattwarren commented on #302
@raffaeler my bad, I mis-understood what you were asking

[2019-10-25 11:47] raffaeler commented on #302
No worries at all @mattwar :)

[2019-10-28 13:12] IlyaAI opened #305 "Unable to download 'mscordacwks' form Microsoft Symbol Server"
Starting from 27.10.2019 we have encountered problem with downloading 'mscordacwks' form Microsoft Symbol Server. The test `SymbolLocatorTests.FindBinaryTest` also fails.
Something changed on MS Symbols Server side? Or this is temporary problem?
//cc:@leculver

[2019-10-28 19:28] leculver commented on #305
@IlyaAI Hello!  I'd be happy to help take a look at this, but I need slightly more information.  Can you please find a crash dump that is exhibiting this behavior (a dump in which you are not able to find the dac for) and run this program over it:

    using Microsoft.Diagnostics.Runtime;
    using System;

    class Program
    {
        static void Main(string[] _)
        {
            using (D

[2019-10-28 19:32] aluhrs13 commented on #305
The symbol server is experiencing an outage right now and likely the cause of this.

[2019-11-08 09:33] damageboy commented on #303
I'm also trying the same thing and failing much in the same way on Linux.

dotnet --info:
[code]

The project I'm failing on is:
https://github.com/damageboy/JitBuddy

To reproduce:
[code]

Both test+tested projects are netcoreapp3.0.

Cc: @chrisnas

[2019-11-11 09:54] loop-evgeny opened #306 "LinuxLiveDataReader.GetVersionInfo does not produce the correct answer"
ClrMd 1.1.46104 (also reproduces on latest master), .NET Core 2.1 on Linux x64 (Ubuntu 18.04)

[code]

This happens when using a self-contained deployment and the directory name is a GUID, separated with dashes, like "909B593B-4E9B-4294-AC28-FD5A369FA776".

Looking at what's happening in `LinuxLiveDataReader.GetVersionInfo`, it's trying to parse the directory name containing .so files as a version

[2019-11-11 09:57] loop-evgeny commented on #306
It seems to somehow work for most instances of my application (all of them running from directories named as GUIDs), but not this one. Maybe it has to do with the order of `LinuxLiveDataReader._memoryMapEntries`.

[2019-11-15 17:50] sdmaclea opened #308 "Support Linux core dump "module metadata mapping fix""
@mikem8361 said:
Core dumps are missing all or some of the metadata in the assemblies.  On Windows, dbgeng “maps” the modules into the address space automatically when SOS or CLRMD reads the metadata blob in the module.  I added something similar to SOS on Linux because lldb doesn’t do this. I also had to adding this module mapping to dotnet-dump on Windows too. I don’t think CLRMD supplies a ICLR

[2019-11-15 18:04] #305 closed

[2019-11-15 18:07] leculver commented on #308
We do actually, here's the code in ClrMD:

https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/DacInterface/DacDataTargetWrapper.cs#L265-L276

In the repro we discussed offline, I can see that `GetMetadata) is being called and we do return S_OK, but there's still something wrong with the result.  I will get back to debugging the issue on Tuesday.

[2019-11-15 18:50] leculver commented on #308
Ah the underlying issue here is that we don't properly set FileSize and TimeStamp on Linux modules here:  https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/DataReaders/Core/CoreDumpReader.cs#L106

Which means when we attempt to locate the module during ReadVirtual, we fail here:  https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src

[2019-11-18 19:41] leculver commented on #308
Fixed by https://github.com/microsoft/clrmd/pull/310.

[2019-11-18 19:41] #308 closed

[2019-11-18 20:11] leculver commented on #302
Thanks for bringing this issue to my attention.  The ability to solve issues like this will be something I'm adding to ClrMD, but I'm not sure on the timeline yet.

[2019-11-18 20:24] raffaeler commented on #302
This is a great news @leculver
I wish to stay updated on this subject, I just ask you to keep this thread updated as soon as it moves on.
Thanks

[2019-11-18 20:57] leculver opened #311 "ClrMD 2.0 feedback"
I am planning to ship a ClrMD 2.0, which will allow me to make significant changes to the library.  I have put the [ClrMD v2 roadmap here](https://github.com/microsoft/clrmd/blob/master/doc/ReleaseNotes2.0.md) that explains what the overall plan is.

Right now the document is a bit sparse because I am looking for feedback from the community before getting started.  Please use this issue to give an

[2019-11-18 21:00] leculver commented on #311
FYI to some folks who have submitted recent issues or prs:  @mitikov @0xd4d @isakiev @drewnoakes @loop-evgeny.

[2019-11-18 22:13] drewnoakes commented on #311
For API changes, #163 comes to mind.

[2019-11-18 22:15] leculver commented on #311
@drewnoakes  Yes, that kind of change is absolutely the kind of stuff I'll be doing in ClrMD 2.0.  One of my tasks for this week is to go back through all of the open issues and mark them as 1.0 or 2.0 changes.  That one we'd go fix in ClrMD 2.0.

[2019-11-18 23:29] leculver commented on #35
I'm going to close this issue.  I'm in the process of streamlining ClrMD and I don't think this will make the cut since there's example code to do this.

[2019-11-18 23:29] #35 closed

[2019-11-18 23:31] leculver commented on #52
Hello!  I am going to close this issue as "Won't Fix" since it's been around in ClrMD 1.0 for so long and I haven't seen many reports of this.  Sorry!  ClrMD 2.0 will not do symbol resolution on its own (it will delegate to a detached symbol package) which should handle this case better.

[2019-11-18 23:31] #52 closed

[2019-11-18 23:37] leculver commented on #85
Hello!  Unfortunately this feature is slated for removal in ClrMD 2.0, if you need to continue using this feature the migration path forward will be to copy the code for it into your project, at which point you will be able to fix bugs here.  Sorry for the trouble!

[2019-11-18 23:37] #85 closed

[2019-11-18 23:44] leculver commented on #215
PDB support is slated for removal in ClrMD 2.0, please see here:  https://github.com/microsoft/clrmd/blob/master/doc/v2_roadmap.md

I have decided not to fix this for 1.0 and instead just leave it as-is.

[2019-11-18 23:44] #215 closed

[2019-11-18 23:47] leculver commented on #242
Unfortunately this looks more like a runtime issue and not a clrmd issue.  There's nothing we can really do if the dac hits an access violation.  If this is a major problem for you I would recommend opening an issue in the .Net Core repo with repro steps so we can track it down.

[2019-11-18 23:47] #242 closed

[2019-11-18 23:48] leculver commented on #244
There's not much we can do in general when there's a giant string or somehow the value is corrupted.  However, this is a great idea:

I will add this to ClrMD 2.0.

[2019-11-18 23:49] leculver commented on #258
Not a ClrMD bug, but I will investigate fixing this in the CLR runtime in the future.  Leaving this issue open to remind me to go take a look.

[2019-11-18 23:59] #265 closed

[2019-11-18 23:59] leculver commented on #265
Already fixed, but I did a pass through to make sure nothing was missed.

[2019-11-19 00:01] leculver commented on #284
Unfortunately I'm not sure.  You would have to dig into the .Net Core implementation or field values to know, but I don't think there's a way to do that.

[2019-11-19 00:01] #284 closed

[2019-11-19 00:02] leculver commented on #288
There's not enough information here.  What does `method` point to?

[2019-11-19 00:06] leculver commented on #294
This feature is unfortunately in a bad state, it's not something that I want to carry forward in ClrMD.  I don't plan to fix issues in this feature so I will mark it obsolete.

[2019-11-19 00:06] #294 closed

[2019-11-19 00:14] leculver commented on #296
Unfortunately this feature has rotted over the years. I highly recommend not using it, or possibly pulling the implementation out and implementing it yourself.

My plan for this feature is to mark it obsolete in 1.0, and remove it in ClrMD 2.0.  If you need to do something like what BlockingObjects is attempting to do, the plan going forward would be to copy the code out of ClrMD into your project

[2019-11-19 00:14] #296 closed

[2019-11-19 00:14] #295 closed

[2019-11-19 00:36] leculver commented on #306
Yeah that's pretty sketchy code.  I should have reviewed that one closer when I merged it.

I'll replace that with just a Regex after I confirm there's not a better way to get the version of .Net Core.

[2019-11-19 06:03] PathogenDavid commented on #284
Sorry to hear that. Thanks for the response!

[2019-11-19 07:02] oakio commented on #288
[code]

[2019-11-19 08:53] loop-evgeny commented on #306
It's a problem I've run into myself and I've been reading it from the .deps.json file for self-contained deployments. Here's the code I use to get the version of the running .NET Core app, which I think can be easily modified to work with arbitrary application paths:

[code]

[2019-11-19 16:51] NextTurn opened #313 "CODING STYLES"
(If you are not from Mono team) I believe the general conventions are **exposing `protected` properties for `private` fields** instead of exposing `protected` fields.

[2019-11-19 18:23] leculver commented on #288
Ah.  I believe this is a quirk of how CLR operates and not a bug in ClrMD.  It looks like due to the fact that there's interface dispatch involved, the CLR runtime generates two slots for the "f" method.  Note that in your repro if you remove IFoo entirely, the repro works.

Unfortunately syncing up reflection and ClrMD is not an easy task because reflection gives you the view of the world as defi

[2019-11-19 18:23] #288 closed

[2019-11-19 18:26] leculver commented on #313
Thanks, I added this to the v2 planning document.  I cannot fix this in 1.0.* since it would be a breaking change.

[2019-11-19 18:35] leculver commented on #210
This was fixed a while back.  If running on the same machine that took the coredump, `CreateRuntime()` will find `libmscordaccore.so` on disk.  If not, you will have to locate the dac and provide it as a parameter to CreateRuntime.  Unfortunately ClrMD does not know how to request a linux dac from the symbol server.  I'm not planning to fix that until ClrMD 2.0.

[2019-11-19 18:35] #210 closed

[2019-11-19 19:10] #231 closed

[2019-11-19 19:11] leculver commented on #231
Fixed, thanks for the report!

[2019-11-19 19:38] leculver commented on #243
This was fixed in cd072107.

[2019-11-19 19:38] #243 closed

[2019-11-19 19:57] weltkante opened #315 "UnauthorizedAccessException on Linux PassiveMode"
As discussed on dotnet/corefx#42621 I was trying out attaching to a Linux process to dump a stack trace (as the in-proc methods from Desktop Framework are not available), but I'm having issues with security

[code]

OS is Ubuntu 18.04.3 LTS 64 bit and I'm running both the process that is attaching and the one that is attached under the same user (but different shells). I'm not a Linux expert and s

[2019-11-19 20:02] #262 closed

[2019-11-19 20:06] leculver commented on #267
This was fixed in 159a4e3d but I forgot to close the bug.

[2019-11-19 20:06] #267 closed

[2019-11-19 20:11] #291 closed

[2019-11-19 20:28] leculver commented on #315
I wonder if calling process_vm_readv like PR https://github.com/microsoft/clrmd/pull/304 does would have different (more relaxed) security implications.  I'm not sure if I'll be able to tackle it this week, but I'd like to investigate if this is something we should be doing differently here.

[2019-11-20 00:21] leculver commented on #303
Hello!  I have been working on this issue for most of the day.  It looks like .Net Core 3 has a regression somewhere that's causing `ClrDataAccess::GetMethodDescData` to return a bad error code where we didn't before...  This code prints the correct information on 2.1, but not on 3:

[code]

[2019-11-20 07:29] mitikov commented on #311
The roadmap looks doable,
**Tests**: as long as core is built on abstractions, it shall be testable.
I've never seen/managed to get CPU-bound code with ClrMD; I/O was always the bottleneck for me; putting in different words - performance was good; I'd prefer to trade off/attempt to runaway from struct (ClrOBj) to interface/class to ease mocking.

That would allow to get proper **unit** test covera

[2019-11-20 07:59] mitikov commented on #311
Do you want to write ClrMD 2.0 on F# ?

[2019-11-20 10:36] 0xd4d commented on #311
Consider enabling nullable reference types in CLRMD 2.0.

[2019-11-20 10:46] damageboy commented on #303
@leculver Thanks for all the hard work!
I'm sure this isn't a fun thing to dig through...

[2019-11-20 17:52] leculver commented on #311
@mitikov:

I don't know F# so no.  =)

Setting aside performance for a moment, one of the biggest issues that folks have using ClrMD at scale is memory constraints on 32 bit processes.  I worry about changing ClrObject to be a class because it would generate so much garbage, and if you store these values anywhere they eat up so much more space.  On the other hand, making them a class would make a

[2019-11-20 18:05] chrisnas commented on #311
Features should be the same both on Windows and Linux and this might have an impact at the API level. For example, even though I've "fixed" thread stack access on Linux (https://github.com/microsoft/clrmd/pull/275), I've met new issues that seem to be related to ptrace usage. So it might be necessary to "suspend" the process before iterating on its threads and "resume" it afterward.

[2019-11-20 18:20] leculver commented on #311
@chrisnas There's two things going on here:

1.  The Linux code in general needs more work and testing, agreed there.  The current testbed is not great for Linux testing, so it's one of the things I want to tackle that regardless of other work.
2.  Currently the only Live process attach supported for Linux is "Passive".  The underlying goal of "Passive" attach is that ClrMD itself will *not* do an

[2019-11-20 19:15] weltkante commented on #311
As long as you are forced analyzing 32 bit dumps with a 32 bit process the memory footprint is definitely an important factor.

I'm not sure I can follow, once you have loaded a dump into memory you shouldn't be I/O bound anymore. Is this library so bad that it never loads the dump into memory even if the address space is available, or are your usecases just too specialized because you only pass t

[2019-11-20 19:22] leculver commented on #311
@weltkante

I think the use case he's talking about that hits the most IO is inspecting the heap.  If your process inspects the heap in a deep or meaningful way you will be very, very IO bound.

[2019-11-20 19:29] ryanmolden commented on #311
I've mentioned these before but thought I would just throw them up here for posterity

1) Have a mode where I can indicate what is most important to me speed or memory usage. The simplest example is if I am trying to process a OOM dump of a 32 bit process, basically every byte of memory in the CLRMD host process is precious and I would actually happily trade-off some data fetching latency by havin

[2019-11-20 20:03] Rondinelly opened #319 "Link broken"
In the header is still:

https://github.com/Microsoft/clrmd/blob/master/Documentation/ClrRuntime.md

Instead of being:

https://github.com/microsoft/clrmd/blob/master/doc/ClrRuntime.md

![header](https://user-images.githubusercontent.com/15785121/69273668-89615700-0bb7-11ea-9b78-e4c4f3c266f8.PNG)

[2019-11-20 20:19] leculver commented on #319
Unfortunately I lost the ability to edit the header when they locked down the microsoft repos a while back.  It might take some time to track down who can fix that and get it fixed. =)

[2019-11-20 21:37] leculver commented on #303
I've solved this.  Rough bug.  Before getting started, I'd like to point out that attaching to your own process is **not supported**, though I do try to keep it working as much as possible.  This was just a bug in ClrMD, but it could have been something completely unfixable...  We should probably experiment with forking a CLR process for inspection.  Fork isn't expected to work for the child proce

[2019-11-20 21:47] leculver commented on #264
How would I test this scenario?  Let's say I have an `Ubuntu 18` and I'm unwilling to install another package...is there a way I can remove SYS_PTRACE from my own process to be able to test this?

[2019-11-20 22:13] leculver commented on #306
I think we should just stop trying to parse the version on Linux, at least for now.  On Windows we embed this information near the beginning of the dll.  On linux this lives at a really deep offset.  (For example search libcoreclr.so for the ascii string "@(#)", which is where the version is.  In my local test environment the offset was `0x0079f480` into the binary.

I'm not sure of a faster way t

[2019-11-20 22:23] damageboy commented on #303
Hi, just to be clear:

Is the self attaching with ClrMd limit/caveat general or applies to Linux
only

On Wed, 20 Nov 2019 at 23:40 Lee Culver <notifications@github.com> wrote:

--

    Shechter.

[2019-11-20 22:49] leculver commented on #303
This is true in general, inspecting your own process no matter the platform is not supported and not recommended.  I should have made it more explicit, but it is called out in the [faq](https://github.com/microsoft/clrmd/blob/master/doc/FAQ.md): "There is experimental support for attaching to a live process (without suspending that process) to collect live samples of the heap. However, this is cur

[2019-11-20 22:56] leculver commented on #303
Wow, that FAQ is out of date.  I'll work on that now.

[2019-11-21 00:37] leculver commented on #319
Immo got it, thanks for the report!

[2019-11-21 00:37] #319 closed

[2019-11-21 01:05] leculver commented on #311
FYI, I have branched the main clrmd repo as [release/1.1](https://github.com/microsoft/clrmd/tree/release/1.1).  I'm beginning work in my repo as branch [v2](https://github.com/leculver/clrmd/tree/v2).  Nothing in my branch will be ready for review any time soon, but I'll update this thread as I work.  Please feel free to unsubscribe here if you want less updates.

[2019-11-21 01:19] nasser commented on #303
Ah excellent! Thank you for turning this around so quickly. Your advice on self-inspecting is also very helpful and I will keep it in mind.

[2019-11-21 08:24] loop-evgeny commented on #306
Isn't that going to break something else? Was the version not used for anything?

[2019-11-21 08:27] loop-evgeny commented on #311
Please don't do that! Not without the user explicitly calling a method like `SuspendProcess()`, at least. What makes ClrMd so useful right now is that I can use it to get stack traces of an application running in production. Suspending it would not be acceptable, so I would no longer be able to use ClrMd.

[2019-11-21 08:51] loop-evgeny commented on #311
The roadmap sounds good. My main request is a non-functional one: please take care to provide good error messages and, more generally, a good user (developer) experience. For example, instead of something like "dac architecture mismatch", say "Tried to load the DAC at /usr/lib/... which is a 32-bit DAC, but the current process is 64-bit. The bitness of the ClrMd process must match the bitness of t

[2019-11-21 08:57] weltkante commented on #311
Doesn't work reliably and in fact is [already not supported now](https://github.com/microsoft/clrmd/issues/303#issuecomment-556508640), I was looking into that technique to get stacktraces of livelocked threads myself. If the stack of a thread changes while you are enumerating frames you'll get nonsense stacktraces.

I don't know what you're doing so maybe you don't care about being able to diagno

[2019-11-21 09:03] loop-evgeny commented on #311
Thanks for the heads up. Good to know it's not officially supported! However, it works well enough for my purposes. Even if the results are not 100% accurate it's still very useful, because I don't have any other tool that can shown me (even approximate) stack traces without suspending the process.

[2019-11-21 18:51] leculver commented on #306
Inside the library, it was used to make windows symbol server requests for `mscordaccore_[version/arch].dll` but we don't use that archiving mechanism for Linux.  I double checked that we don't use that version for anything in .Net Core (but we do on desktop) and tested it.

I have two main thoughts here:
1.  I'd rather report no answer (version of 0.0.0.0) all of the time rather than report the c

[2019-11-21 19:09] leculver commented on #311
@weltkante @loop-evgeny:

I think there's some confusion here, I am not removing any functionality.  Let me step back and make sure things are clear:

You can attach to a live process with three different flags.  A [`Passive`](https://github.com/microsoft/clrmd/blob/317c5c4dfd57f256f03944b4c294c64c28b6741f/src/Microsoft.Diagnostics.Runtime/src/Common/AttachFlag.cs#L32)  attach means:  "ClrMD will

[2019-11-21 19:14] NextTurn commented on #306
Searching for the version string seems viable. One "@(#)Version" string is located in the "nativeStringResourceTable_mscorrc_debug" table with an offset of about 2k bytes. The string resource table is in the library exports.

[2019-11-21 19:19] leculver commented on #306
@NextTurn Assuming that table goes into Mini dumps, yep that could be the fix here.

The underlying problem is consistent behavior.  If you do `dotnet-dump -type Mini`, does that string table make it into the dump file?  If it does, we are in business.  If it doesn't then we'll have inconsistent behavior between live targets, "Heap" coredumps, and "Mini" coredumps.  @mikem8361 might know the answe

[2019-11-21 19:45] NextTurn commented on #306
Verified the string goes into "Heap"/"Mini" dumps from `dotnet-dump`.

[2019-11-21 19:58] mikem8361 commented on #306
dotnet-dump/SOSHosting has C# code that searches for the @(#)Version for the "eeversion" SOS command. This code is only used for libcoreclr.so.

https://github.com/dotnet/diagnostics/blob/7fef83c075965a10e25d3dec551ea6cca4ca8c83/src/SOS/SOS.Hosting/SOSHost.cs#L667
https://github.com/dotnet/diagnostics/blob/7fef83c075965a10e25d3dec551ea6cca4ca8c83/src/SOS/SOS.Hosting/SOSHost.cs#L764

[2019-11-22 13:51] Zero3 commented on #311
Thanks for asking for feedback :). I have a few bits to add:

1) It would be really nice with some kind of declaration/documentation about which features are stable/safe to use in production environments and which are not.

    For example: In v1, when reading stack traces, I ran into serious issues like https://github.com/microsoft/clrmd/issues/47 (memory leak on every stack trace) and https://gi

[2019-11-22 14:22] leculver commented on #311
(Sorry I can't write back to everyone in the thread, if I add a thumbs up to your post it's likely I just agree with most of it and will incorporate that into the plan.)

@Zero3:

As best I can, yes I agree.  One of my main goals here is to reduce the amount of cruft in the library so I can respond to issues faster and for everyone to make it clear what's expected and not.

The main thing I'd say

[2019-11-22 14:33] leculver commented on #311
Another question:  Does anyone here use Desktop .Net 3.5 support?  **Thumbs up on this message to vote to keep supporting .Net 3.5, thumbs down on this message to vote to remove it.**  I'm leaning towards leaving it in the product.

The biggest problem with 3.5 support is that it's almost entirely untested.  Adding tests for it would really increase the test matrix (and also require you to have 3.

[2019-11-25 20:25] leculver commented on #311
After the feedback here and more thought I've removed .Net 3.5 support: https://github.com/microsoft/clrmd/pull/342.

Going forward I'll still maintain support in ClrMD 1.1 for v3.5 and v4.0 RTM versions of CLR.  (Note that CLR 4.5 and beyond are supported.  Very few computers are stuck on CLR v4.)

I've only removed support (not done any cleanup yet) but this change should let me greatly simplify

[2019-11-26 05:02] #261 closed

[2019-11-26 21:22] paulomorgado commented on #311
@raffaeler, your input would be appreciated.

[2019-11-27 10:01] raffaeler commented on #311
Thanks @paulomorgado for signalling this thread.
The first thing coming into my mind is that roadmap should mention this [proposal](https://github.com/microsoft/clrmd/issues/302) which has already been tagged for 2.0

In general, I would like to see more of the [SOS](https://github.com/dotnet/diagnostics/tree/master/src/SOS) logic moved into the CLRMD library so that you can either use it as a plu

[2019-11-27 10:21] raffaeler commented on #311
With regards to the Portable PDB and ECMA metadata in general, I am successfully using the [System.Reflection.Metadata](https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Metadata) to both read assemblies and read/write pdbs. The library is hard to use (also because of the lack of documentation and weird logic when reading custom attributes) but I would prefer CLRMD use that instea

[2019-11-27 13:36] damageboy commented on #303
@nasser were you able to make this work?

I update to nuget to the latest (release 18 hours ago!)

And I'm not getting any success with latest bins on 2.1, 2.2, 3.0 (Now testing all 3 runtimes)
on Linux.

Windows works great, as always.

Linux:
[code]

Windows:

[code]

[2019-11-28 04:07] nasser commented on #303
@damageboy I should have been clearer -- I implemented @leculver's advice

and *that* worked for me. I haven't tried off of the new NuGet package.

[2019-11-28 13:17] damageboy commented on #303
Thanks @nasser!

This is definitely helping, but only for CoreCLR 3.0.

So now I have CoreCLR 2.1 and 2.2 crashing, while CoreCLR 3.0 seems to work OK after adding the call to flush.

@leculver: Just making sure, is this to be expected?

[2019-11-28 19:39] #203 closed

[2019-11-28 20:57] leculver commented on #303
@damageboy I will try to take a look at the problem for 2.1/2.2, but I'm currently deep into a lot of code right now.  I might not get to this for another 2-3 weeks, depending on my schedule.  Keep in mind you are off in "unsupported" territory.

(Unsupported means I'm happy to fix the problem if it's possible, but you have to keep in mind this may not be fixable if it's an issue in libmscordaccor

[2019-11-28 22:47] damageboy commented on #303
TBH I was more looking for a clarification/verification that this is to be expected.

I'm totally fine in closing this and keeping it closed.

It was more about ensuring I'm not at fault here.

[2019-11-29 05:54] leculver commented on #303
@damageboy You aren't at fault, but it's also not expected that this would work on 3 and not 2.2.  I want to figure out why so I reopened the issue to remind me to get back around to this after a lot of the work I'm doing now.

Thanks for the report!

[2019-11-29 16:38] NextTurn commented on #315
The permission required by `process_vm_readv` is exactly the same as that required to perform a `ptrace` or read from */proc/[pid]/mem*. `UnauthorizedAccessException` should be a reasonable exception and we just need to document it.

[2019-11-29 18:11] weltkante commented on #315
Any idea why I do not have that permission against my own processes and/or how to grant that permission as a non-root user? Do you have any idea/keywords to search for? I've tried but didn't come up with something useable.

Note that I'm migrating an application previously using the `StackTrace(Thread)` constructor for logging unresponsive threads and was told to try this library instead. If this

[2019-11-29 18:16] NextTurn commented on #315
Yes, the `CAP_SYS_PTRACE` capability.

[2019-11-30 15:37] NextTurn commented on #315
The best workaround I can think of is to create a dump file with `dotnet-dump` and inspect it. You'll be able to create dumps programmatically if `dotnet-dump` is to be published as Nuget packages. dotnet/diagnostics#343

[2019-11-30 15:38] NextTurn commented on #315
The best workaround I can think of is to create a dump file with `dotnet-dump` and inspect it. You'll be able to create dumps programmatically if the dumper is to be published as Nuget packages. dotnet/diagnostics#343

[2019-11-30 15:38] NextTurn commented on #315
The best workaround I can think of is to create a dump file with `dotnet-dump` and inspect it. You'll be able to create dumps programmatically if the dumper is published as Nuget packages. dotnet/diagnostics#343

[2019-11-30 17:13] weltkante commented on #315
Yes that is an option I came across yesterday as well, it works for my usecase and I'll probably be using this for now. But if dotnet-dump can use proc/pid/mem to read (which it is doing [according to the docs](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md), see implementation details) I should be able to get it working for clrmd ... unless dotnet-du

[2019-12-01 05:53] NextTurn commented on #315
The second parameter of the `prctl` signature in your test code is incorrect. The declaration should be

[code]

and the call should be

[code]

After the fix it runs well on WSL.

Yes this is a solution worth documenting if the user has full control over the process being inspected (as in your scenario).

[2019-12-01 10:43] weltkante commented on #315
Awesome, yes this works and avoids the exception. Thanks a lot for taking time looking into the problem. I should have known better than copy/pasting a P/Invoke call without double checking what they were doing with it, in hindsight its obvious that I was passing a pointer to an integer while coreclr was passing an integer.

Adding PR to document it so the issue can be closed, I'm sure it can be f

[2019-12-01 17:22] leculver commented on #311
FYI if anyone is submitting pull requests right now, I have a draft PR up as https://github.com/microsoft/clrmd/pull/358.  It's not complete or ready for review...  I plan to have the main refactoring done and this PR complete by Dec 5th if all goes well.

[2019-12-03 14:30] leculver commented on #163
Fixed in ClrMD 2.0.

[2019-12-03 15:03] leculver commented on #205
Removed in ClrMD 2.0.

[2019-12-03 15:03] #205 closed

[2019-12-03 15:04] leculver commented on #199
Fixed in ClrMD 2.0 2fa6466600f1c66c0ca658fbc3e50e3093abd841.

[2019-12-03 15:04] #199 closed

[2019-12-03 15:25] leculver commented on #230
This will be fixed in ClrMD 2.0.  The library will target .Net Standard 2.0 and 4.7.1.

[2019-12-03 15:25] #230 closed

[2019-12-03 16:02] leculver commented on #313
Resolving as complete in testing/2.0.  If you find any protected fields or `protected internal` nonsense please feel free to reply back here or mark it on the pull request https://github.com/microsoft/clrmd/pull/358.  Thanks!

[2019-12-03 16:02] #313 closed

[2019-12-03 16:02] #315 closed

[2019-12-03 16:02] leculver commented on #315
Thanks @NextTurn!

[2019-12-03 17:04] leculver commented on #311
@ryanmolden (and others):  I've completed the initial pass at refactoring with "easier mocking" in mind.  Here's the main points:

1.  The library is largely uncoupled now.  For example, ClrType implementations don't take a deep dependency on "DesktopHeapType", etc.  As an example, this means you can more easily swap your own implementation of ClrHeap while leaving most of the rest of the runtime

[2019-12-03 17:07] #264 closed

[2019-12-03 17:51] leculver commented on #108
The updates to this codepath in ClrMD 2.0 fixes this problem, I've added tests in PR #363 which tests this scenario directly to ensure it doesn't regress.  Unfortunately I don't plan to fix this in ClrMD 1.1 because the "fix" is just me rewriting most of the entire system...  If you need this fixed in 1.1 I'd accept a pull request if you made one with your proposed fix.

For the upcoming .Net Core

[2019-12-03 17:51] #108 closed

[2019-12-03 18:23] leculver commented on #101
Fixed, will be in the next ClrMD 1.1 release.

[2019-12-03 18:23] #101 closed

[2019-12-03 18:24] leculver commented on #299
Sorry I didn't get to this when the blobs were up.  There's not enough information here.  If this is still an issue, you can re-send the zip file (and reply here) I should be able to take a look.

[2019-12-03 18:24] #299 closed

[2019-12-03 18:33] leculver commented on #115
After taking another look here, I'm closing this one as unfixable.  There's nothing much I can do about this problem, though the upcoming 2.0 release will make ComponentType == null much less common.

I'm planning to try to do some work in .Net Core 5 to have mscordaccore.dll add a function to give us the component typehandle given an array.  This should fix the issue

I don't think we can do this

[2019-12-03 18:33] #115 closed

[2019-12-03 18:34] leculver commented on #131
I have removed Threadpool related code from ClrMD 2.0.  I may revisit some form of threadpool support in the future, but for now I'm closing this issue.  Thanks for the report!

[2019-12-03 18:34] #131 closed

[2019-12-03 19:05] leculver commented on #298
@ryanmolden Added a test case for this issue, it's not fixed though.  This seems to be a problem in mscordacwks.dll.  I plan to do some work in .Net Core 5 to fix various issues, including this one.  Not sure if it'll be backported or not.

[2019-12-03 20:51] leculver commented on #298
Duplicate of https://github.com/dotnet/diagnostics/issues/280, looks like it was fixed already.  Will resolve this issue.

[2019-12-03 20:51] #298 closed

[2019-12-03 20:52] leculver commented on #214
Looks like this was fixed in .Net Core.  I'm closing this issue too.  Thanks for the report!

[2019-12-03 20:52] #214 closed

[2019-12-03 21:08] leculver commented on #302
Is this property in ClrMD 2.0 sufficient for your needs?  https://github.com/microsoft/clrmd/blob/testing/2.0/src/Microsoft.Diagnostics.Runtime/src/Common/ClrType.cs#L51

Grouping objects by loader allocator should be as simple as:

    var grouping = from obj in heap.EnumerateObjects()
        let allocator = obj.Type.LoaderAllocatorHandle != null ? dataReader.ReadPointerUnsafe(obj.Type.LoaderAll

[2019-12-03 21:19] drewnoakes commented on #163
Fantastic, thanks.

[2019-12-04 11:09] raffaeler commented on #302
@leculver I will make a test asap, but is there any shortcut to get the name of the load context as well?

[2019-12-04 17:24] #148 closed

[2019-12-04 17:25] leculver commented on #306
@NextTurn Fixed this one in PR #349.  Thanks!

[2019-12-04 17:25] #306 closed

[2019-12-04 20:21] leculver commented on #244
This is fixed in clrmd 2.0.  The default is to cap strings at a maximum of 4096 characters, but these methods will allow you to specify int.MaxValue to uncap the strings.

[2019-12-04 20:21] #244 closed

[2019-12-04 20:48] leculver commented on #302
I'm not sure you mean by "name"?  This test generates a collectible type to use:
 https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime.Tests/src/TypeTests.cs#L344

I added this code to the end of the test:

    foreach (var group in grouping)
    {
        if (group.Allocator != 0)
        {
            ClrObject allocator = heap.GetObject(group.Allocator);