[2019-12-05 16:01] NextTurn commented on #302
https://docs.microsoft.com/dotnet/api/system.runtime.loader.assemblyloadcontext.name#System_Runtime_Loader_AssemblyLoadContext_Name

To be able to get the associated `AssemblyLoadContext` of the `LoaderAllocator` is exactly tracked in dotnet/coreclr#20166.

[2019-12-05 16:11] NextTurn commented on #306
https://github.com/dotnet/diagnostics/blob/7fef83c075965a10e25d3dec551ea6cca4ca8c83/src/SOS/SOS.Hosting/SOSHost.cs#L768

@mikem8361 FYI the use of `ModuleInfo.FileSize` here is incorrect: the file size on disk is often smaller than the image span size in memory. It happens to work for *libcoreclr.so*.

Test results of `LinuxLiveDataReader.GetVersionInfo` using `ModuleInfo.FileSize`, corresponding

[2019-12-05 20:17] leculver commented on #302
Ahh ok, thanks.  You should be able to get to that field through normal ClrMD field walking I think.  Resolving this issue, but please let me know if I missed something.

[2019-12-05 20:17] #302 closed

[2019-12-09 11:15] weltkante commented on #306
@NextTurn but isn't the string you search for required to be present in the file, so you should be fine if you only search the regions which get initialized by the disk image?

[2019-12-09 16:45] holc-tkomp opened #394 "DesktopHeapType.FixGenerics - does not work when subtype arity is missing or invalid"
I've noticed that [`FixGenericsWorker`](https://github.com/microsoft/clrmd/blob/66687332950808cf49334a14814a2158852aa43d/src/Microsoft.Diagnostics.Runtime/src/Desktop/DesktopHeapType.cs#L840) heavily relies on the subtype arity (number of type parameters) on deciding how to process the name.

ECMA-335 (I.10.7.2 Type names and arity encoding) states that `the grave accent character and arity togeth

[2019-12-09 17:32] leculver commented on #394
Does the third variety ever happen in practice?  If the arity is present it should match the number of parameters right?

[2019-12-09 17:39] holc-tkomp commented on #394
You're right. I unnecessarily pasted this example, it probably never happens and is invalid according to that ECMA.

The 2nd example is what bothers me and my company's software.

[2019-12-09 20:03] leculver commented on #394
I've fixed the issue in the ClrMD 2.0 branch.  I'm wary of shipping it as an update to clrmd 1.1 without a lot of additional testing.  That style of manual text parsing is very error prone and every time I make changes it always seems to break in some rare corner case I didn't consider.  I'll likely make a very risk mitigating change when I port it over.

I'm keeping this issue open until I fix it

[2019-12-09 20:49] arvindshmicrosoft opened #398 "Safe replacement for PEFile.GetFileVersionInfo?"
Hello! Wondering if there are any thoughts or prior work on safely replacing the older PEFile.GetFileVersionInfo with an equivalent? That function was very helpful in abstracting the details on parsing the version info resource entries, and it would be great if we can have it back in some form.

[2019-12-09 21:39] leculver commented on #398
Ah thanks for the issue.  I forgot this wasn't part of the new `PEImage` class.

I added this to PEImage in ClrMD 2.0 as PR #399.  I don't plan to do any feature work in ClrMD 1.1 but you are welcome to submit a pull request if you want to backport the feature yourself.

Thanks!
-Lee

[2019-12-09 21:39] #398 closed

[2019-12-09 22:18] #394 closed

[2019-12-10 09:55] swift-kim opened #402 "Unable to analyze 4GB dumps of 32-bit processes"
It seems ClrMD is not able to process 32-bit memory dumps larger than 2GB due to inconsistent address conversion between coreclr and ClrMD.

As @leculver and @mikem8361 already discussed in #280, using `ulong` types for address values may lead to unexpected behavior on particular platforms.

For your information, I am developing for Tizen wearable devices which run 32-bit (armel) .NET processes on

[2019-12-10 15:20] leculver commented on #402
Thanks for bringing this to my attention.  I'm in the process of making ClrMD 2.0 and have the opportunity to make breaking changes as needed, but it's not entirely clear what should be done to fix it.  I'll try to make a test this week and see what work needs to be done, but it's a very difficult scenario to test.

Sign extension is something that happens in mscordaccore.dll (CLR's debugging impl

[2019-12-10 15:43] leculver commented on #402
Yeah, which is another reason this is difficult for me to test this.  =)

I don't have access to an x64 ARM device to put Linux on.  Right now though I think even Windows x86 is broken when you use /3gb in any case the address gets too high, so at minimum starting with fixing Windows should tell me how bad it's going to be elsewhere.

[2019-12-11 00:00] leculver opened #406 "ClrMD 2.0 exception/string offsets"
We need to record and hard-code offsets into string an exception objects for when we are inspecting a minidump and do not have metadata to look up the right field offset for the values we need.  This will bring us into line with ClrMD 1.1.

[2019-12-11 00:02] leculver opened #407 "Bring back debugger for testing"
Currently we rely on a local cdb installed to build our test assets.  We should instead bring back the original debugger to write out crash dumps to avoid needing installed versions of cdb.  https://github.com/microsoft/clrmd/blob/57e5cf053f4d4d9c3056d377967881eb71a15a9d/src/Microsoft.Diagnostics.Runtime.Tests/Debugger.cs

[2019-12-11 00:04] #281 closed

[2019-12-11 09:13] swift-kim commented on #402
@leculver Thank you for the comments!

I managed to deal with the issue with [this](https://github.com/swift-kim/clrmd/commit/475a1da46041755c5faba0201741ac09e57864e0) (tentative) patch. I used only simple type casts in two files.

This cast (zero-extended `ulong` to sign-extended `ulong`)
[code]
is the equivalent of
[code]
in [`dacimpl.h`](https://github.com/dotnet/runtime/blob/20ab2fa963934b5823

[2019-12-11 09:55] weltkante commented on #402
Just a side note, I consider `ip = (ulong)(int)ip;` to be unreadable. The int-to-ulong cast changes two properties of the number where order matters but is not obvious from source, unless you are a language expert you have to do a random guess what it does, whether the widening or the change to unsigned happens first (i.e. it may or may not be sign extended).

[2019-12-11 12:16] swift-kim commented on #402
@weltkante Right. It should be more clear. Maybe we should add inline annotations or make it as a named function.

@leculver By the way, if you are to test any code on ARM, I think @mikem8361 had a similar testing environment before according to https://github.com/dotnet/coreclr/issues/25707.

[2019-12-11 13:25] holc-tkomp opened #408 "[Question] MetaDataImport, Generic Type Parameters"
Hoping you could put some light on this.

### Questions

1. What happened to `IMetaDataImport2`? Will it ever be implemented?
2. Is there a way to retrieve generic type parameters as an array?

### Some context

This came up on this when I tried to retrieve more detailed informations about generic type using available functionalities and `MetaDataImport` looked like the way to go.

Given that I al

[2019-12-11 16:57] NextTurn opened #409 "ClrmdHeap._memoryReader leak"
`ClrmdHeap._memoryReader` won't be reset to `null` unless the enumeration is completed.

https://github.com/microsoft/clrmd/blob/80471484a9b0abcffe37096416346e9e8981858c/src/Microsoft.Diagnostics.Runtime/src/Implementation/ClrmdHeap.cs#L31

https://github.com/microsoft/clrmd/blob/80471484a9b0abcffe37096416346e9e8981858c/src/Microsoft.Diagnostics.Runtime/src/Implementation/ClrmdHeap.cs#L306

For ex

[2019-12-11 18:22] leculver commented on #409
Yeah the whole implementation of `MemoryReader` doesn't make a lot of sense if we allow multithreading in general.  Thanks for filing the issue, it's a good reminder to get back around to this.  At its core, MemoryReader was _trying_ to solve two problems:

1.  When enumerating the heap, reading the data target object by object is very slow.  We want to read the heap in large chunks and operate on

[2019-12-11 18:30] leculver commented on #408
This is just an oversight on my part.  ClrMD 2.0 is still being built, but I completely forgot about the second interface.

The intent here is that ClrMD will provide the ISOSDac, IXCLR*, and IMetaDataImport functions that it needs to do its work.  ClrMD will _also_ provide any functions requested by the community at large, either through a pull request or just filing an issue and having me do the

[2019-12-11 18:57] holc-tkomp commented on #408
I understand.

After few more thoughts I'm not sure what will `EnumGenericParams` return - at first I thought it'll return tokens of the type params for this particular instance, e.g. for
[code]
it would return token for the `int` (`System.Int32`) type, but now when I look at the `GetGenericParamProps` method parameters, it appears that the `EnumGenericParams` more likely returns tokens for the Ge

[2019-12-11 20:36] leculver commented on #408
Unfortunately I'm not 100% sure if what you are looking at will be accomplishable through the metadata interface.  The real underlying problem here is that the dac private API does not support generics in a lot of cases that it should or needs to.

If this isn't workable through the metadata api, we'll have fix this in the runtime.  This is one of the things on my todo list is to try to fix that i

[2019-12-12 00:18] #409 closed

[2019-12-12 00:20] leculver commented on #409
I put in a spot fix for this.  I think long term I need to build a synchronized LRU cache of segments of memory in the gc heap.  This would let object reference enumeration much more efficient when running something as slow as the GCRoot algorithm.

However, that's all just optimization and there's a ton of other stuff to go fix that's not working, so that's a problem for another day.

[2019-12-12 05:30] swift-kim commented on #402
https://github.com/microsoft/clrmd/blob/32643cc295897dfb49abaf1594d1490dc30cfbf4/src/Microsoft.Diagnostics.Runtime/src/Desktop/DesktopThread.cs#L126-L154

This stackwalk operation in `DesktopThread.InitLocalData()` looks similar to the one in `DesktopRuntimeBase.EnumerateStackFrames()` from my patch. But the method is never used by anything. Am I supposed to fix it as well?

[2019-12-12 16:45] leculver commented on #406
ValueReader also should not use static constants for string values.  The offsets may be different based on the runtime.

[2019-12-12 16:47] #170 closed

[2019-12-12 17:53] Zhentar commented on #311
Related to the System.Reflection.Metadata request, I'd like if `System.Reflection.PortableExecutable` can be used in place of ClrMd specific PE data structures where possible - it would make it easier for me to use the same code to work with both native & .NET modules.

Also pinging @jazzdelightsme for any thoughts he might have

[2019-12-12 18:17] leculver opened #415 "Consider using System.Reflection.Metadata"
Instead of using IMetaDataImport and our own PEFile implementation, consider using System.Reflection.Metadata in its place, if possible.

[2019-12-12 18:24] leculver commented on #311
@raffaeler / @Zhentar:

I have filed issues #415 to track using System.Reflection.Metadata in place of IMetaDataImport and PEImage.  The only real concern is whether all of the functionality needed exists in the library, and of course time required to change everything over to it.

@raffaeler:

Unfortunately that's not quite a design goal of ClrMD itself, but I agree with what you are asking for.

[2019-12-12 18:30] leculver opened #416 "Revisit all exception usage in ClrMD before 2.0 release"
This is a reminder to revisit all exception throws within ClrMD and see if there's a more appropriate exception/add more detailed message and data.

[2019-12-12 18:33] NextTurn commented on #163
It seems that the fix was to change `IList<T>`s to `IReadOnlyList<T>`s, so the issues with enumerator allocations and virtual dispatching still remain. Since ClrMD 2.0 can carry dependencies, how do you feel about `ImmutableArray<T>`?

[2019-12-12 18:38] leculver commented on #311
As of this point I _think_ I have either addressed all requests in this thread in the current ClrMD 2.0 codebase, or as issues filed against ClrMD.  If you feel that I have missed a comment here or would like to know how something was fixed/addressed please feel free to file an issue (or reply back here).  This thread is super helpful but since it's so long I might have unintentionally missed some

[2019-12-12 18:43] leculver commented on #163
I'd be happy using ImmutableArray.  I'll reopen this issue to track it.

[2019-12-12 19:06] leculver opened #417 "Rewrite documentation and tutorials"
Update/rewrite tutorials before ClrMD 2.0 RTM.

[2019-12-12 19:35] leculver commented on #402
Sorry for the delay.  I am taking a look at this now and I will likely have a pull request ready (for 2.0) by tonight or tomorrow for review.

I'd like to approach this in a more methodical way to fix it for the entire library and not try to spot-fix the specific locations that make it work for this specific problem.  I won't be able to test this fully on arm64 this week, but hopefully you can try

[2019-12-12 22:16] leculver commented on #402
@swift-kim PR #419 is more in the direction I want to go to solve this issue.  Can you give this a try and see if it helps?

Everywhere that the dac would produce a CLRDATA_ADDRESS (signed 64 bit integer) has been marked with a [ClrDataAddress](https://github.com/leculver/clrmd/blob/sign_extension/src/Microsoft.Diagnostics.Runtime/src/DacInterface/ClrDataAddress.cs) struct.  For example, instead o

[2019-12-12 23:02] leculver opened #420 "IDataReader implementations need to be thread safe"
Need to make CoreDumpReader and LinuxLiveDataReader thread safe.

[2019-12-13 00:02] swift-kim commented on #402
@leculver The use of overator overloading looks interesting. I'll give it a try after switching over to ClrMD2.0. Thank you for your work!

[2019-12-13 19:00] leculver commented on #415
Additionally, PEImage needs to be threadsafe.

[2019-12-13 19:58] #163 closed

[2019-12-13 20:00] leculver commented on #406
I'm working on this now.

[2019-12-13 22:45] leculver commented on #406
Need to also fix getting the values of array elements.

[2019-12-14 20:01] NextTurn commented on #415
What are the benefits of using S.R.M in place of `IMetaDataImport`?

[2019-12-14 21:04] leculver commented on #415
I'm not sure if there are any.  It's more of something I wanted to investigate if there were benefits or if we should maintain the status quo.

[2019-12-16 10:06] NextTurn opened #434 "Can't get PDB info on Linux"
Can't get any PDB info of *NestedException.dll* and *SharedLibrary.dll* because the segments containing `IMAGE_DEBUG_DIRECTORY` are not written into the coredump.

Sample results of `PdbEqualityTest`:

The address of the first `IMAGE_DEBUG_DIRECTORY` of *NestedException.dll* is `0x00007f278acba828`.

The note

[code]

The segment

[code]

Related test codes

1.1

https://github.com/microsoft/clrmd

[2019-12-16 16:18] NextTurn opened #436 "Non-deterministic failures in TestFinalizerQueueObjects"
https://dev.azure.com/dnceng/public/_build/results?buildId=458580&view=ms.vss-test-web.build-test-results-tab

https://dev.azure.com/dnceng/public/_build/results?buildId=458803&view=ms.vss-test-web.build-test-results-tab

[2019-12-16 16:24] NextTurn commented on #436
I believe this is an issue with the test target, not the codes.

[2019-12-16 19:28] leculver commented on #434
I'll see if we can get this working like the previous version.  I'll file a bug in the clr diagnostics repo about the missing entry in dumps.  Those should be present.

[2019-12-16 22:29] PhDuck opened #438 "Modules Size is always 0"
I wanted to use the modules information to figure out the size of loaded assemblies, since I have application that loads thousands of assemblies at runtime.

Unfortunately though it seems that the Size field on ClrModule is always 0. I have tried both memory dumps and attaching to the process.

Version info:
Microsoft.Diagnostics.Runtime 1.1.57604
.NET Core 2.0, 3.0, and 3.1
Windows 10

The follow

[2019-12-16 22:55] leculver commented on #438
Is this an x86 or x64 process?

[2019-12-17 08:39] PhDuck commented on #438
x64

[2019-12-17 08:48] NextTurn commented on #438
Possibly related to https://github.com/microsoft/clrmd/pull/430#issuecomment-566161896.

[2019-12-17 16:01] NextTurn opened #440 "ClrmdRuntime.EnumerateModules returns duplicated items"
https://github.com/microsoft/clrmd/blob/5f44a5c9a08fb4fe6237a111cb0a1eae748d112a/src/Microsoft.Diagnostics.Runtime/src/Implementation/ClrmdRuntime.cs#L131

[2019-12-17 16:08] NextTurn opened #441 "Array pool leak in enumerable methods"
Similar to #409

The array won't be returned to pool unless the enumeration is completed.

https://github.com/microsoft/clrmd/blob/5f44a5c9a08fb4fe6237a111cb0a1eae748d112a/src/Microsoft.Diagnostics.Runtime/src/Implementation/ClrmdHeap.cs#L217

[2019-12-17 16:41] leculver commented on #441
This is ok.  ArrayPool usage here is a best-effort to not thrash the heap by constantly allocating, it's not a bug if we can't return the array in 100% of cases.  ArrayPool will happily keep allocating for us, and I would imagine the normal case is to finish the enumeration anyway.

The main reason I fixed #409 is because using the thread static meant we could end up truly "leaking" the memory in

[2019-12-17 17:29] #441 closed

[2019-12-17 18:58] #440 closed

[2019-12-17 18:59] leculver commented on #440
Good find.

[2019-12-17 19:07] leculver commented on #436
GCRoot tests also looks to have non-deterministic failures.  That one looks like a real product issue.

[2019-12-17 20:14] #434 closed

[2019-12-17 22:47] leculver commented on #311
Closing this issue now that we are pretty far along in the rewrite.  I'm still monitoring this thread if anyone has more comments or questions.  Thanks all who participated!

[2019-12-17 22:47] #311 closed

[2019-12-17 23:35] leculver commented on #438
@PhDuck What are you using the size for?

As I'm looking closer at fixing this there's a few different interpretations of what 'Size' could mean (the original design here is ambiguous which is bad).  For example, it could mean the linker image size, the size as loaded into the virtual address space, the size on disk of the PE image...

If I had a better understanding of what you are using it for t

[2019-12-18 04:05] swift-kim commented on #402
@leculver It seems the issue is not fully resolved by #419. A DacError is encountered at the Dac side when `GetFrameName()` is invoked for special frames.

As I mentioned in https://github.com/microsoft/clrmd/pull/419#discussion_r357910098, the args passed to the Dac also should be in ClrDataAddress type (otherwise at least a signed type), like https://github.com/swift-kim/clrmd/commit/acbcc790d95

[2019-12-18 17:06] leculver commented on #402
I'm sorry, I just haven't had a chance to get to this.  I am leaving on vacation on Friday and I'm running out of time to get everything done.

I saw the comment you left there about other places we need ClrDataAddress.  You are right but I haven't gotten to changing it yet.  You are always welcome to open a pull request if you figure something out and can fix it before I do.

As for this specific

[2019-12-18 18:43] leculver commented on #402
Regarding the issue with failing to create a Free method table, here's the program I tested:

[code]

This printed "Succeeded" on an x86 and x64 raspberry pi devices:

    4.19.66-v7+ #1253 SMP Thu Aug 15 11:49:46 BST 2019 armv7l GNU/Linux
    4.15.0-1052-raspi2 #56-Ubuntu SMP PREEMPT Tue Nov 26 15:34:44 UTC 2019 aarch64 aarch64 aarch64 GNU/Linux

I also tested this program on the same devices:

[2019-12-18 20:30] mikem8361 opened #450 "Implement ModuleInfo.Version for ELF core dumps for PE assemblies"
For the PE assemblies in the ELF module list, implement the IDataReader.GetVersionInfo function.

[2019-12-18 23:08] swift-kim commented on #402
@leculver The problem is not with ClrMD and very Tizen-specific. I'll ask my team for diagnosing the problem more precisely and let you know if anything is found. Thank you very much and have a good vacation!

[2019-12-18 23:38] #450 closed

[2019-12-18 23:39] leculver commented on #402
Thank you!

Please let me know what you find.  Even if it's Tizen specific we still want to know what the root cause of the problem turns out to be in case other customers run into the same problem on the same device in the future.

[2019-12-19 00:54] leculver commented on #450
The NuGet packages I shipped today for both 1.1 and 2.0 have the fix for this.

[2019-12-19 00:56] mikem8361 commented on #450
Thanks.

[2019-12-19 01:16] swift-kim commented on #402
It matters when the Dac casts the args down to 32bit pointers. It fails in `CLRDATA_ADDRESS_TO_TADDR()` in [`dacimpl.h`](https://github.com/dotnet/runtime/blob/20ab2fa963934b5823e0b8afbba858169dd27169/src/coreclr/src/debug/daccess/dacimpl.h#L58-L72) bacause `iSignedAddr > INT_MAX` is true.

For example if we pass 0xffffabcd to the Dac,
- 0x00000000ffffabcd as `ulong` > `INT_MAX` (**FAIL**)

but,
-

[2019-12-19 01:17] leculver commented on #438
This is now fixed in the current versions of 1.1 and 2.0 on NuGet today.  It now works as well as it has in the past...we are still trying to figure out what this looks like going forward for 2.0.

[2019-12-19 01:17] #438 closed

[2019-12-19 01:26] leculver commented on #402
Ugh that's awful.  You are right, we'll need to wrap all parameters with ClrDataAddress or something similar.  I will work on this either tomorrow if I have some time, or when I'm back from vacation in early January.

[2019-12-19 01:32] swift-kim commented on #402
Oh, in my guess, it should only happen with values obtained by `RuntimeBuilder.EnumerateStackTrace()` because they are not correctly sign-extended there. I'll make a PR to fix RuntimeBuilder instead of changing the whole SosDac interface.

[2019-12-19 07:49] PhDuck commented on #438
Hey @leculver my usage is to measure the memory consumption of having the assembly loaded into memory.

In our product we load in thousands of assemblies, so I wanted to see the potential gain of unloading them, from the perspective of the assembly.

Afterwards I will have to figure out the impact on the loader heap of loading these C# assemblies and creating classes from them.

[2019-12-19 20:30] leculver opened #459 "GCRoot tests non-deterministicly fail"
GCRoot tests also looks to have non-deterministic failures.  This looks like a real product issue.

[2019-12-19 20:31] #436 closed

[2019-12-20 17:34] leculver commented on #402
@swift-kim The issue with Free MethodTable is being fixed here:  https://github.com/dotnet/runtime/pull/1086.

[2019-12-20 17:39] leculver opened #465 "PEImage needs to be threadsafe"
This issue is to track two problems in the current ClrMD codebase:

1.  PEImage needs to be threadsafe for reading data from ReadVirtual in some way.
2.  ModuleInfo carries a shared instance of PEImage that needs to be disposed of.  Either ModuleInfo needs to be an IDisposable (I'd like to avoid that), or ClrMD needs to change how it stores and hands out PEImage instances.

[2019-12-20 18:37] leculver opened #467 "Rename ValueClass to ValueType"

[2019-12-21 18:29] swift-kim commented on #402
@leculver Great news!

[2019-12-23 17:22] #467 closed

[2019-12-24 15:59] NextTurn opened #475 "Layout/Size related naming"
As discussed in some other threads, we need more appropriate layout/size related names.

For reference, there are three major layouts in CoreCLR:

https://github.com/dotnet/runtime/blob/bd6c81a944f609b88908864827b7797c6b127c5b/src/coreclr/src/vm/peimage.h#L287

https://github.com/dotnet/runtime/blob/bd6c81a944f609b88908864827b7797c6b127c5b/src/coreclr/src/vm/peimagelayout.h#L40

- Flat layout

Spe

[2019-12-27 17:32] leculver opened #481 "ClrObject with arrays"
All array related functions need to be moved out of `ClrObject` into a struct like `ClrArray`.  `ClrObject` needs new function `ClrArray AsArray()` that's only callable when `ClrObject.IsArray` returns true.

The new struct should cache the `.Length` property's result so that `ClrArray.Length` in a for loop is not a perf problem.

Additionally there needs to be a function to read the entire conten

[2019-12-28 16:14] NextTurn opened #485 "Cleaner, slimmer, and more stable code coverage workflow"
This is a tracker for tonerdo/coverlet# 628: coverlet.core as a Nuget package.

[2019-12-30 15:31] leculver commented on #485
I merged the code coverage PR, but I don't see the expected code coverage text in pull requests, for example:  https://github.com/microsoft/clrmd/pull/482.  Any idea what's wrong?  Or where should I be looking to find code coverage for a pull request?

(FYI, I'm not fully back yet, will likely be only partially working until Jan 6th.)

[2019-12-30 15:49] leculver opened #488 "Support for multi dimensional arrays"
ClrMD should handle multi-dimensional arrays, such as `string[,,]`.  At minimum we should expose a property like `ClrArray.Rank` to tell you whether it's an szarray or not.  Multi-dim arrays are not a common feature, so I'm not sure how much effort I want to spend on them.  Especially if there's not a lot of dac support for it.

[2019-12-30 15:52] #481 closed

[2019-12-30 15:58] NextTurn commented on #485
The workflow is working as expected. There are three places where you can see the results for now:

- GitHub PR Checks tab (for the last run job): https://github.com/microsoft/clrmd/pull/482/checks?check_run_id=367649810
- Azure Pipelines Code Coverage tab (for the last run job): https://dev.azure.com/dnceng/public/_build/results?buildId=468118&_a=summary&tab=ms.vss-codecoverage-web.code-coverage-

[2019-12-30 15:59] leculver commented on #485
Ahh, got it.  Thanks!

[2019-12-30 16:22] NextTurn commented on #485
FYI the followings are steps to set up the umbrella bot if you want to give it a try:

- [Log in to Codecov](https://codecov.io/login/gh) with the GitHub account.
- Install [Codecov's GitHub App](https://github.com/apps/codecov).
- Add the repository and set the upload token in CI environment variables.
- Uncomment the task.
https://github.com/microsoft/clrmd/blob/c35e2115241e7dc6f9c835b4c59b9e396

[2019-12-30 16:38] NextTurn commented on #485
Coincidentally I'm busy preparing for some big events in the new year which will be finished on January 7th in PST.

[2019-12-31 22:27] leculver opened #490 "Arm32 test failures"
I ran tests on my new arm32 raspberry pi 4 and found currently 25 tests fail.  This issues is a reminder to go investigate/fix these before wrapping up ClrMD 2.0.

[pi.tests.txt](https://github.com/microsoft/clrmd/files/4013590/pi.tests.txt)

[2020-01-01 13:04] NextTurn commented on #459
I'd like to take a closer look at this when I'm free. Could you share the trace logs (`GCROOTTRACE`) of test failures?

[2020-01-01 13:22] NextTurn commented on #408
#431 added functionalities to retrieve the `<T1, T2, ...>` generic parameters.

The new APIs look like the followings:

https://github.com/microsoft/clrmd/blob/a5e28f71c2a319a80de027fdb4977cc855e6624c/src/Microsoft.Diagnostics.Runtime/src/Common/ClrType.cs#L89

https://github.com/microsoft/clrmd/blob/a5e28f71c2a319a80de027fdb4977cc855e6624c/src/Microsoft.Diagnostics.Runtime/src/Common/ClrGenericPa

[2020-01-01 13:46] NextTurn commented on #408
The generic arguments are only exposed through the native `IDacDbiInterface` interface.

[2020-01-01 22:26] PhDuck opened #493 "Heap.CacheHeap() leads to different objects in EnumerateObjects()"
When calling CacheHeap() before doing EnumerateObjects() a bunch of  ~4GB sized "Free" objects will be found, these are however not found if I do **not** call CacheHeap().

I couldn't repo it with just attaching to the running process, but only with my current memory dump, I can share it if needed or I can take a look at the issue myself.

Dump:
Windows 10 64x
C# 4.8 (don't know about other).

Clr

[2020-01-02 18:28] leculver commented on #459
Sure, as soon as I have some time I want to add an infinite loop of GCRoot to `LongRunningTests`, which should reproduce the problem.  You should be able to test it locally with any flags when I do that.  Not sure if I'll get around to it today but it'll be the next thing I work on.

[2020-01-02 19:30] leculver commented on #408
Yeah.  I was thinking about the dac/dbi interface over the last few days.  I really don't want to build support for the `IDacDbiInterface` in clrmd.  It's not versioned and requires tight coupling, so changes between versions of CLR may start causing access violations at any time.

I think the long term direction here is for me to go do work in the coreclr repo to add new ISOSDac interfaces that i

[2020-01-02 23:01] leculver commented on #459
Ended up figuring out what was wrong here and fixing a few other unrelated problems along the way.

[2020-01-03 00:35] #465 closed

[2020-01-03 00:39] leculver commented on #459
Still failing non-deterministicly.  Will look again tomorrow.

[2020-01-03 07:14] swift-kim commented on #490
I just ran the tests on my arm32 rpi3 with the current code base and found only one failing testcase.

[rpi3-armhf-tests.zip](https://github.com/microsoft/clrmd/files/4018336/rpi3-armhf-tests.zip)

[2020-01-06 04:27] NextTurn commented on #488
How do you feel the new APIs should look like?

[2020-01-06 04:39] NextTurn commented on #290
@leculver This bot is too noisy. We only need to manually update Arcade at a much lower frequency.

[2020-01-06 07:50] NextTurn commented on #313
Actually I'm referring to https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/Common/ObjectSet.cs. I didn't make changes because FxCop doesn't allow array properties.

[2020-01-06 13:24] leculver commented on #290
I'll see what I can do to turn it off.  In the past I've been really bad about actually updating Arcade so the bot was helpful in making sure it didn't get out of sync.  Now that I'm more actively working on ClrMD it can be a manual process again.

I just got back to work but I'll try to take care of it later this week.

[2020-01-06 13:34] leculver commented on #313
Ah I forgot about ObjectSet.  Yeah that class needs to be cleaned up.

[2020-01-06 13:36] leculver commented on #488
I think what you have in the two pull requests are most of what I was thinking.  The only thing left would be something like `ClrObject ReadObject(params int[] indicies)` and `T Read<T>(params int[] indicies) where T: unmanaged` (or `T[] ReadMultidimensional<T>() where T: unmanaged` to let someone actually get the values from a multi-dim array.

However, usage of multi-dimensional arrays is so rar

[2020-01-06 13:41] NextTurn commented on #290
Can't we just reduce the frequency? I didn't find any docs for it so I'm not sure whether it's viable.

[2020-01-06 15:57] leculver commented on #290
I don't really know anything about Arcade at all.  I'll reach out to the team that owns it for help via email.  I'm sure they'll have some options.

[2020-01-06 19:55] leculver commented on #290
@mmitche Is there any way to reduce the volume of Arcade pull requests to the repo or otherwise help satisfy the concern here?  Anyone who is subscribed to notifications on the repo gets a very low signal to noise ratio because all of the 'real' commits are drown out by the Maestro bot updating arcade.

[2020-01-06 19:57] mmitche commented on #290
@leculver You could reduce the update rate to weekly.

[2020-01-06 20:08] leculver commented on #290
@mmitche Where do I do that at?

[2020-01-06 20:09] mmitche commented on #290
Using "darc update-subscription --id bdc83763-bad7-4f66-e2e6-08d6fa9fb6d9"

[2020-01-07 16:35] NextTurn opened #506 "Error handling element types for array types"
See https://github.com/microsoft/clrmd/pull/505/commits/6b2669262b4c4560275d592ee9f4ff7828257a21

I haven't checked if changes are needed elsewhere.

[2020-01-07 20:32] NextTurn commented on #506
Seems that this should be `ClrElementType.Class` for `System.Array`,

https://github.com/microsoft/clrmd/blob/7d9018bd429264474494f5b9048e2330e1c08b71/src/Microsoft.Diagnostics.Runtime/src/Builders/RuntimeBuilder.cs#L750

which is also set here.

https://github.com/microsoft/clrmd/blob/7d9018bd429264474494f5b9048e2330e1c08b71/src/Microsoft.Diagnostics.Runtime/src/Implementation/ClrmdType.cs#L192

[2020-01-08 17:46] #488 closed

[2020-01-14 21:16] panopticoncentral opened #516 "Microsoft.Diagnostics.Runtime.Utilities is not published to NuGet"
It looks like the build is producing a NuGet package, but it's not getting pushed to NuGet itself. Are there plans to do this?

[2020-01-16 15:59] NextTurn opened #518 "Microsoft.Diagnostics.Runtime.Native is broken"
Do we still maintain this?

[2020-01-16 17:31] leculver commented on #518
No.  I will delete it out of the project.

[2020-01-16 17:32] leculver commented on #516
I have gotten approval to ship it to NuGet, but I don't plan to look into it until after ClrMD 2.0 is ready to ship.  We are still in beta right now.

[2020-01-18 03:31] NextTurn opened #521 "Consider PSAPI_VERSION=2"
Affected APIs: **EnumProcessModules**, **GetModuleFileNameEx(A/W)**

[2020-01-19 02:48] PhDuck opened #523 "Problems loading DAC on clrmd2"
I'm trying to switch to clrmd2, in the process I'm build master branch locally and trying to make it work.

Using the same dump file, on the same machine, with clrmd 1.1 everything goes well, but with master builds I get the following error:

[code]

Code:
[code]

I took a quick view of the code, there is a divergence in ClrInfo.cs. For my case the DacInfo.FileName is not null, so we do not try to

[2020-01-19 03:27] NextTurn commented on #523
Unfortunately I failed to reproduce this...

Information collected:

  | Name | Value
-- | -- | --
▶ | DacInfo | {mscordacwks_Amd64_Amd64_4.8.4084.00.dll}
  | Flavor | Desktop
  | LocalMatchingDac | "C:\\Windows\\Microsoft.NET\\Framework64\\v4.0.30319\\mscordacwks.dll"
▶ | ModuleInfo | {C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll}
▶ | Version | {4.8.4084.0}

  | Name | Value
-- | -- |

[2020-01-19 03:34] PhDuck commented on #523
@NextTurn which product version does your "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\mscordacwks.dll" have?

Mine is 4.8.4075.0

[2020-01-19 03:55] NextTurn commented on #523
@PhDuck It's 4.8.4084.0.

  | Name | Value
-- | -- | --
  | FileName | "C:\\Windows\\Microsoft.NET\\Framework64\\v4.0.30319\\clr.dll"
  | FileSize | 0x00ac7000
  | ImageBase | 0x00007ffc3e0e0000
  | IsManaged | false
▶ | Pdb | {e6f1c82e-e82c-4f80-9c33-8b6f3db49f82 2 clr.pdb}
  | TimeStamp | 0x5dda434a
▶ | Version | {4.8.4084.0}

[2020-01-19 03:58] PhDuck commented on #523
Yeah, so for me, I have the wrong version locally 4.8.4075.0 which would then lead to it having to find the matching one on 1. 1. Which actually workes, however for clrmd2 it doesn't try to locate the binary.

Can you get a hold of a v4075 and try?

[2020-01-19 04:01] NextTurn commented on #523
Odd. IIRC the version string in DAC file name is taken from CLR module's version so they should match.

[2020-01-19 04:03] PhDuck commented on #523
I even tried to hack it together by giving the path from ModuleInfo.path but then it throws on version mismatch.

[2020-01-22 21:32] leculver commented on #523
I think I see the problem.  I submitted PR #529 to try to fix this issue.

Does the problem go away with the updated 2.0 nuget package?  (It won't go up for another few hours.)  If not, can you please paste the output of these two programs run against the same crash dump to help narrow down the issue?

    // ClrMD 1.1
    using Microsoft.Diagnostics.Runtime;
    using System;

    class Program

[2020-01-23 01:26] leculver commented on #523
Having trouble getting a signed build produced, may take me a couple days to figure out what's wrong to ship a nuget package.  =/

[2020-01-23 04:03] leculver commented on #523
Thankfully Matt figured out  the problem, @PhDuck can you give this a try?  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-beta.20072.5

[2020-01-23 21:19] PhDuck commented on #523
Can confirm 2.0.0-beta.20072.5 works!

[2020-01-23 21:19] #523 closed

[2020-01-24 12:31] loop-evgeny commented on #306
What would be the first version to contain this fix and when is it expected to be released, please?

[2020-01-24 12:45] NextTurn commented on #306
[1.1.61812](https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/1.1.61812) seems to contain this fix.

[2020-01-24 13:48] loop-evgeny commented on #306
Thanks, I upgraded to that version and a process that caused the previous exception now throws a different one:

[code]

[2020-01-24 18:38] leculver commented on #306
Hmm, interesting.  I think the only place that would fail is here:
https://github.com/microsoft/clrmd/blob/7d9018bd429264474494f5b9048e2330e1c08b71/src/Microsoft.Diagnostics.Runtime/src/Linux/ElfFile.cs#L89

Unfortunately all of the linux core dump reading code is really, really hard to debug.  It's on my todo list to clean up, but I haven't gotten to it yet.  I think I'm going to try to tackle th

[2020-01-25 04:24] NextTurn commented on #306
Opened #528

[2020-01-25 14:26] ZQiu233 opened #529 "Problem about module's name"
ClrModule has 3 properties about name:
1.Name
2.FileName
3.AssemblyName
But it seems that they three return the same name.
If the assembly is loaded from byte[],then the three name return the full name of the assembly.
If the assembly is loaded from a .dll or .exe file,then the three name return the path of it.

Why this happend?I think at least "AssemblyName" should not be the path of an assembly

[2020-01-25 14:49] NextTurn commented on #529
`FileName` is `null` for dynamic modules (generated by `System.Reflection.Emit`).

`AssemblyName` and `Name` are usually identical since most assemblies only contain a single module with the same name.

[2020-01-25 14:52] ZQiu233 commented on #529
Got it.But how to get the full name of the assembly though.

[2020-01-25 15:01] NextTurn commented on #529
That could be available through a new `ClrAssembly` class, but I'm not sure if there are many use cases around it. @leculver

[2020-01-27 18:58] leculver commented on #529
I'm fine with adding a ClrAssembly class.  I was planning to do this for ClrMD 2.0 but the cases where the assembly is the module is _relatively_ rare and it's much more convenient to not have to go through another level of indirection.  It's true that the current implementation is likely not were we want to be.

Thanks for filing this issue.  This is something I want to tackle before we ship ClrM

[2020-01-27 19:38] #407 closed

[2020-01-28 10:12] Zero3 commented on #47
I noticed the following .NET Framework bugfix (from https://devblogs.microsoft.com/dotnet/net-framework-january-preview-of-quality-rollup/):

Maybe that is related to this issue?

[2020-01-28 15:51] NextTurn opened #532 "Assertion failure for interior stack refs"
https://github.com/microsoft/clrmd/blob/2e00bfb1a067a07ec6793c0dc0d222a982adc695/src/Microsoft.Diagnostics.Runtime/src/Builders/RuntimeBuilder.cs#L256

This branch always triggers the assertion.

https://github.com/microsoft/clrmd/blob/2e00bfb1a067a07ec6793c0dc0d222a982adc695/src/Microsoft.Diagnostics.Runtime/src/Common/ClrObject.cs#L29

[2020-01-28 17:26] leculver commented on #47
This is unrelated, we don't use that area of the runtime in ClrMD.

AFAIK the most recent versions of ClrMD 1.1 and 2.0 should not be affected by this issue.

[2020-01-31 04:58] ZQiu233 opened #534 "Is it possible to build a metadata reader in?"
I've looked through this lib and found that only the token of MetaData is provided.
I'm in need of getting details of target assemblies and I've known that there's a native C++ lib provided by MS for this.But I'm seeking for a managed way to do this.

So is it possible to add support for this?Theoretically and practically?
If it's possible,I'm glad to contribute to this.

[2020-01-31 05:25] NextTurn commented on #534
After #467 is merged you will be able to get a `MetadataReader` from the `PEReader`.

[2020-01-31 05:48] ZQiu233 commented on #534
Thanks a lot.

[2020-01-31 05:48] #534 closed

[2020-01-31 17:44] swift-kim commented on #402
@leculver Sorry to bother you again but this issue still needs a fix before being closed.

Do you have any plan on this? Just wrapping all params (in SosDac.cs, etc.) with ClrDataAddress and sign-extending them will do?

[2020-01-31 21:57] leculver commented on #402
Can you test whether PR #535 fixes the issue or not?  I have no way to test whether my changes were correct or if I missed something.

[2020-02-05 01:39] swift-kim commented on #402
It worked just as expected. No issues found. Thank you for your hard work!

[code]

[2020-02-05 01:39] #402 closed

[2020-02-13 08:51] loop-evgeny commented on #306
Should I create a new issue about the new error?

[2020-02-13 09:59] NextTurn commented on #306
Didn't #528 fix the new problem?

[2020-02-13 13:40] loop-evgeny commented on #306
Just tested it now and yes, it did, thank you. (I wasn't following that PR.)

[2020-02-13 22:25] cshung opened #539 "ClrSegment.NextObject is missing"
According to the [walking the heap](https://github.com/microsoft/clrmd/blob/master/doc/WalkingTheHeap.md) chapter of the documentation, there should be a `NextObject()` method defined on `ClrSegment`, but it is no longer available after the [Merge testing/2.0 into master](https://github.com/microsoft/clrmd/commit/b529bfb7a8d69ec1ff51d3cdfd807d6d3895b001) commit.

Is the removal of the method inten

[2020-02-14 16:12] puneetg1983 opened #541 "Ability to detect crashing thread Id in a Crash Dump"
Recently I was using ClrMd to determine **crashing thread** of a memory dump and I didn't find anything in built. Luckily, I was able to achieve this using `IDebugClient` which thankfully is exposed.

[code]

It would be nice to either add a new property to the `RuntimeThread `class (say `IsCrashingThread`) or just another helper method that lets people use CLRMD retrieve this easily.

Another opt

[2020-02-14 19:31] #521 closed

[2020-02-21 18:18] leculver commented on #541
Thanks for the suggestion!

Unfortunately, this is expected.  ClrMD is a CLR runtime inspection library, not a general purpose debugger.

The runtime itself doesn't know what thread 'crashed' the process, so you will need to go to another layer of information, such as either the crash dump (using DbgEng) or to the coredump for Linux to find the faulting signal.

The only way to make this work in C

[2020-02-21 18:18] #541 closed

[2020-02-22 06:50] NextTurn commented on #529
@leculver It seems a bit weird that `ClrModule.Name` returns the full path of PE file. It doesn't reflect the module's real name specified in *ModuleDef*.

I think it should instead return a short name which looks like the file name (with path removed).

[2020-02-22 10:50] ZQiu233 opened #544 "Offsets of fields are 4 smaller"
Test environment:
Windows 10 x64
.NET Framework 4.6.1

From the following code, 400(TestField2) is expected.But in fact I got 200 which should be the value of TestField1.
As my other tests,the offsets of instanced fields that clrmd get are 4 smaller than they should be.
I don't know if it's a bug, or a feature.In fact I'm just using it with offsets added 4 manually.

[code]

[2020-02-22 11:36] NextTurn commented on #544
Use `ClrInstanceField.GetValue`. It will add a pointer size offset for you.

[2020-02-22 12:00] NextTurn commented on #544
More on this: the class (reference type) instance address points to the method table pointer at the object start, while the instance field offset is calculated from the end of the method table pointer. You need to add the pointer size and the field offset to the instance address to get the actual field address.

[2020-02-22 12:13] ZQiu233 commented on #544
Got it. But how can I get some information about these structure?

[2020-02-22 12:17] NextTurn commented on #544
Sorry, what information?

[2020-02-22 12:23] ZQiu233 commented on #544
In other words, I wonder how do you know the memory structure so exactly.
How can I to get some information of that.

[2020-02-22 12:28] NextTurn commented on #544
I can recommend some blogs exploring the internals:

[.NET Internals Archives](https://devblogs.microsoft.com/premier-developer/category/net-internals/)

[2020-02-22 12:28] ZQiu233 commented on #544
Thanks a lot.

[2020-02-22 12:28] #544 closed

[2020-03-02 11:28] alexrp opened #548 "Is it possible to resume/suspend a process after attaching invasively?"
If so, what are the relevant APIs in CLR MD? I see there are debugger-related APIs in `Microsoft.Diagnostics.Runtime.Utilities`, but this library does not appear to be on NuGet yet.

[2020-03-09 18:06] #506 closed

[2020-03-10 19:23] leculver commented on #548
The secondary library will be on NuGet when 2.0 comes out of beta.

Right now this is only possible if you dispose of the DataTarget.  It's probably a good idea to give a way to resume/suspend the process in some way...I'll leave this open until then.

I'll likely make DbgEngDataReaderr public with some helper functions to resolve this problem and not require the use of .Utilities.

[2020-03-10 19:24] leculver commented on #539
I will add this back.  It's intended that you use EnumerateObjects instead of manually walking object to object, but for advanced uses there's no reason to remove this functionality.

[2020-03-11 05:27] NextTurn commented on #548
Good question. If you get `IDebugClient` and `IDebugControl` somehow, you can call `IDebugClient.SetEventCallbacks` to register an event handler and then invoke `IDebugControl.SetExecutionStatus(DEBUG_STATUS.GO)` to resume the process and `IDebugControl.SetExecutionStatus(DEBUG_STATUS.BREAK)` to suspend it again.

It's not possible to get complete COM interfaces from `DbgEngDataReader`, because th

[2020-03-11 08:01] damageboy opened #557 "ClrMD on Linux throws IOException"
Using .NET Core 3.1.101:

[code]

Running JitDasm with ClrMD 1.1.61812 throws an `IOException`:

[code]

Reverting JitDasm to ClrMD to 1.1.57004 solves the issue:

[code]

[2020-03-11 08:18] NextTurn commented on #557
Fixed in #528

[2020-03-12 06:00] damageboy commented on #557
@NextTurn Thanks for responsing!
Is there a 1.1 release planned where this will be nugetized?

[2020-03-12 06:02] NextTurn commented on #557
There should be a new 1.1 release soon. @leculver

[2020-03-12 16:46] #539 closed

[2020-03-12 16:46] #532 closed

[2020-03-12 17:09] leculver commented on #557
Yes, I plan to build one tomorrow assuming everything goes to plan.  (Sometimes our build system for producing new builds gives me trouble.)

[2020-03-12 17:53] leculver commented on #557
The internal build server producing signed builds is, in fact, broken again.  I'm working on fixing it now.  Not sure if I'll get a package out this week.  =/

[2020-03-13 01:09] NextTurn commented on #541
`IDebugSystemObjects::GetCurrentThreadSystemId` returns the OS thread ID, used by SOS `clrstack` command.

[2020-03-13 18:40] leculver commented on #557
I've published this build which should contain the fix:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/1.1.116301.  It will show up in visual studio a few hours from now.  Please let me know if you have more problems.

I'm still not able to publish 2.0-beta builds but we are working on that.

[2020-03-13 18:40] #557 closed

[2020-03-14 03:50] NextTurn opened #564 "Early exit for corrupted PE images resources?"
When experimenting with my own version of *createdump* on x86, the number of resource entries were unreasonably large (over thousands) but we were unable to detect this error.

https://github.com/microsoft/clrmd/blob/69db395bbcc3db1fbdb7bfa0bad31cafebbe72ea/src/Microsoft.Diagnostics.Runtime/src/Utilities/PEImage/ResourceEntry.cs#L130

A known problem is that we didn't check if `PEImage.Read<T>` re

[2020-03-15 20:20] ryanmolden commented on #63
Not sure if relevant, but I also use MSDIA (presumably what CLRMD may use, or symsrv) in a private project and have found that dumps that don't contain module headers often WILL contain CodeView info (as part of the MINIDUMP_MODULE from the MINIDUMP_MODULE_LIST) and THAT can be used to load pdb symbols (MSDIA has a LoadDataFromCodeViewInfo).

[2020-03-15 20:22] ryanmolden opened #565 "VersionInfo only has an internally visible ctor"
Makes it hard to implement IDataReader as a user of CLRMD.

[2020-03-16 19:58] #565 closed

[2020-03-17 20:59] TheXenocide opened #567 "Update ClrMD 2.0 Documentation/Samples"
I'm getting an odd exception stating "IsPointer64Bit failed" from 1.1 and noticed there was a 2.0 beta which I figured might be worth a try, but now a bunch of my code won't compile and, while some things I was able to find an alternative to, I'm not sure how best to update others. When I looked into the docs/samples they're also using methods that appear to have been removed. Could you provide gu

[2020-03-17 21:53] TheXenocide commented on #567
For anybody coming across this, `EnumerateRefsOfObject` is simply `EnumerateObjectReferences` now, which I think is a better name. Still digging through for other bits.

[2020-03-17 21:57] TheXenocide commented on #567
This is my approximation of `EnumerateTypes` for now, though I'd love to know if there's a more appropriate way.

[code]

[2020-03-18 14:17] TheXenocide commented on #567
Since I'm seeing the current source has public methods that don't exist in the beta NuGet package, I'm guessing it might be early days yet. Since some methods have alternatives, those may just be a matter of documentation, but for others I see no clear alternative. I'm thinking maybe some of these things are just yet to be implemented? I tried to take a look at the 2.0 project and backlog items, b

[2020-03-18 14:23] TheXenocide commented on #567
Related: https://github.com/microsoft/clrmd/issues/417

[2020-03-18 14:33] NextTurn commented on #567
ClrMD 2.0 is still under development, and the public APIs may change before RTM. We have a issue tracking documentation (#417) but you're welcome to update the samples if you like.

It's possible that some things were removed intentionally or unintentionally (like #539). Feel free to ask if you found anything missing.

Contributions are welcome! There is no limitation for pull requests.

[2020-03-18 14:49] NextTurn commented on #567
`ClrType.GetArrayLength` -> `ClrObject.AsArray().Length`

`ClrType.GetEnumName` -> `ClrType.AsEnum()`...

`ClrType.GetValue` -> maybe `ClrHeap.GetObject`

`ClrHeap.ReadMemory` -> maybe `DataTarget.DataReader.ReadMemory`

[2020-03-18 23:03] TheXenocide commented on #567
Oh, I think I might quite like the direction I'm seeing here with the arrays and enums and such. It reminds me of a Gist prototype I made ages ago that did something similar. I'll try those out and see how things go and I'll try to get the pull request together soon, I just want to take a look at tests and such. Should I create an issue for it or will the pull request be sufficient to document it?

[2020-03-19 03:50] NextTurn commented on #567
Just open a pull request so we could exchange ideas by commenting on the codes. There are no complicated ceremonies in this repo.

Some members were refactored to belong to the closer types. Design questions are left to the author @leculver.

The callback along with `GetNextObjectAddress` was added recently and I haven't taken a close look at it. Its use is kind of magic:

https://github.com/micro

[2020-03-19 17:29] leculver commented on #567
Sorry for the delay in responding, I'm somewhat out of office this week, but should be back as normal next week.  Looks like NextTurn answered most questions (thank you!), here's a few other thoughts.  Feel free to reply back again if I missed something.

I plan to add back the documentation/samples when the library is ready to ship.  Note that some functionality has been greatly changed or refact

[2020-03-19 23:52] TheXenocide commented on #567
Oh, it calls the callback within the method itself, I mean nothing supplies a callback when calling it. Since it's not part of the abstraction, just an implementation detail of the `ClrmdSegment` (I misquoted it as being `ClrSegment` above, though it is public it doesn't implement anything abstract/virtual). What's curious about it to me is that everything it passes to the callback already exists

[2020-03-20 00:17] TheXenocide commented on #567
Oooh, didn't see that response until I sent mine

[2020-03-20 16:30] leculver commented on #567
It is supposed to pass ClrmdHeap.WriteHeapStep, but doesn't right now due to an oversight when I was checking in a refactoring.  I haven't fixed it yet as I'm still debating stripping out the entire "heap step logging" feature or not.  I'll likely leave it in until clrmd 2.0 is ready to ship in case I need it to debug broken heap enumeration as I'm making changes.

Feel free to put a try/catch if

[2020-03-20 17:10] TheXenocide commented on #567
I had to step away while writing this message so some of it is from last evening and some is from today 😓

Okay, I'm caught up. First: no worries; I hope you're safe and healthy. I have appreciated this project for a very long time (pretty sure since pre-1.0, or at least I remember a time when `.Heap` was `.GetHeap()`).

My `EnumerateTypes` extension method does exactly what you mention, and I'm o

[2020-03-20 17:18] TheXenocide commented on #567
Sidenote: my query appears to have hit a bug of some sort. I need to stay focused on my other troubleshooting at the moment, but it looks like `EnumerateObjects` made it through 278802 instances but now appears to be blocking indefinitely.

[2020-03-20 18:11] TheXenocide commented on #567
It also looks like someone else was using that environment mentioned above; having pulled everything locally I enumerate objects significantly faster, but so too does WinDbg.

[2020-03-20 18:13] leculver commented on #567
If it's taking 40 minutes to enumerate the heap either you are running into hardware limitations (slow hard drive), OS/other programs interfering problems (virus scanner killing your perf or the file being in super cold storage), or something is wrong with your code.  I would have expected a heap of 15million objects to complete in 60 seconds or less.

Before trying to "optimize" ClrMD's usage you

[2020-03-20 18:43] TheXenocide commented on #567
I'm also using a build of master (with a FixGenerics patch in place, but that fix is incredibly simple currently). I have a solid state and the laptop is a couple years old, but I get the following:

[code]

That's not so bad honestly, so I suspect it's probably the way I was outputting my data which I can play with. I don't know how much of a difference this makes, but the dump is of a .NET Core

[2020-03-20 18:54] leculver commented on #567
You should submit the FixGenerics patch if you have time.  I'd like to take a look at it before we ship 2.0 RTM.  Even if it's a rough hack I'd like to see where the code can go wrong.

[2020-03-20 18:54] leculver commented on #567
Also, try to run the program I gave you twice, back to back and see if it's faster on the second run.

[2020-03-20 19:09] TheXenocide commented on #567
Here's two more runs.

[code]
and
[code]

[2020-03-20 19:26] TheXenocide commented on #567
I was going to try to verify some more scenarios, but figured it wouldn't hurt to push it up as is so you can take a look.

https://github.com/microsoft/clrmd/pull/569

[2020-03-20 22:50] TheXenocide commented on #567
Is there an equivalent to `EnumerateRefsOfObject` yet? I'm seeing for references are going the opposite direction as I want. I'm kinda hoping to browse all references to the instance I have in hand at the moment (and am also particularly interested in calculating commonalities between GCRoot chains as well).

I've got things running well enough that I've been able to actually browse around a bit;

[2020-03-21 03:38] NextTurn commented on #567
That's exactly what GCRoot does.

[code]

[2020-03-28 00:04] TheXenocide commented on #567
I've been sidetracked by other efforts, but as a note I implemented the above logic and found an OverflowException I'll try to gather some information about. I think it happens because `SOSDac.GetMethodTableSlot` tried casting an `int` of -1 to a `uint`

[2020-03-31 00:18] Symbai opened #578 "Possible to remotely jit a method?"
I'm currently using this library to lookup a memory address of a method in a running program. I've noticed that if the method has not been jitted yet the memory address returned will be 0xFFFFFFFFFFFFFFFF and the ILOffsetMap is empty. In this case I would like to remotely jit the method and get the new/correct memory address. How can I do this? Is there way or do I have to re-run the address looku

[2020-03-31 18:41] Symbai opened #579 "EnumerateObjectAddresses() is returns different type names than GetMethodByAddress()"
The following code below:
[code]

generates this output (all the time, while the target process is paused):
[code]

However enumerating EnumerateObjectAddresses() should produce the same class names as GetMethodByAddress() does. Otherwise I have no idea which one, IF one, is the right one when searching the other way around, i.e. finding method address by name.

Using nuget package version 1.1.116

[2020-04-09 18:50] leculver opened #594 "Change test infrastructure to produce dumps at test time"
The Arcade build infrastructure fails to properly build due to our test infrastructure design.  When run outside of "real" signed and packaged builds, everything works fine.  Inside our real infrastructure we hit an error after tests/test targets are built and code coverage runs.  So the only way to try to fix this is to submit real changes into master and wait to see what happens in the official

[2020-04-10 00:06] leculver opened #596 "Implement a standalone minidump reader"
This bug https://github.com/microsoft/clrmd/pull/585#discussion_r406500001 tricked me into thinking that loading multiple dumps at the same time worked successfully.  The tests I ran were not sufficiently complex to catch the problem, since that secondary bug (always having S_OK, 0 as the system id) meant we were never actually setting DbgEng's SystemId.

After talking with some devs over there, D

[2020-04-10 02:21] NextTurn commented on #594
if you set ReferenceOutputAssembly="false" it won't pass the output assembly of that reference to csc but it will make sure it builds

A known problem with `ProjectReference` is that VS is using 32-bit MSBuild.

https://github.com/microsoft/clrmd/blob/2da1ddadd8df4184bc4fdcf88e54b76b0eb9ebb9/src/TestTasks/src/Dump.cs#L28

[2020-04-10 02:31] NextTurn commented on #594
https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md#engaftersolutionbuildtargets-optional

I'm pretty sure that `AfterSolutionBuild.targets` won't work for us either. The targets will be executed after the main projects are built **and tested**.

[2020-04-10 16:13] tmat commented on #594
@NextTurn
The idea was to only build the project during build (as a ProjectReference), not to create the dump file.

It's generally a good practice for the build to be [deterministic](https://en.wikipedia.org/wiki/Reproducible_builds). Creating a crash dump is not deterministic.

[2020-04-11 18:38] leculver commented on #579
Sorry for the delay in responding.

This isn't actually a bug, CLR actually treats those as two different methods.  The `System.__Canon` method is the [open generic version of the method](https://stackoverflow.com/questions/2173107/what-exactly-is-an-open-generic-type-in-net) (or maybe the version for reference types...I can't remember off the top of my head), and the `SZGenericArrayEnumerator<Tal

[2020-04-11 18:38] #579 closed

[2020-04-11 18:44] leculver commented on #578
Sorry for the delay in responding.

ClrMD cannot do this itself.  ClrMD is meant to be a passive "inspection" API and will not modify memory in the target process, which would be required to JIT a method.

I believe the CLR profiling API and ICorDebug have ways to force a method to be JIT'ed but this isn't something I know how to do off the top of my head, but you might be able to ask the folks in

[2020-04-11 18:44] #578 closed

[2020-04-11 21:07] weltkante commented on #578
As far as the profiler API is concerned there's also https://github.com/microsoft/CLRInstrumentationEngine

[2020-04-13 17:51] leculver commented on #567
The `GetMethodTableSlot` issue should be fixed now.

Getting "all references pointing to an arbitrary object" is _not_ something ClrMD or any other debugging library can do by itself.  Note that the GC heap is a directional graph where objects point to whatever they are referencing, thereby keeping them alive.  You are asking to _reverse_ the direction of a graph.  Take this graph as an example (i

[2020-04-13 17:51] #567 closed

[2020-04-13 20:04] #518 closed

[2020-04-14 00:55] NextTurn opened #605 "Consider using named tuples in public and internal APIs"
... instead of Item1, Item2 everywhere. :/

[2020-04-14 04:20] NextTurn commented on #459
Nit

[code]

[2020-04-15 16:47] leculver commented on #605
What's the syntax for what you are proposing?  I was reading through tuple types documentation for C#, but apparently this isn't correct:  `public abstract IEnumerable<(MethodTable: ulong, Token: int)> EnumerateTypeDefToMethodTableMap();`.  Or do you mean defining a struct with Deconstruct?

[2020-04-15 19:04] drewnoakes commented on #605
Type declaration is (int Age, string Name).

Instantiation is (1, "foo") or (Age: 1, Name: "Foo")

[2020-04-16 16:35] TheXenocide commented on #567
It might be some time before I get to play with ClrMD again as we've solved the issues we were looking at for now. Thanks very kindly for all the help and for the project in general. I love this project and hope to continue some recreational coding with it on the side, but you know how spare time works.

[2020-04-17 05:41] swift-kim opened #607 "Several issues in Debug build"
The following issues only occur in the Debug build. Maybe some are not reproducible on other platforms than Tizen armel.

1. (Linux) False-positive assertion when a memory mapped file path contains a space
https://github.com/microsoft/clrmd/blob/61f5f98030789f428d45b50a54a8242b6a5e9c12/src/Microsoft.Diagnostics.Runtime/src/Linux/LinuxLiveDataReader.cs#L415-L419

[code]

2. Casting failure in GetMe

[2020-04-17 05:43] NextTurn commented on #607
I can reproduce this.

[2020-04-17 07:02] swift-kim commented on #564
I also have this issue on my machine (Tizen armel). Printing a simple stack trace of an application (which normally has 40+ dlls loaded in memory) took `1m43.092s` for a minidump and `0m13.167s` for a minidump with heap.
[code]

[2020-04-17 16:21] mikem8361 commented on #564
I have also noticed a problem like this in dotnet-dump's `lm` command. A huge perf problem that affects the first command run because the modules are enumerated to find the runtime module. Getting the Version for each PE image in the Linux core dump was taking way too long and failing.

The problem is the "layout" of managed PE modules. Some PE's are "file" layout and some are "loaded" layout. The

[2020-04-20 16:37] leculver commented on #607
@swift-kim Please open multiple issues in the future.  That makes it easier to track work and to make sure I don't close an issue before it's fixed.

[2020-04-20 20:54] leculver commented on #607
These three issues _should_ be fixed in: https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-beta.20220.3

Please let me know if there's still something wrong.  (Also please open a new issue for each individual exception/bug you find still reproducing.)  Thanks!

[2020-04-20 20:54] #607 closed

[2020-04-20 23:16] leculver commented on #605
I think I've found and fixed all instances of this.  Please let me know if you find one I missed.

I've also taken the time to remove the last remaining IReadOnlyList usage which shouldn't have been there.

[2020-04-20 23:49] swift-kim commented on #607
Thanks!

[2020-04-21 17:03] #605 closed

[2020-04-21 21:48] leculver opened #614 "Publish ClrMD 2.0 RTM"
This issue is mostly a marker/FYI about the current schedule.  I currently plan to do an API review of all public methods of all public classes in ClrMD, fix all outstanding issues, publish RTM, and then update documentation.  Here's my current deadlines for each stage, subject to change if I find more work missing:

- [x] **API Review**
- [x] **Fix open issues** (and testing)
- [x] **Performance

[2020-04-21 22:05] leculver commented on #490
Resolving since this was only on my odd device.

[2020-04-21 22:05] #490 closed

[2020-04-22 16:23] leculver opened #617 "Should we replace ClrObject.IsNull with "Nullable<ClrObject>"?"
A code pattern I want to use is:

    ClrObject obj = ...;
    ClrObject? value = obj.GetObjectField("foo")?.GetObjectField("bar")?.GetObjectField("baz");

Currently in order to deref all of those values it requires `IsNull` checks, otherwise there will be an `InvalidOperationException` thrown if (for example) `bar` was null in the target process.  It's a bit of a pain to deal with nullable values

[2020-04-22 17:13] leculver commented on #617
Even with this design we have a problem where if we hit an invalid object, we'll still throw since we aren't checking `IsValid` along the way.

Maybe if "bar" isn't valid (but has a non-zero) address, it will simply return null when you try to get the values out of it.  This means something like "GetValueTypeField" would need to return `ClrValueType?` which is odd since value types are never null.

[2020-04-22 19:16] leculver commented on #564
I've fixed this in PR #620.

@swift-kim It would be interesting to take a look at _why_ the those dlls don't correctly read PE image headers/resources.  #620 gives early outs so we won't spend as long failing to look up modules, but it feels like there's still an underlying bug here where we shouldn't be reading those huge counts.

If you have time to debug your scenario and take a look that'd hel

[2020-04-22 19:16] #564 closed

[2020-04-22 19:23] leculver commented on #459
That assert should have been fixed in https://github.com/microsoft/clrmd/commit/31c031acd63f1dd00b15e0cb3d7e4dff88d3e9c9#diff-a7deaa30b8ecd20f5c1994f44c495387 ?

Let me know if you see that still.

[2020-04-22 19:25] leculver commented on #459
Oh, no that introduced the assert.

The issue is that we can race to create the delegate on multiple threads.  That's fine, but the assert will trigger if another thread raced to fill the value.

Since we only call InitDelegateWorker in one place, there's no reason to assert there.

[2020-04-22 19:35] leculver commented on #564
This version (and later) contains the fix:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-beta.20222.5

[2020-04-22 21:17] leculver commented on #564
Ah the problem you are running into is possibly https://github.com/microsoft/clrmd/issues/475 where we are misinterpreting the layout.  I haven't tackled that issue yet.

[2020-04-23 01:48] swift-kim commented on #564
@leculver Okay. I'll go through it after finishing some my jobs. Just note that I currently see this error with the recent changes. Maybe `ReadSections()` should return `ImmutableArray<SectionHeader>.Empty` instead of `default`.
[code]

[2020-04-23 02:53] leculver commented on #564
@swift-kim Sorry about that, should be fixed as part of: https://github.com/microsoft/clrmd/pull/622.

I'll push a nuget package after it's built and signed.

[2020-04-23 03:03] leculver commented on #564
Published here, should be usable in about an hour:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-beta.20222.8

[2020-04-23 03:15] swift-kim commented on #564
@leculver It worked. Thanks!

[2020-04-23 08:40] NextTurn commented on #617
`default(Nullable<T>)` is `null`, but it's another story.

[2020-04-23 16:03] NextTurn opened #624 "API Design and Issues thread"
It seems to me that "helpers" are usually some small utilities that complement the main functions, while in ClrMD the "helpers" build everything (especially the `RuntimeBuilder` which implements 10 `I*Helpers`).

[2020-04-23 16:46] leculver commented on #624
I'm terrible at naming things.  =)

The original idea was that `Builders` actually construct Clr* types, where as `Helpers` are what various Clr* implementations use to implement its functionality.  That's not really how it's worked out in practice.

These kinds of naming issues are what I'm hoping to fix in "API Review" which I call out here:  https://github.com/microsoft/clrmd/issues/614.  Feel

[2020-04-23 16:56] leculver opened #625 "Don't pre-calculate ModuleInfo's version/buildid on Linux"
On Linux it's more common to inspect a coredump from the local machine (or live process) than how ClrMD is used on Windows.  Since there's so much slowness associated with digging for version numbers (and potentially buildids), we should only request those on demand since we only really need them in the coredump case when the build is copied to another PC.

Also we'd need to update DacInfo to lazi

[2020-04-23 17:22] leculver opened #627 "StackOverflowException in FixGenerics"
A coworker found a repro for https://github.com/microsoft/clrmd/pull/569 which came from a real dump:

    code:
    ClrmdType.FixGenerics("System.Runtime.CompilerServices.AsyncTaskMethodBuilder`1[[System.Collections.Generic.IReadOnlyDictionary`2[[System.String, mscorlib],T], mscorlib]]");

Need to investigate whether to keep trying to use "FixGenerics" or to just use the metadata APIs ourselves a

[2020-04-23 17:33] leculver commented on #627
Added a temporary workaround of a max depth to FixGenerics for now, but this issue tracks either really fixing the stack overflow or changing implementations over to using metadata.

[2020-04-23 19:27] leculver commented on #596
I'm actively working on this now.

[2020-04-23 19:40] leculver commented on #614
I marked a few items as "help wanted" if anyone is looking for a side project.  =)

[2020-04-23 19:43] leculver commented on #420
Also need to validate that PR https://github.com/microsoft/clrmd/commit/54b64b91554873fff671156cf7cd0b5b34bed1c2 is thread safe.

[2020-04-24 02:18] NextTurn commented on #420
There is an internal lock in S.R.PE.

https://github.com/dotnet/runtime/blob/33bedaf3bcc95d91dde5f09251a5972fbac5f05e/src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/MemoryBlocks/StreamMemoryBlockProvider.cs#L44
https://github.com/dotnet/runtime/blob/33bedaf3bcc95d91dde5f09251a5972fbac5f05e/src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/MemoryBlocks

[2020-04-24 17:27] leculver commented on #624
Fix data readers: https://github.com/microsoft/clrmd/pull/630#issuecomment-619144883

[2020-04-24 23:21] leculver commented on #596
Fixed in https://github.com/microsoft/clrmd/pull/632.

[2020-04-24 23:21] #596 closed

[2020-04-25 00:53] lindexi opened #633 "Document may be error in GettingStarted.md"
Just as the document says:

         ModuleInfo dacInfo = version.DacInfo;

But the `dacInfo` is a `DacInfo` not a `ModuleInfo`

![图片](https://user-images.githubusercontent.com/16054566/80267152-40677e80-86d2-11ea-9ba5-9e58f5900aa2.png)

[2020-04-25 16:10] #633 closed

[2020-04-25 16:44] leculver commented on #624
Fix inconsistent "Minidump" vs "MiniDump" and "Coredump" vs "CoreDump".

[2020-04-26 03:15] NextTurn commented on #624
Clarify that `IDataReader.GetVersionInfo` only works for native modules?

[2020-04-27 21:57] leculver commented on #63
This should now be fixed in ClrMD 2.0.

[2020-04-27 21:57] #63 closed

[2020-04-27 21:57] #290 closed

[2020-04-28 00:42] #625 closed

[2020-04-28 15:37] leculver commented on #303
I've now implemented most of what I was trying to build in ClrMD to help out this issue.  Earlier in ClrMD 2.0 work I did a lot more work around flushing internal runtime caches and ensuring calling ISosDac::Flush wouldn't crash.  I've also implemented `DataTarget.CreateSnapshotAndAttach` for Linux in PR https://github.com/microsoft/clrmd/pull/641.  Previously that method only worked for Windows.

[2020-04-28 15:37] #303 closed

[2020-04-28 15:41] leculver commented on #420
I will likely not tackle thread-safety of Linux data readers before RTM.  Moving this to "future".

[2020-04-28 16:39] nasser commented on #303
Thank you for all your hard work! This looks great!

[2020-04-29 01:55] #406 closed

[2020-04-29 02:30] #415 closed

[2020-04-29 17:36] #529 closed

[2020-04-29 17:55] leculver commented on #529
We are a bit hamstrung on how we report module "names" by the APIs that are provided by the dac.  I've cleaned this up somewhat, but Name and AssemblyName will continue to report filenames, because it's what the CLR diagnostics layer is reporting to us.  Essentially [GetPEFileName](https://github.com/dotnet/runtime/blob/master/src/coreclr/src/debug/daccess/request.cpp#L2047) doesn't _really_ give

[2020-04-29 22:27] leculver opened #648 "Implement array reading helpers in ClrMD 2.0"
The API review/cleanup checkin removed a few array functions that we do not want to support going forward.  We still need to add array helper functions for reading string[] arrays, ClrObject[] arrays, and valuetype[] arrays.  Additionally ReadArrayElements added a start position in the array to read from, but it is not yet implemented.

I likely won't get to implementing this before 2.0 RTM, so I'

[2020-04-29 22:38] leculver commented on #624
I've mostly finished API breaking changes/fixes.  I'm trying to scope my work down to things that need to be fixed before RTM, IE breaking changes.  The I*Builder/I*Helper issue I'm leaving until a bit later since I'm not promising those interfaces will remain stable.  They are primarily meant for testing/mocking parts of the library.

Any feedback on API issues or changes within the `Microsoft.Di

[2020-05-01 22:07] leculver commented on #624
- [ ] GetStaticFieldByName / GetInstanceFieldByName add nothing, they are simply wrappers around *Fields.FirstOrDefault.  Need to remove those unless we provide something significantly better than FirstOrDefault (like binary search, or hashset lookup, which I don't think we will do)

[2020-05-02 05:03] ryanmolden commented on #416
Old issue, but I would add, see if you can replace exceptions with TryX type methods, normally throwing/catching exceptions isn't a huge problem except:

1) It makes debugging super annoying both because perf (debuggers *cough* VS *cough* can slow down considerably when handling exception notifications, even if you aren't breaking on FCE) and general noise (if you want to break on something like I

[2020-05-02 19:37] leculver commented on #416
@ryanmolden I'm onboard with less exceptions, but I need more concrete advice on where you are seeing them today.

My hope for exceptions are:

- Startup codepaths will throw.  There's just too much that can go wrong.
- Change ClrObject/ClrException/ClrValueType/ClrArray to stop throwing in normal operation.  Tracked with https://github.com/microsoft/clrmd/issues/617 (though the issue isn't very d

[2020-05-03 04:10] NextTurn commented on #648
Failure points of `ClrmdArray`:

- No index/length validation.
- No dimension validation.

However, there has been a rich set of implemented methods in `ClrArray`.

[2020-05-03 04:21] NextTurn commented on #624
I propose to change `ClrEnum.EnumerateValues` to return `IEnumerable<(string Name, ulong? Value)>` instead. It's less common/useful to box integral types.

[2020-05-04 04:04] drewnoakes commented on #624
Consider adding the Public API Analyzer. It records the public API surface area in a per-project text file, making it easy to see when PRs modify public APIs.

[2020-05-04 16:48] leculver commented on #624
That seems reasonable.  Feel free to submit a PR for that.

Also looks reasonable, I'll take a look at that as soon as we ship.

[2020-05-07 22:18] ryanmolden commented on #416
Last I checked it was immense amounts from QI throwing. I have this (rather old) comment in some code, not sure if it is still legit in 2.0, but possibly

                catch (Exception ex) when (ex.GetType() == typeof(System.Exception))
                {
                    // Sadly CLRMD throws System.Exception at times, specifically here it is when the debug metadata doesn't have full info on

[2020-05-12 01:21] leculver commented on #614
I was pulled into some high priority work last week and continuing this week.  I have pushed back the RTM date.

[2020-05-12 07:06] chrisnas commented on #614
Thanks for your hard work @leculver!

[2020-05-12 14:25] jwdj opened #660 "ClrMD 2 EnumerateReferences much slower than ClrMD 1.1"
For calculating the retention size of objects I use ClrMD 1.1 to visit all objects in a depth first search.
Out of curiositity I tried the beta version (2.0.0-beta.20230.2). Some code needed to be rewritten slightly but I like the API improvements.
But the performance of processing the same dump file was about 5 times slower.
I know that 2.0 is not finished yet, but before releasing 2.0 it would b

[2020-05-12 15:06] NextTurn commented on #660
I'd like to look into this but I need some guidance on performance profiling with *dotnet-trace*... :(

[2020-05-12 18:20] jwdj commented on #660
I recommend using [PerfView](https://github.com/Microsoft/perfview/releases). After recording a trace, you can go to the Flamegraph tab to see which methods take the most time.
Here is an online [tutorial](https://mattwarren.org/2020/03/03/Analysing-.NET-Runtime-Startup-with-Flamegraphs/).
The traces are to big to send so I will try to summarize where more time is spent than before. This might tak

[2020-05-12 19:54] jwdj commented on #660
Well, the traces between ClrMD1.1 and ClrMD2.0 are very different. Hard to compare apples to apples. What I can tell is that ClrMD 2.0 suffers from I/O related slowdown. 83% is spent on reading the dump file. About 6% on my own code. So 11% on other ClrMD methods.
Samples spent in 1.1: 35893
Samples spent in 2.0: 155506

Here the methods that take the most time:
83%   microsoft.diagnostics.runtime

[2020-05-13 01:43] drewnoakes commented on #660
@jwdj were you running this on .NET Framework?

https://adamsitnik.com/Span/#slow-vs-fast-span

[2020-05-13 02:18] NextTurn commented on #660
https://github.com/microsoft/clrmd/blob/b49054de819ecb58f07b835434f5834a0a619ab2/src/Microsoft.Diagnostics.Runtime/src/Extensions/SpanExtensions.cs#L26

It's probably caused by double copying on .NET FX due to `Stream.Read(Span<byte>)` not available. This would be a nightmare for file I/O because ClrMD 2.0 is completely span-based.

[2020-05-13 07:25] jwdj commented on #660
@drewnoakes Yes this was running from .NET Framework. From [LINQPad 5](https://www.linqpad.net/LINQPad5.aspx) to be precise (32 bits version).
@NextTurn I agree that spans on .NET Framework can't be the problem. I think CLRMD 2 caches a lot less. It uses a lot less memory in any case (that is good!). Maybe some kind of buffering could help, or memory mapped I/O as you suggested yourself.

[2020-05-13 16:30] leculver commented on #660
I've not finished perf testing yet, which I have on the roadmap here: https://github.com/microsoft/clrmd/issues/614.

@jwdj Can you please give me the code snippet you are seeing a 5x slowdown on to make sure I understand?  I assume you are using something like `ClrObject.EnumerateReferences` recursively?  If so this is a known issue that I intend to fix in the perf testing outlined by #614.  Here

[2020-05-14 08:43] jwdj commented on #660
Thank you @leculver for taking the time to investigate this issue regarding the fact that your time is needed elsewhere. I'm perfectly fine with using ClrMD 1.1 in the meantime. It helped me find the objects in our software that take the most memory and realizing that some optimizations would be futile considering the enormous size of ResourceDictionaries.

Here the code I used for the ClrMD 2 ver

[2020-05-14 14:57] NextTurn commented on #660
@jwdj Do you have time to try #661 and see if it somewhat makes ClrMD faster? Your scenario makes much more sense than my unrealistic ad-hoc tests.

The CI artifacts are available [here](https://dev.azure.com/dnceng/public/_build/results?buildId=644493&view=artifacts).

[2020-05-15 14:18] jwdj commented on #660
@NextTurn Not sure what you want me to do with the CI artifacts. Some binlog files and a props file. I expected to find a .nupkg.

[2020-05-15 14:23] NextTurn commented on #660
Odd. @leculver Where are the Nuget packages for automated CI runs? They are not [here](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-tools&package=Microsoft.Diagnostics.Runtime&protocolType=NuGet&version=2.0.0-beta.20264.1&view=versions) either.

[2020-05-18 15:25] arvindshmicrosoft commented on #614
This is great, can't wait!

[2020-05-18 17:00] leculver opened #665 "ClrReference should provide dependent handle"
The `ClrReference` class should have a property exposing the actual handle address in the case of DependentHandles.

[2020-05-18 23:15] leculver commented on #660
I'm not sure either.  We can just ship the change in pre-release and use the real nuget packages.

[2020-05-19 14:34] Symbai opened #666 "Attach to a 32bit from 64bit"
How can I passively attach to a 32bit process from a 64bit process? When using AttachToProcess method with AttachFlag.Passive I receive a `Microsoft.Diagnostics.Runtime.ClrDiagnosticsException: Dac architecture mismatch!` exception.

[2020-05-20 01:32] leculver commented on #666
You can't do this.  The CLR debugger layer is a native dll (this is mscordacwks.dll/mscordaccore.dll) and it's only built to match the target architecture of the runtime you are debugging.  ClrMD relies on this dll to function, so there's nothing I can reasonably do to make this work.

[2020-05-20 01:32] #666 closed

[2020-05-23 15:00] ViacheslavAfanasyev opened #669 "SymbolServerLocator.FindBinary can not create folder for the downloaded assembly"
2.0.0-beta.20272.1

The following line of the code fails with downloading mscordacwks:

`this.DataTarget.BinaryLocator.FindBinary(this.DataTarget.ClrVersions[0].DacInfo.PlatformAgnosticFileName, this.DataTarget.ClrVersions[0].DacInfo.IndexTimeStamp, this.DataTarget.ClrVersions[0].DacInfo.IndexFileSize, checkProperties: false);`

The following exception appears:

"Could not find a part of the path

[2020-05-23 15:57] #669 closed

[2020-05-23 16:33] leculver commented on #669
@ViacheslavAfanasyev This should hopefully be fixed in https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-beta.20273.1.  Thanks @NextTurn !

[2020-05-25 22:25] Ne4to opened #671 "ClrType.EnumerateInterfaces throws ArgumentOutOfRangeException"
version: 2.0.0-beta.20273.1
code example:
[code]

Exception is in this line: https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/DacInterface/MetadataImport.cs#L76

If I change the following line it starts working https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/DacInterface/MetadataImport.cs#L70
[code]

[2020-05-26 16:37] #671 closed

[2020-05-26 22:51] leculver commented on #660
@jwdj Thank you for this report!  I've gotten to the bottom of the issue here which is (mostly) around .

The first issue is as I described, we need to put a memory read cache around enumerating an individual object's data.  This is easily fixable and should put us back into line with ClrMD 1.1's performance.

The second issue I've been looking at is the fact that a lot of the reads aren't localiz

[2020-05-27 00:00] leculver opened #675 "IMemorReader.Read should return bytes read, not bool"

[2020-05-27 00:04] leculver opened #676 "Thread ID should be ulong"
On non-windows platforms the process and thread IDs may be pointer sized.  Make them ulong instead of uint for compatibility.

[2020-05-27 01:29] leculver commented on #660
@jwdj Can you please give this nuget package a try?

https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-beta.20276.4

This implemented the bare minimum of improvements here.  I still have work to do to make this better but I wanted to see if this helped your scenario or if I have a lot more work to do?

[2020-05-27 02:56] NextTurn commented on #671
@Ne4to The fix should be available in 2.0.0-beta.20276.4. Would you like to create a follow-up issue w.r.t. the empty results?

[2020-05-27 08:10] jwdj commented on #660
@leculver @NextTurn : Well there is certainly an improvement over the results from yesterday using the previous beta version. Thank you for that. Here the results for a dump file of 600 MB (628,368,104 bytes)

| Version | Memory used | Total allocated | Time |
| --- | --- | --- | --- |
| 1.1.126102 | 96,461 KB | 544,730 KB | 00:00:06.0136100 |
| beta.20273.1 | 30,681 KB | 410,931 KB | 00:00:24.207

[2020-05-27 08:29] NextTurn commented on #660
@jwdj Thanks for following up! I'm a bit curious about how the [2.0.0-beta.20276.1](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-tools&package=Microsoft.Diagnostics.Runtime&protocolType=NuGet&version=2.0.0-beta.20276.1&view=overview) package would behave as well. Could you give it a try?

[2020-05-27 08:42] NextTurn commented on #660
This should have been implemented. You can find the type cache dictionary here:

https://github.com/microsoft/clrmd/blob/e1f4d31d2dc55dd2e67f7b4fd4b9959a30039f22/src/Microsoft.Diagnostics.Runtime/src/Builders/RuntimeBuilder.cs#L44

[2020-05-27 08:59] Ne4to commented on #671
@NextTurn Thank you. I updated the package and it works as expected, the query above returns data.

[2020-05-27 09:43] tomasdeml opened #679 "Q: EnumerateGCRoots ignores static roots?"
Hi, it seems to me that the `GCRoot.EnumerateGCRoots(ulong target)` does not return static roots for a target, i.e. parents of the target that are stored in static fields (using the v2.0.0-beta version).

It this a known limitation / WIP or do I miss something? I can prepare a repro case if you need one.

[2020-05-27 09:44] NextTurn opened #680 "EnumerateInterfaces sometimes returns nothing"
[code]

[code]

/cc @Ne4to

[2020-05-27 09:49] NextTurn commented on #679
At least static roots should be present if you use `GCRoot.EnumerateGCRoots(ulong target, bool unique)` where `unique` is `false`.

[2020-05-27 10:08] NextTurn commented on #459
Another test report:

[code]

[2020-05-27 10:18] Ne4to commented on #680
similar to #671
https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/Utilities/COMInterop/HResult.cs#L32
[code]
it helps for this example, but I'm not sure about all usages of `if (hr) {}` and `if (!hr) {}` in the codebase

[2020-05-27 10:34] weltkante commented on #680
Note that `hr >= 0` is the right thing to do if you want to _check for failure_
While `hr == S_OK` is specific to the API and usually _checks if results are available_

Checking whether results are available is different from checking for failures, handling both by a bool conversion and plain `if` statement seems dangerous, maybe code should be more explicit about what its checking?

[2020-05-27 15:19] tomasdeml commented on #679
It works, thanks! Do you know the reason why the API returns no static roots when `unique = true`?

[2020-05-27 15:40] NextTurn commented on #679
Static roots are not necessarily excluded. They are actually the first to be checked.

https://github.com/microsoft/clrmd/blob/e1f4d31d2dc55dd2e67f7b4fd4b9959a30039f22/src/Microsoft.Diagnostics.Runtime/src/Implementation/ClrmdHeap.cs#L359

Or is it a question about the definition of "unique"?

[2020-05-27 15:47] tomasdeml commented on #679
I am curious why the API behaves this way. What is the reason behind the unique flag that discriminates against some/all static roots...

[2020-05-27 16:39] #675 closed

[2020-05-27 16:41] leculver commented on #680
`if (hr)` is equvalent to `SUCCEEDED(hr)` and `if (!hr)` is equivalent to `FAILED(hr)`.  I haven't taken a look at the bug yet.

[2020-05-27 16:54] leculver commented on #679
The default settings of EnumerateGCRoots should prefer static roots over thread stack roots.  I'll leave this issue open to track taking a look at why that's not the case.  (There may also just be a bug here.)

As to the reason:  The GCRoot algorithm is very slow because it has to do a random walk through the entire heap in non-sequential order.  For example, see #660 where I'm trying to improve p

[2020-05-27 16:58] leculver commented on #660
Thank you for doing some measurements!  I had hoped my changes would have bigger impact, but I knew there was a lot more work to do here.  I'm actively working on this issue and should hopefully have a better solution by the end of the week.

[2020-05-27 18:37] #680 closed

[2020-05-27 19:08] leculver commented on #660
Ok I've gotten to the bottom of this.  The underlying problem here is that Stream.Read is orders of magnitude slower than what DbgEng does to read memory (this measurement is without #661).  Note that DbgEng is the default reader in 1.1.  Here's what this looks like for an objsize test reading 24 million objects in an x86 process:

| Version | # Reads | Bytes Read | Seconds | Reads/sec | Bytes/sec

[2020-05-28 01:35] leculver commented on #660
I have most of the solution coded up here.  It will be done in another day or two:  https://github.com/leculver/clrmd/tree/aweMemoryReader

You can set a max "cache size" for data cached from a minidump.  Then we will go down a few different codepaths depending on the size of the dump:

1.  If the dump size is smaller than the cache size we'll just load the whole file with MemoryMappedFile and rea

[2020-05-28 19:24] #660 closed

[2020-05-28 19:28] leculver commented on #676
Looks like uint is standard on linux, and I think OS X.  I'm not going to make this change.

[2020-05-28 19:30] leculver commented on #475
I'm not going to be able to get to this in the 2.0 RTM timeline.  If this requires breaking changes to the API surface it'll likely have to be addressed in 2.1.

[2020-05-28 19:33] leculver commented on #617
I'm not going to make this change in this release.

[2020-05-28 19:33] #617 closed

[2020-05-28 19:35] leculver commented on #624
At this point I think I'm happy with the surface area, at least enough to where I'm ok shipping 2.0.

[2020-05-28 19:35] #624 closed

[2020-05-28 19:49] leculver commented on #408
We have done all that we are going to around MetadataImport in this release.  NextTurn's `EnumerateGenericParameters` should resolve the initial problem here, and I think MetadataImport is where I want it to be for ClrMD 2.0.

I'm going to close this issue now, but please feel free to open a new issue if there's functionality in IMetaDataImport that you would like to need wrapped in ClrMD.

[2020-05-28 19:49] #408 closed

[2020-05-28 20:11] leculver commented on #416
At this point I'm satisfied with where we are for 2.0.  I will be happy to continue fixing any other exception issues as I consider these non-breaking changes.

This is now fixed.

[2020-05-28 20:11] #416 closed

[2020-05-28 20:15] leculver commented on #665
I won't be able to get this for 2.0 RTM but it's still planned.

[2020-05-28 20:23] mikem8361 commented on #676
The runtime and SOS use uint (32bit) for thread and process ids and have never had a problem even though on Linux the pid_t type is usually a ulong.

[2020-05-28 20:26] leculver commented on #676
@mikem8361 I was going by [this](https://stackoverflow.com/questions/1922761/size-of-pid-t-uid-t-gid-t-on-linux), which says the pid is always 32bits, at least on intel architectures.  I wonder if that's true for arm and other architectures...

[2020-05-28 20:38] mikem8361 commented on #676
I was agreeing with you conclusion if that wasn't clear. I think (but not sure) it applies to arm/arm64 also.

[2020-05-28 21:23] leculver commented on #676
Yes, sorry.  We are on the same page.  I was just thinking out loud.  =)

[2020-05-28 21:53] leculver commented on #614
I've published a 2.0 release candidate build for ClrMD here:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-rc.20278.6.  This is a last-call for breaking changes, as I will publish 2.0 RTM a week from tomorrow (June 5th) to give myself some bake time in case I forgot something or regressed something in the changes this week.

(@NextTurn as an fyi.)

[2020-05-28 21:56] leculver commented on #660
The fix for this is published here:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.0-rc.20278.6

As a reminder I expect this build to be within 10% of ClrMD 1.1 but still a little slower.  I do plan to revisit the reader's perf at some point.  Please let me know if this is still significantly slower in your scenario.

[2020-05-30 00:20] NextTurn commented on #459
Oops, I accidentally closed this. This may not have been fully resolved.

[2020-05-30 00:26] leculver commented on #459
No worries!

Yep this is still an issue.  I *think* the underlying problem with the test here is that we throw all GC roots into a parallel queue and sometimes the handle roots win, and sometimes the stack roots win...but I haven't tested it yet.  This would be "fixable" by making the parallel gcroot code process _all_ handle roots first and when they are done then process all other roots.

Howeve

[2020-05-30 18:19] mikem8361 opened #697 "ClrInfoProvider.IsSupportedRuntime, etc. needs MacOS support"
ClrInfoProvider.IsSupportedRuntime needs to work for MacOS target by checking for "libcoreclr.dylib" and "libcoreclr.so". The extension is the only thing that distinguishing the two OSs.  Not sure how that will work under dbgeng because it strips the extension (like on Windows) for modules even for Linux coredumps.

ClrInfoProvider.TryGetModuleName has a nit.  Lower casing the module name isn't te

[2020-05-30 18:27] mikem8361 opened #698 "The Linux symlink code in GetOrCreateClrVersions() leaks temp directory/files"
I should have added some kind of cleanup with I added this DAC/symlink workaround months ago.  The result is leaked tmp directories/files on Linux:

https://github.com/microsoft/clrmd/blob/02b86fb3e87381b18d808c03a77c4e0cb2a3987c/src/Microsoft.Diagnostics.Runtime/src/DataTargets/DataTarget.cs#L167

These directories and files could be cleaned up during DataTarget.Dispose() with something like (sav

[2020-06-01 19:38] leculver opened #702 "IsEnum should do more checks before checking type.Name"
I don't have a good sense as to whether this can be done better, but we should probably do more validating before calling type.Name.  The reason is someone specifically looking for enums (ie `clrHeap.EnumerateObjects().Where(o => o.Type.IsEnum)`) is going to have very bad performance.

[code]

[2020-06-01 20:07] #698 closed

[2020-06-02 00:37] ViacheslavAfanasyev opened #703 "EnumerateStackTrace on the thread doesn't return Method name"
2.0.0-beta.20273.1

EnumerateStackTrace on the thread doesn't return Method name.
The idea is to get string-based stack trace of the thread.

![image](https://user-images.githubusercontent.com/9393016/83467369-b84e6480-a447-11ea-86ba-e1b2657c9ab1.png)

[2020-06-02 03:39] leculver commented on #703
Here's a test that shows it working in 2.0:  https://github.com/microsoft/clrmd/pull/705

It's possible there's an issue where IBinaryLocator isn't finding the file in question.  Is this is a regression from 1.1?  Is there any more information on the scenario here?

[2020-06-02 05:12] NextTurn commented on #703
There are a bunch of DAC functions that could fail during enumerating the stack trace. I'd suggest trying `x.IsBackground` in case you were not looking at the main thread. Could you please provide a full stack trace of the thread?

[code]

[2020-06-02 06:30] jwdj commented on #660
@leculver Well this is definitely a big improvement in speed. Even better than ClrMD 1.1 and without AWE. Memory usage has logically gone up though.
Thank you for your effort addressing this issue.

| Version | Memory used | Total allocated | Time |
|---|---:|---:|---:|
| 1.1.126102 | 96,461 KB | 544,730 KB | 00:00:06.0136100 |
| beta.20276.4 | 31,580 KB | 408,346 KB | 00:00:16.6063535 |
| rc.2027

[2020-06-02 08:55] sukesh-ak opened #707 "Samples need update using latest API"
Great to see these API's being updated now.

Found that a lot of the functions and attributes have changed.
LoadCrashDump, PointerSize etc...

Can you please update these samples for the latest bits?
https://github.com/microsoft/dotnet-samples/tree/master/Microsoft.Diagnostics.Runtime/CLRMD

[2020-06-02 15:48] leculver commented on #660
Thanks to @ryanmolden who donated these implementations.  I only adapted the code for ClrMD.

@jwdj Yep, unfortunately baseline memory did go up.  I will say it's not a goal for ClrMD 2.0 to have lower memory usage than 1.1 by default.  Instead the intent is to let the user have a finer control over how much memory ClrMD is allowed to use.  If there's too much memory used, please be sure to look a

[2020-06-03 01:38] ViacheslavAfanasyev commented on #703
I think it's resolved since the tested memory dump contains a lot of threads with no clrstack and it's confused me.

[2020-06-03 01:38] #703 closed

[2020-06-03 07:39] NextTurn commented on #707
@leculver Why not migrate those samples here?

[2020-06-03 07:41] sukesh-ak commented on #707
That makes more sense.

[2020-06-03 08:11] sukesh-ak opened #710 "Need code snippets to repro common production issues"
Super excited to see ClrMD being updated.

I had a written an automated debug analysis tool 9yrs ago and seeing ClrMD update was thinking to bring it back with support for latest .NET versions and using ClrMD as the data source.

I am looking for code snippets to repro common production issues using .NET
This will facilitate in testing and to write sample analysis plug-ins.

The details of the old

[2020-06-03 16:11] nxtn opened #712 "ClrmdModule.SimpleName on Linux sometimes returns magic strings"
[code]

This doesn't look like a bug in ClrMD. Should we ship the API in 2.0 RTM?

[2020-06-03 17:53] leculver commented on #710
Interesting project, I didn't know about it before!

Having a set of code snippets to reproduce common production issues is a fantastic idea, but I don't think I can commit to working on this right now.  Mostly I'm overloaded with work trying to finish ClrMD 2.0, update samples, and do more performance work will probably take me another 2-4 weeks, and ClrMD is only one small part of my overall job

[2020-06-03 18:07] leculver commented on #459
I did a bit of research here.  There's still two problems here:

**Static roots:**  None of the GCRoot code currently favors pinned object handles (including static variables) as it should.  This isn't something that the API guarantees, but it's a _really_ nice property to have since FQ roots and the majority of stack roots are short-lived.  The fix here would essentially be processing all handle

[2020-06-03 18:47] leculver commented on #707
That's for the feedback!  These samples will be updated and merged into ClrMD.  I am tracking that in issue #417, so I'm closing this as a duplicate.

[2020-06-03 18:47] #707 closed

[2020-06-03 18:49] leculver commented on #258
This is tracked via https://github.com/dotnet/diagnostics/issues/1108.

[2020-06-03 18:49] #258 closed

[2020-06-03 18:50] leculver commented on #475
@NextTurn I am not planning to fix this issue before RTM, but can you think of any function name/enum name/etc we should rename before we ship?

[2020-06-03 20:05] leculver commented on #516
I need to fix some of the metadata in it, but this is now published:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime.Utilities

[2020-06-03 20:05] #516 closed

[2020-06-03 20:13] panopticoncentral commented on #516
Thanks!

[2020-06-04 00:52] leculver opened #717 "Make ClrException a class and not a struct"
Before RTM I need to change `ClrException` to be a class and not a struct.  Using `ClrThread.CurrentException` is really weird, and we don't need to construct very many `ClrException` instances.

Edit:  This doesn't apply to `ClrArray`.  I remembered that we store _length and don't recalculate it, so it's fine as is.

[2020-06-04 01:35] #417 closed

[2020-06-04 03:18] #717 closed

[2020-06-04 03:31] NextTurn commented on #475
No good ideas. I haven't had time to visit all public APIs. But super long names like `returnOnlyFullyUniquePaths` won't be what I would prefer. ;)

As for this specific issue, the "size" here was referring to `ModuleInfo.FileSize` which could be a virtual size sometimes. Now the problem has automatically disappeared since we only have `ModuleInfo.IndexFileSize` for PE images.

[2020-06-04 06:56] sukesh-ak commented on #710
This was built while I was at Microsoft. Then we didn't have a good API for data, so had to use SOS as data source but with a Input -Provider model. Now I can replace the Input-Provider with ClrMD without too much change in the tool.

That would be great help!

[2020-06-04 15:59] leculver commented on #475
I'm going to close this issue for now since we don't have a concrete issue outlined here.  Please feel free to open a new one or reply back here if there's an actionable bug related to this.

[2020-06-04 15:59] #475 closed

[2020-06-04 17:40] leculver commented on #548
@alexrp After some further thought here I think I would like to keep the core of ClrMD as purely an inspection API and not offer any mechanism to resume/pause processes outside of the initial attach and detatch.  However, ClrMD still supports your scenario of wanting to pause/resume processes at will, but you have to supply the code to do that yourself.

I think there are two options forward:

1.

[2020-06-04 17:48] leculver commented on #548
@alexrp After some further thought here I think I would like to keep the core of ClrMD as purely an inspection API and not offer any mechanism to resume/pause processes outside of the initial attach and detatch.  However, ClrMD still supports your scenario of wanting to pause/resume processes at will, but you have to supply the code to do that yourself.

I think there are two options forward:

1.

[2020-06-04 17:50] #548 closed

[2020-06-04 17:59] leculver commented on #485
With the amount of trouble I'm having getting our CI system to do the most basic things I don't want to try making this work again until I have tests running back in the system.  I'm going to close this issue so there's not a lot of open issues around that aren't immediately actionable, but I'm happy to revisit this in the future or look at PRs for this as soon as tests are working again.

[2020-06-04 17:59] #485 closed

[2020-06-04 18:00] leculver commented on #627
The underlying issue of stackoverflow exceptions no longer happens.  It's still true that we could do better here, but since there's no immediate actionable bug here I'm going to close this issue.

[2020-06-04 18:00] #627 closed

[2020-06-04 18:15] leculver commented on #697
@mikem8361 How far along are you on the os x dump writer support?  I have a mac laptop at home.  My plan here is to finish this work and support os x as soon as your work goes into the dotnet runtime.

[2020-06-04 18:17] leculver commented on #614
We are still on track here.  I will be publishing the final 2.0 RTM build around 6-10pm PST tomorrow (6/5/2020).

[2020-06-04 18:30] mikem8361 commented on #697
The OSX dump writer isn't really in-plan for 5.0 createdump.  We didn't have the bandwidth to do it and a macos reader in clrmd which is why we chose the ELF coredump route. It looks like there is a lot more progress made on the clrmd reader side than I thought or know at the time, but the 5.0 code complete dead lines are coming and I still have runtime work to finish the createdump support (see [

[2020-06-04 22:05] leculver opened #723 "Investigate RCW/CCW perf"
@ryanmolden Reports that the fix to IsCCW/IsRCW isn't as fast as I claim.  =)

[2020-06-04 22:16] ryanmolden commented on #723
Technically I didn't call those functions, I just called GetComCallableWrapper (and if it returned null) GetRuntimeCallableWrapper across every item in the talkexample5.dmp heap (~24 million items), excluding ones that were arrays or were boxed values (didn't eliminate that many). With my 'check the object header bits before calling the function' approach my end to end time was 2 minutes (that inc

[2020-06-04 22:17] ryanmolden commented on #723
This is also in a parallel enum of gc heap segments, if there are any locks or other safety stuff going on in there

[2020-06-04 22:30] leculver commented on #723
I'll take a look as soon as I have the basic benchmark project up and running.

[2020-06-05 01:14] leculver opened #727 "OOM when calling Flush"
The new data readers in ClrMD currently have a concurrency issue which causes some memory leaks under extremely heavy load.  This seems to happen primarily when ClrMD is used from multiple threads, with a smaller than default cache size, and under heavy usage.

This is my top priority to fix.

[2020-06-05 01:30] NextTurn commented on #485
This will not progress in the short term. No one is actively looking at dotnet/arcade# 1946 or related issues.

[2020-06-05 20:37] leculver commented on #727
Contributes to https://github.com/microsoft/clrmd/issues/727.

[2020-06-06 02:32] leculver commented on #614
I have published ClrMD 2.0 here:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.130507

However, I spent a lot of the week stress testing the runtime and I found an issue with the current implementation where we can leak memory in a very specific scenario: https://github.com/microsoft/clrmd/issues/727.  I ran out of time this week to get this fixed but I'll be working on it firs

[2020-06-06 02:32] #614 closed

[2020-06-06 02:55] leculver commented on #311
Thank you to everyone who contributed here.  I've released ClrMD 2.0 today:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.130507

I'm tracking one major issue that I ran out of time on: #727.  I'll be tackling it first thing Monday.

[2020-06-06 10:35] jwdj opened #735 "Determining static var roots"
@leculver, @NextTurn  First of all, congratulations on releasing ClrMD 2! A lot of effort went into it.

With ClrMD 1.1 there used to be much more roots. You could see the static variables. How do you find the static variabeles in ClrMD 2.0?

I think it is more informative to know which static variable is holding on to an object than to know it is a pinned handle.

[code]

[2020-06-06 11:10] NextTurn commented on #735
#### v1

`ClrHeap.EnumerateRoots(enumerateStatics: true)`

#### v2

In order to find all static variables, just enumerate all non-zero values of all non-primitive static fields of all types, in all app domains.

[code]

[2020-06-06 20:36] jwdj commented on #735
@NextTurn Thank you for your swift response and helpful example. I don't mind v2 is more elaborate while v1 did more under the hood. It helps in understanding the way managed memory (and static vars in particular) is structured. Closing this issue.

[2020-06-06 20:36] #735 closed

[2020-06-06 20:37] paulomorgado commented on #311
@leculver, is there any announcement of this? Blog post? Docs?

[2020-06-06 21:59] leculver commented on #311
@paulomorgado Not yet.  This is more of a soft release.  I'm trying to get #727 wrapped up before I make any big posts about it.  I _think_ that issues is only relegated to a narrow usage of ClrMD but I really want to get it fixed next week before making any big announcement.

It's fine to blog/post about it yourself though.  I just haven't had time to see if CLR wants to do a post about it.

[2020-06-06 22:04] leculver commented on #735
@jwdj Please feel free to open more issues to ask questions if you run into trouble in the future.

FYI, I've moved a lot of things that were super slow or in some way hacky out of the library.  I haven't decided whether I will add them to the "Utilities" library or not, but I just haven't had time to make the decision and then implement it.

Enumerating all types in all modules is one of those th

[2020-06-07 10:54] 0blu opened #736 "Allow more ways to create a DataTarget not just by filename"
Hey,
after looking into the code a bit, I've noticed that only the _isTinyDump_ in `Minidump` with `MemoryMappedFile.CreateFromFile` requires a real `FileStream`, all other segments are using a normal `Stream`.
Would it be possible to remove the `FileStream` restriction and `File.Exists(crashDump)` from the code in favor of a new additional factory like `DataTarget.LoadFromStream(string displayNam

[2020-06-07 14:47] NextTurn commented on #736
Ideally `LoadDump` could accept a `Stream`, an `ImmutableArray<Byte>` or even a `Byte*` just like what `PEReader` does.

[2020-06-07 17:12] sukesh-ak opened #737 "What happened to GCHeap.EnumerateTypes from old ClrMD version"
In the documentation of [Enumerating all types](https://github.com/microsoft/clrmd/blob/master/doc/TypesAndFields.md), it talks about GCHeap.EnumerateTypes.
What did it translate to in v2?

Few more references are there...
GCHeap.EnumerateTypes
GCHeapStaticField
GCHeapThreadStaticField

[2020-06-08 14:54] chrisnas commented on #660
Thanks for the release @leculver!
I planned to start my first tests last week as you asked for but unexpected investigation came up... So I'm only able to start testing today with a simple count of strings in a 64 bit heap of a 20 GB dump file and I still see large (**x4**!!) difference between 1.1 and 2.0 in term of duration (and size but expected with the new cache mechanism that goes up to 4GB)

[2020-06-08 16:36] sukesh-ak opened #741 "How to use the debugger in the package for native windbg commands"
I need to run native Windbg commands with ClrMD code for some automated analysis. Since debugger (DebugClient) and other required functions are already implemented and available in the package, can it be made available on the surface?

Usage would be something like
`using (DbgEngine dbg = new DbgEngine()) {

dbg.OpenDump(dumpfilepath, symbolpath);
string output = dbg.Execute("~"); // Any windbg co

[2020-06-08 16:49] leculver commented on #741
Here's example code, it's not super polished but it works in what I use it for.  You might want to actually care about the DEBUG_OUTPUT mask as you'll get symbol load and other output in the current form here:

[code]

[2020-06-08 16:49] #741 closed

[2020-06-08 16:53] leculver commented on #741
I'm sorry I misunderstood your question at first glance.

If you include the "Microsoft.Diagnostics.Runtime.Utilities" project then you get all of the IDebugClient interfaces.

Get a raw pointer using the `DebugCreate` win32 function (clrmd source has examples of this I think).  You then have to create ClrMD using that pointer with `DataTarget.CreateFromDbgEng`.  That will give you `IDebugClient`

[2020-06-08 16:55] sukesh-ak commented on #741
Thank you @leculver
Will take a look at it and revert soon.

[2020-06-08 17:23] #737 closed

[2020-06-08 17:25] leculver commented on #737
I've updated the FAQ to answer most of these questions in #742.  Note that "TypesAndFields.md" was out of date and intended to be deleted.  That document has been entirely subsumed by "GettingStarted.md".  Please be sure to read through all three items here, which are now up to date:  https://github.com/microsoft/clrmd/tree/master/doc.

Though it's possible I missed a section that might need updat

[2020-06-08 17:29] leculver opened #743 "ClrMD 2.0 RTM questions and feedback thread"
Hello!

If you find a bug in ClrMD 2.0 please open a new issue to track it.  If you just have a question or feedback about ClrMD 2.0 please feel free to leave it here instead of creating a new issue or scattering the feedback among other places.  This will help me keep track of all questions in one place for a week or two while I stabilize the library and its uses.

Please be sure to read the FAQ

[2020-06-08 17:37] leculver commented on #660
@chrisnas I just opened https://github.com/microsoft/clrmd/issues/743, would you mind posting updates there?  There's a lot of feedback all over the place so it would help me not miss any questions or feedback. =)

Happy to keep chatting here and always feel free to open a new issue, but I'm worried I'll miss a message here.

It's entirely possible that the new code fixes bugs we didn't even know

[2020-06-08 18:03] #736 closed

[2020-06-08 18:33] jwdj commented on #743
@leculver Will ThreadStaticFields be available again?
I'm interested in what static fields hold on to objects and I could not find a way to access the static vars in TLS.

[code]

[2020-06-08 18:54] leculver commented on #743
Were you actually getting real results out of the code you enumerated above?  There were only certain places that would work and produce anything...  I tended to not trust the thread static results at all.

Eventually, yes.  It's all a matter of when I have time to go do that.

Though a warning, it's also possible it'll only work correctly in .Net Core.  Keep in mind the underlying problem here is

[2020-06-08 19:06] jwdj commented on #743
@leculver Thank you for your swift response. No I did not test the results. The code was from the 1.1 docs. I can understand that .NET Framework will only receive security fixes. But some things are just more simple in .NET Framework. Making a 32 bit application Large Address Aware for instance, is just a matter of specifying AnyCPU and Prefer 32 bit, while on .NET Core you must write a script to

[2020-06-08 20:51] leculver commented on #743
Yep, I understand.  I'm just trying to set some expectations about why threadstatics aren't working and where we can realistically fix the issue.

[2020-06-09 07:26] chrisnas commented on #660
I just tried to find the "right" place for this @leculver  :^)
I'll create a bug next time (if a non closed one does not exist) to make it easier for you to follow-up

[2020-06-09 16:17] leculver commented on #660
@chrisnas No worries!  I just wanted to make 100% sure I didn't miss anything.  =)

[2020-06-10 08:06] sukesh-ak commented on #741
Got this working! Thanks

[2020-06-10 08:12] sukesh-ak commented on #743
@leculver How to get only ClrThread with managed code running, while walking the stack?
something like thread.IsManaged ?

I want to either ignore Native only threads or use dbgeng directly to show native threads.

[2020-06-10 08:19] NextTurn commented on #743
https://github.com/microsoft/clrmd/blob/fb7948ab1502140d25ffe5b2da8a7caa1227dd7a/src/Microsoft.Diagnostics.Runtime/src/Common/ClrThread.cs#L10-L11

`ClrThread` always represents a manged thread. You need to enumerate the stack trace to see if a running frame is a managed one.

[2020-06-10 08:28] chrisnas opened #746 "ClrMD 2.0: Missing access to ThreadPool details"
ClrRuntime does not expose ClrThreadPool ThreadPool anymore.
Note that GetThreadPoolData is available at SosDac level but does not seem to be called.

[2020-06-10 08:49] sukesh-ak commented on #743
Was looking for a way to filter out the threads like below while enumerating all managed threads.

Thread 5368
    000000a8a6afeee0 00007ffb64e86b93

OS Thread Id: 0x5368 (3)
        Child SP               IP Call Site

[2020-06-10 11:50] chrisnas opened #747 "ClrMD 2.0 : Missing IsThreadpoolCompletionPort and IsThreadpoolWorker ClrThread properties"
The ClrThread type does not provide IsThreadpoolCompletionPort and IsThreadpoolWorker properties.
Note that the corresponding ThreadType_Threadpool_IOCompletion and ThreadType_Threadpool_Worker values are available in the TlsThreadType enum (ClrmdThread.cs).

With the current CoreClr Linux implementation, the difference does not really make sense because I/O completion is processed by the ThreadPo

[2020-06-10 12:52] raffaeler opened #749 "Compiling the TestTargets.proj failed"
I would like to run the tests, in order to contribute to the Utilities project.
After cloning the project, I restored and built the binaries successfully, but running the test batch fails.
Other tests I did:
- compiling from VS is ok, but all the tests are failing because the dmp files cannot be found
- I run `dotnet build TestTargets.proj` to  create the artifacts (dmp files) but it also failed

[2020-06-10 17:36] sukesh-ak opened #750 "ToString Format mismatch in MemoryRange.cs"
Braces mismatch in the below function. Just a typo.

Opening with square braces and close with normal one here
public override string ToString() => $"[{Start:x},{End:x}**)**";

[2020-06-10 20:51] #750 closed, assigned to nobody

[2020-06-11 01:47] leculver commented on #749
Yep I accept pull requests in the utilities project, though it needs to be broadly usable by other people.

Feel free to submit any PR that you like, but if you are thinking of implementing a really large feature or pull request recommend opening an issue before you do the work to chat about the api and design.  That way if there's issues or I don't think it fits with the library then you'll know

[2020-06-11 01:47] #749 closed

[2020-06-11 06:29] sukesh-ak commented on #750
Braces mismatch like below output. Not sure if you understood.

Ephemeral object range: [1d1445a1000,1d14477ffe8)
committed memory range: [1d1445a0000,1d144782000)
reserved memory range: [1d144782000,1d2445a0000)

[2020-06-11 06:34] NextTurn commented on #750
We don't call them braces. `[` is a (square) bracket which specifies an inclusive address, `)` is a parenthesis which specifies an exclusive address.

[2020-06-11 12:25] raffaeler opened #753 "Finding the offset for native symbol"
I am referring to [this thread](https://github.com/dotnet/runtime/issues/11157) to find which ALC (AssemblyLoadContext) is hosting a ClrObject which is (IMO) a fundamental scenario in .NET Core.
As shown in that thread, the ALC can be retrieved only following a couple of native pointers in the vtable of two native classes.

I was successful in using ClrMD to get the needed information, but unfortu

[2020-06-11 12:53] NextTurn commented on #753
A built-in PDB reader has been removed in 2.0 and it's unlikely that we'll have a new one in ClrMD's core library.

[2020-06-11 12:59] raffaeler commented on #753
Got it.
As far as I know PDBs must be in Portable format to be accessed cross-platform. I guess this is the reason for that decision.
As long as the PDB is in portable format, ho can I get the module and the symbol file to use an external PDB reader?

[2020-06-11 13:05] NextTurn commented on #753
how can I get the module and the symbol file to use an external PDB reader?

Not sure if this answers your question. [`PEImage.DefaultPdb`](https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/Utilities/PEImage/PEImage.cs#L169) can provide information about the PDB file and [`DataTarget.BinaryLocator`](https://github.com/microsoft/clrmd/blob/17bea31ca88e89ec695b2b20

[2020-06-11 13:07] raffaeler commented on #753
I already tried but `PEImage` throws an first-chance `NullReferenceException` and later always returns null.

[2020-06-11 13:09] NextTurn commented on #753
Well, every time you see a `NullReferenceException` there must be a bug somewhere. Could you show the stack trace?

[2020-06-11 13:22] raffaeler opened #754 "First-chance NullReferenceException inside ModuleInfo.GetPEImage"
The following is the code found in [ModuleInfo.GetPEImage](https://github.com/microsoft/clrmd/blob/e37d17c4a4189cdf50c8432ea33a27007604b4cf/src/Microsoft.Diagnostics.Runtime/src/Common/ModuleInfo.cs#L50)
[code]
The problem is that `ModuleInfo.DataTarget` is null.
The generated exception is catched, but it can be definitely avoided.

[2020-06-11 13:23] raffaeler commented on #753
Logged this issue, easy to fix. I can do it, but I have an outstanding PR, so I will wait before creating another branch.
https://github.com/microsoft/clrmd/issues/754

[2020-06-11 13:25] weltkante commented on #753
Are you sure C/C++ code produces portable PDBs? I thought only Roslyn (and other managed compilers) did ...

[2020-06-11 13:28] NextTurn commented on #754
Are you using `ModuleInfo`s directly from `IDataReader.EnumerateModules()`? The `DataTarget` property hasn't be initialized at that time because the data readers don't keep references to the `DataTarget`... Using `DataTarget.EnumerateModules()` can prevent this problem.

[2020-06-11 13:39] raffaeler commented on #754
Yes this is the case, thanks
Anyway, the DataTarget property should be checked instead of throwing.

[2020-06-11 13:41] raffaeler commented on #753
@weltkante afaik portable pdbs are .net core only.
I was just trying to guess the reason why the pdb reader was removed. In fact I wrote about using an external reader.

[2020-06-11 13:50] NextTurn commented on #743
@leculver All implementations of `IBinaryLocator`s don't work with build IDs. Is this going to be implemented in the future?

[2020-06-11 15:43] leculver commented on #743
Yes they are intended to be implemented in the future.

[2020-06-11 15:46] leculver commented on #746
The Threadpool works completely differently in .Net Core than it does on desktop CLR.  Most of the functions that the old ClrMD threadpool code exposed (including the dac functions) don't produce the right answers anymore.  I'd like to add this back at some point (and plan to) but it will be a lot bigger than just porting the old 1.1 code...I'll need to go dig through new implementation and see wh

[2020-06-11 16:45] mikem8361 commented on #743
@leculver Are you going to use Micrsoft.SymbolStore in the symstore? It is one-stop shopping for symbol server index generation for all the platforms and has code to do the downloading, caching and directory searching.

[2020-06-11 18:21] leculver commented on #743
@mikem8361 That's probably the best course of action.  Why isn't it on NuGet?  (Or am I searching wrong?)

[2020-06-11 18:45] leculver commented on #727
I've tracked this down to benchmarks calling `ClrRuntime.FlushCachedData`.  There were a few reasons why SOSHandleEnume would leak memory.  Some are fixed in #756 and some are only worked around because parts of the leak are unavoidable.

[2020-06-11 18:54] #727 closed

[2020-06-11 19:19] mikem8361 commented on #743
It isn’t on nuget.org but in the dotnet-tools feed (https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json). Your NuGet.config already has that feed. The latest version is 1.0.130801. You can set up a DARC subscription to update the version automatically when symstore gets updated like the diagnostics repo does. Juan can help you setup the subscription.

[2020-06-11 20:35] leculver commented on #753
I think this question was answered, so I'm closing, please let me know if there are still open questions here.

In short:  ClrMD doesn't have a PDB Reader by design now, but you could add one of the existing ones out there to your project.  ClrMD doesn't support reading native offsets, so in order for you to accomplish what's outlined in https://github.com/dotnet/runtime/issues/11157 you will need

[2020-06-11 20:35] #753 closed

[2020-06-11 23:21] Ne4to commented on #671
Reproduced on v2.0.130507

[2020-06-13 19:10] raffaeler opened #760 "Saving snapshots"
How can I save a snapshot to a dump file?
The idea is to monitor an app by snapshotting the process when 'something happens' (trace events, etc.).
If the snapshot contains something 'weird', it would be very useful to save the snapshot to a dump file for further investigation.

[2020-06-16 12:46] raffaeler opened #762 "Dumping the stack of managed threads"
I often can't get the managed stack for the code being executed either by attaching a process or snapshotting it.
The threads are enumerated correctly by enumerating `ClrRuntime.Threads`. For each one of them I then call `EnumerateStackTrace` obtaining the stack frames represented by a `ClrStackFrame` list.
In very few cases I am able to see the real stack trace being executed at the snapshot/atta

[2020-06-16 18:39] leculver commented on #762
Is this on Windows or Linux that you are seeing this?  Those are two very different codepaths.

[2020-06-16 18:41] raffaeler commented on #762
I am seeing this on Windows x64, but I am interested in understanding the problem for other platforms as well.
Thanks

[2020-06-16 18:52] leculver commented on #762
There may be a bug here, or it may be expected.  Here's a quick description of when it would be expected:

ClrMD uses clr's stackwalker to attempt to unwind the stack.  By design, if the CLR stackwalker encounters a non-managed instruction pointer in the `eip` or `rip` register it assumes that we have normally exited managed code and put a `clr!Frame` on the stack.  It will attempt to look for tha

[2020-06-16 18:55] leculver commented on #760
This is a great suggestion, but a little tricky to implement.  I have a specific design in mind to make this work, but I can't start work on it for a day or two.

[2020-06-16 18:55] leculver commented on #754
Thanks!  This is definitely a bug.  I will take a look at this later in the week.

[2020-06-16 18:59] raffaeler commented on #762
Got it. Take your time and let me know if you need help to repro the issue.
Let's say I try this operation 20 times, I can see the real stack just one or two times.

I suspect it is a bug because, even if I was working on a snapshot, enumerating two times the threads and the stack frames, I saw different results: the first time I could see the stack, the following times I could only see `DebuggerU

[2020-06-16 19:20] raffaeler commented on #762
Additional notes:
- I can always see the correct stack trace for the main thread (the one who run the asp.net core machinery).
- The long-running thread is pure CPU (dumb primes computation) with no async stuff in the middle, and started from a request in an API controller (over which I have no control, but I do not expect that to be special)

[2020-06-17 20:36] mikem8361 commented on #676
We may want to reconsider reopening because on MacOS process/threads id do and can get larger than an uint.  I forgot/did know this at the time.

[2020-06-19 16:47] leculver opened #771 "Add `DataTarget.SymbolPath` or `IBinaryLocator.SymbolPath`"
The symbol locator implementation was intentionally marked internal, but there still should be a way to set the symbol path other than setting _NT_SYMBOL_PATH.  I also need to go do symbol resolution on Linux as well, so I will likely roll that change into this too.

[2020-06-19 20:49] sukesh-ak commented on #771
Ideally DataTarget functions should have a overload with SymbolPath parameter.

DataTarget.AttachToProcess
DataTarget.CreateFromDbgEng
DataTarget.CreateSnapshotAndAttach
DataTarget.LoadDump

[2020-06-19 20:53] sukesh-ak commented on #762
I got dumps with [DebuggerU2MCatchHandlerFrame] on the stack.

Atleast ClrMD & Windbg (using SOS) shows the same output.

[2020-06-22 12:48] holc-tkomp commented on #311
Maybe more of a general feedback, but I'd like to mention that this repo is quite scarce in tags and releases and there was no new tags/releases since Dec 19, 2019 (2.0.0-beta.19618.7).

Mentioning this, as having tags and releases makes it easier to compare what changed between two selected versions, and that's  actually what I'm doing right now - reviewing what changed between 1.0.5 and 2.0.2 an

[2020-06-22 17:40] holc-tkomp commented on #735
+1 to need of finding static "roots". For the moment I'll go with @NextTurn's solution I suppose.

[2020-06-22 17:43] holc-tkomp commented on #735
Extensions library? Adding `ClrHeap.EnumerateStaticObjects` extension method?

[2020-06-22 19:01] sdmaclea opened #774 "32-bit ELF Core target not compliant with CLRDATA_ADDRESS interface contract"
Per @mikem8361 & @hoyosjs for 32-bit targets the baseAddress is supposed to be sign extended by the caller.

When reading from an ELF Core dump this contract is not being followed.  When loading memory from the core dump with the sign extended address.  The target fails to load the correct address from the core dump.

We are currently consuming 1.1 for dotnet-dunp analyze.  This is breaking 32-bit

[2020-06-22 20:18] leculver commented on #774
Which exact function do you mean?  Is there a repro?  Sign extension issues are very prevalent all throughout ClrMD 1.1.  I'll need to know which functions or properties you are seeing this with.

[2020-06-22 21:53] sdmaclea commented on #774
There is no documentation mentioning sign extended in the unmanaged api docs.

https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/common-data-types-unmanaged-api-reference

https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/debugging/iclrdatatarget-readvirtual-method

[2020-06-22 21:56] sdmaclea commented on #774
@leculver

The issue I observed was with an ELF core dump.  Using IDataTarget.  These APIs
[code]

I made a targeted fix for `CoreDumpReader`.

[code]

I could move it up a few layers to make it more generic...

[2020-06-22 22:13] sdmaclea commented on #774
This is the root cause of https://github.com/dotnet/diagnostics/issues/1255

[2020-06-23 03:08] NextTurn commented on #676
https://github.com/apple/darwin-xnu/blob/a449c6a3b8014d9406c2ddbdc81795da24aa7443/bsd/sys/proc_internal.h#L639

For reference: https://apple.stackexchange.com/questions/51119/whats-the-maximum-pid-for-mac-os-x

[2020-06-23 03:32] NextTurn commented on #311
v1 and v2 are almost two different products. Did you plan to review changes like this:

![image](https://user-images.githubusercontent.com/45985406/85357853-de49bf00-b544-11ea-9a0b-a45cf62a4ae9.png)

[2020-06-23 14:19] holc-tkomp commented on #311
Only a somewhat yes, with different points (`1b71d7e` as 1.0.5 and `009f61a` as 2.0.2), but I don't want to focus on checking every single commit, especially that a lot of the stuff I'm probably interested in, was in PRs for `testing/2.0`, which on master is just one big squashed commit ([Merge testing/2.0 into master (#400)](https://github.com/microsoft/clrmd/commit/b529bfb7a8d69ec1ff51d3cdfd807d

[2020-06-23 14:24] raffaeler commented on #311
@holc-tkomp IMO it is far simpler to face the differences one at a time.
I did it in my library and it didn't take much time to make the required changes.
Of course, I may have not used things that you require in your project, so I don't want mine to be a general statement.

I found easier to "navigate" the object model and in fact I build some Linq Extensions that easily allows to query ClrObject

[2020-06-23 15:14] holc-tkomp commented on #311
Same here, unfortunately our product uses some features, that were considered too slow and/or not necessary and/or buggy, thus got removed.

I'm trying to do so as well, but while fixing some of the missing type/member due to 1.1->2.0 changes are as simple as changing `ClrRoot` to `IClrRoot`, others are a bit tricky, such as detecting whether the root is a root of a static variable, and for some I

[2020-06-23 15:33] raffaeler commented on #311
It mostly depends on the queries complexities, but if you avoid ToList/ ToArray, you should not suffer from a big overhead. Of course you have to be very careful in grouping as well.

If they are not trivial, I would open an issue for each of that clearly marking the issues as migration problems. At least they will remain as suggestions for others as soon as they are resolved either from MS or fro

[2020-06-23 19:37] leculver commented on #774
I've added a few thoughts about the problem in the pull request.  We'll need to go a different direction in 2.0 to fix this, but I'm fine with the proposed spot-fix in 1.1.

[2020-06-23 19:41] #774 closed

[2020-06-24 00:04] mikem8361 commented on #676
Yes, it looks like process ids are uint/32bit but thread ids on MacOS are not. From Leandro Pereira who changed the runtime PAL get current thread id functions to return 64bit ids:

I don’t know what’s the deal with the Process and Thread IDs in MacOS.  On Linux, there seems to be a relationship between them.  On MacOS, they seem to be different kinds of animal (pid_t is 32-bit for instance: https

[2020-06-24 00:33] leculver commented on #676
I'll make the change in ClrMD 2.1.

[2020-06-24 00:39] leculver commented on #311
I realize this is confusing but this issue was originally for planning ClrMD 2.0, the current feedback thread is https://github.com/microsoft/clrmd/issues/743.

I'm locking this to avoid further confusion and will reply back there.

[2020-06-24 00:54] leculver commented on #743
@holc-tkomp Some replies to your feedback in a parallel thread:

In a perfect world I'd be more on top of the bookkeeping for ClrMD, but I find that's not my strong suit.  Unfortunately, anything which adds additional inertia to releasing versions of ClrMD generally means I'll simply be less likely to make changes to the library and release them.  Keep in mind that ClrMD is maybe 5-10% of my overa

[2020-06-24 11:30] holc-tkomp commented on #743
No, I get it.

I'm just looking into if upgrading to 2.0 is worth it for us. The major value of upgrading to 2.0 would be some of the bug fixes and improvements, which are unfortunately not available in 1.1.

But on the other hand we've used quite a bit of functionalities that are now gone and that renders upgrading and making the app behave as before (show the same results) quite a time consuming

[2020-06-24 14:40] leculver commented on #743
You are welcome to put those here too (creating new issues is fine as well).  Happy to answer questions as you have them.

[2020-06-24 14:51] sukesh-ak commented on #743
@leculver
Can we distribute dbgeng.dll, dbghelp.dll, symsrv.dll & srcsrv.dll (from windbg package) with the tool we create using ClrMD?
The ones which comes with the OS is not updated frequently thus the question.
Any public documentation on the distribution policy of these files?

btw, I pushed out the debugger using ClrMD 2.0 here
https://github.com/sukesh-ak/AutoDebug

[2020-06-24 15:43] leculver commented on #743
@sukesh-ak I have passed your question along to the dbgeng team.  Hopefully they will reply back here.

[2020-06-24 16:15] aluhrs13 commented on #743
Yep, you can redistribute some debugger binaries from the SDK/WDK. You can find the list here - https://docs.microsoft.com/en-us/legal/windows-sdk/redist if something you need to redist isn't on that list and you have a good reason, you can reach out to me.

[2020-06-24 16:29] sukesh-ak commented on #743
Thank you @aluhrs13
This is the link I was looking for. It mentions about the files I need.

[2020-06-25 14:28] holc-tkomp commented on #408
I was wondering a bit about retrieving the actual types of generic parameters (`[System.Int32, System.Double]`, rather than `[T1, T2]`) and I wonder if it's proper that `MetadataToken` for instances of generic types is actually `TypeDef` token, rather than `TypeSpec` token.

Note that it isn't a bug in ClrMD, as WinDbg (`!DumpClass`) already shows it like this, but I wonder if it's expected behavi

[2020-06-28 21:35] Symbai opened #779 "Please add information on how to upgrade from v1"
The [release notes](https://github.com/microsoft/clrmd/blob/master/doc/ReleaseNotes2.0.md) list changes but not API changes. I wanted to upgrade from v1 and noticed a lot of compiling issues I have no idea how to fix them so I get the same result as before:

`DataTarget.AttachToProces`s => `AttachFlag` is gone. Why? And what should I use now when I was previously using `AttachFlag.Passive`?
`ClrIn

[2020-07-30 17:32] chrisnas opened #786 "Impossible to get an element with ClrArray GetObjectValue() + it crashes when the item is a value type"
The ClrArray type should provide methods to get the item at a given index, being a reference type or a value type. As of today, only the former is possible (but broken) with GetObjectValue().

The ClrArray.GetObjectValue() implementation is supposed to return a ClrObject (i.e. the item type must be a reference type) but the test is on the array type itself
[code]

The second issue is related to th

[2020-08-04 23:20] AArnott commented on #743
I'm trying to update to 2.0 in https://github.com/microsoft/vs-threading/pull/649. The breaking API changes are not obvious to fix and I wonder if you can give some guidance on where to find substitute APIs. Here are the missing APIs that are hitting me (with some filled in to help others):

1.x API | 2.x API
--|--
`ClrValueClass` | `ClrValueType`
`ClrObject.GetField<T>` | `ClrObject.ReadField<T>`

[2020-08-05 00:52] NextTurn commented on #743
@AArnott

[code]

| 1.x API | 2.x API |
| ------- | ------- |
| `ClrHeap.ReadPointer` | `DataTarget.DataReader.ReadPointer` |
| `ClrThread.EnumerateStackObjects` | `ClrThread.EnumerateStackRoots` |
| `IDebugClient` | `M.D.R.I.IDebugClient` |
| `IDebugControl` | `M.D.R.I.IDebugControl` |
| `DEBUG_OUTCTL` | `M.D.R.I.DEBUG_OUTCTL` |
| `DEBUG_OUTPUT` | `M.D.R.I.DEBUG_OUTPUT` |
| `DEBUG_EXECUTE` | `M.D

[2020-08-05 02:12] AArnott commented on #743
Thanks, @NextTurn. When will M.D.R.I. be released as a stable package? It will be a problem for my package to pick up an unstable dependency for long.

[2020-08-05 02:14] NextTurn commented on #743
Ping @leculver. The latest *Microsoft.Diagnostics.Runtime.Utilities* package is still a RC.

[2020-08-05 15:10] leculver commented on #743
Sorry for the delay, I was out sick yesterday.

The utilities package shouldn't be an RC.  I'll ship a new one this week that's not RTM.  There's no difference between the version out now and the one I'll ship that's not marked -rc, so you can go ahead and do that work without fear of it breaking.

This is now `DataTarget.CreateFromDbgEng`.  The old method was ambiguous as to what debugger we were

[2020-08-05 15:12] AArnott commented on #743
Thanks, @NextTurn  and @leculver.

I'll assume that was a typo and that you'll actually ship an "RTM" verison. :)

[2020-08-05 17:03] sukesh-ak commented on #743
@AArnott I have a sample of using DataTarget.CreateFromDbgEng [here](https://github.com/sukesh-ak/AutoDebug/blob/1fd08bfe50ca69720c0320cebc50fd162fcc262e/AutoDebug/DbgEngine.cs#L61) if it helps.

[2020-08-05 17:46] leculver commented on #743
Yes, correct.  I'm still a little foggy today, sorry about that.  =)

[2020-08-05 20:08] AArnott commented on #743
Thanks for the offer, @sukesh-ak. I have completed the upgrade and the testing looks good.

[2020-08-13 20:23] leculver commented on #754
Finally getting back around to clrmd work.  The underlying issue here is I exposed the wrong property.  `ModuleInfo` has a `DataTarget` property which should not be there.  I meant to expose an `IDataReader` parent, not `DataTarget`.  I've had to mark some of this obsolete but at minimum a build will be out this week to fix it.

[2020-08-13 20:31] leculver commented on #786
I think this was resolved in NextTurn's checkin.  Please let me know if that's not the case.  (New build should be out in a day or two containing this fix, it's not in NuGet yet.)

[2020-08-13 21:10] #754 closed

[2020-08-18 12:28] chrisnas opened #798 "BUG: RuntimeBuilder.GetMethodDesc always return 0"
The implementation of [IRuntimeHelpers.GetMethodDesc()](https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/Builders/RuntimeBuilder.cs#L690) is always returning 0.

The following implementation seems to work:
[code]

[2020-08-18 16:24] chrisnas commented on #786
It works like a charm for reference types @leculver :^)
However, I don't see a way to get a ClrValueType from an array element with today's code.
I will write a pull request soon for a ClrArray.GetStructValue(int index) method (the code works fine in my tests - int and custom value type)

[2020-08-18 17:51] #798 closed

[2020-08-18 22:28] leculver commented on #786
This was one of the last bits of work that I didn't finish before ClrMD 2.0 went out the door.  I just haven't circled back to it yet.  If you have time to submit a pull request that'd be great, but otherwise it'll have to wait until I can get around to it.  I have a lot of projects going on that are taking up a lot of time.  =/

I've reactivated this to track it.

[2020-08-19 20:21] ryanmolden opened #806 "CLRMD apparently missing inner classes when demangling names for types"
[code]

Output of last WriteLine is true that all three distinct ClrType (distinct by method table) name's match, but looking at the same method tables in SOS using !dumpmt they do not match.

I will send you an email with the dump location for the dump used in the repro above.

[2020-08-20 15:14] #786 closed

[2020-08-20 21:20] ryanmolden commented on #806
Also add this to the 'difference' list, not sure who is right here, CLRMD or SOS (method table is 0x2B5DE20C, same dump)

CLRMD: 0x2B5DE20C = System.Linq.Enumerable+<ReverseIterator>d__75<System.Object>
  SOS: 0x2B5DE20C = System.Linq.Enumerable+d__75`1[[System.Object, mscorlib]]

It looks like it is the auto-created object for a yield enumerable inside the static Enumerable.ReverseIterator<T> met

[2020-08-24 14:29] AArnott opened #812 "Mismatched dac. Dac version: 4.8.4180.0, expected: 0.0.0.0."
Using Microsoft.Diagnostics.Runtime 2.0.137201...

With no changes to our source code, it seems that our windbg extension has stopped working. It now throws:

From this line:

https://github.com/microsoft/vs-threading/blob/7614a11d98a9a57e1c2de47381c3d46e426ad0d8/src/SosThreadingTools/DebuggerContext.cs#L75

If I change it to:

[code]

The exception changes to:

Did the .NET Framework just get pat

[2020-08-24 22:34] leculver commented on #812
I have a fix for this in PR #813.

We call GetModuleVersionInformation twice.  The first time to get the size required (with a null buffer), and the second time to obtain it.  This has test coverage, in our testbed this succeeds just fine.  However when using the crash dump you gave me offline, this first call fails for some unknown reason.  I'm not sure if this is dbgeng weirdness, bug, or someth

[2020-08-25 00:44] #812 closed

[2020-08-25 19:24] leculver commented on #812
@AArnott Shipped here:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.142501

[2020-09-02 07:56] loop-evgeny opened #822 "Better document the "undefined" behaviour of attaching to an unsuspended process"
The xmldoc for `DataTarget.AttachToProcess` says

This is a very important use case for us - being able to attach to a running process *without* suspending it is precisely what makes ClrMd useful for getting stack traces in production, where we cannot afford to suspend the process long enough to analyse it or create a dump. In my testing this seems to work just fine. It would be great to better do

[2020-09-02 17:22] leculver commented on #822
Please note that ClrMD is designed to be a debugging api, not a profiling API.  This scenario is why I created the [CreateSnapshotAndAttach](https://github.com/leculver/clrmd/blob/60be1e1302c74f0c415a9e71d3b75d779936e17d/src/Microsoft.Diagnostics.Runtime/src/DataTargets/DataTarget.cs#L389) entrypoint, and that's what is supported for the scenario you are referring to.

The unfortunate nature of st

[2020-09-02 17:22] #822 closed

[2020-09-03 10:30] dailongchen opened #823 "Need to access method info even without binary"
https://github.com/microsoft/clrmd/blob/60be1e1302c74f0c415a9e71d3b75d779936e17d/src/Microsoft.Diagnostics.Runtime/src/Builders/RuntimeBuilder.cs#L1299

In Clrmd 1.1 logic, after loaded Windows minidump, even without related binary, we can still get many useful information from frame.Method, like method name, module info...
But in 2.0 code, frame.Method will be set to null if fail to GetMethodTabl

[2020-09-03 11:58] loop-evgeny commented on #822
Thank you, that's very helpful!

Yes, I know that `CreateSnapshotAndAttach` is the supported way, but it suspends the process for a while, which is often unacceptable. In our case, we'd rather take a tiny chance of something going wrong. I have not yet observed the target process crashing nor any obviously incorrect stack traces. Also, `CreateSnapshotAndAttach` only works on .NET Core 3.0 or later

[2020-09-03 15:08] leculver commented on #822
For Windows I'd suggest ETW events.  On Linux we have `lttng` support for collecting perf traces with stacks...or at least we did a while back.  There's also the new EventPipes feature from the CLR diagnostic team which is essentially ETW events without ETW.  However, I'm not sure if EventPipes can give you arbitrary stack traces (like ETW/lttng CPU stacks do).

In either case I would reach out to

[2020-09-03 15:15] ciuly opened #824 "Exception when disposing on Windows 7"
Installed latest 2.0.142701 targeting 4.7.2 (al;though I see that doesn't count much in this case)
Running on windows 7 I get the following:

[code]

the referred function PssFreeSnapshot is only defined on win 8.1 from what I see in MSDN.

repro code would probably help:
[code]

[2020-09-04 00:39] leculver commented on #824
Ah yes, `CreateSnapshotAndAttach` is only supported on Win8.1 and beyond.  I'll leave this issue open to add a better exception when this is called.  We might be able to use the Linux codepath (taking a temporary crash dump) but that would have vastly different performance characteristics on different versions of windows...  Not sure if that's the right path here or not.

[2020-09-05 10:24] drewnoakes commented on #624
Implemented in #826.

[2020-09-15 01:37] WilliamXieMSFT opened #831 "EnumerateFinalizableObjects and EnumerateFinalizerRoots appear backwards"
# Environment
Windows 10 (Build 10.0.19042.508)
Tested on .NET 4.7.2, 4.8, .NET Core 2.1, 3.1, 5.0

# Sample Code
## Code for the heap dump to be analyzed
[code]

## Use CLRMD to see FinalizerQueue
[code]

# Results
[code]

# Other things to note
The Unit tests are trying to reference `clrmd\src\TestTargets\TestTargets.csproj`, but the actual file name is `TestTargets.proj`
https://github.com/micr

[2020-09-15 16:43] leculver commented on #831
Hmm, the output you've listed looks right to me, though I think you've mislabeled them:

                Console.WriteLine("FinalizerQueueObjects:");  <== Not a good name for what these are.
                Console.WriteLine("===");
                foreach (var obj in heap.EnumerateFinalizableObjects())

These aren't "FinalizerQueueObjects", these are finalizable objects on the GC heap.  The objec

[2020-09-15 17:55] WilliamXieMSFT commented on #831
Thank you for the explanation, Lee! I was confused around the naming of these types.

[2020-09-16 18:43] #831 closed

[2020-09-22 10:18] dailongchen opened #835 "Missing leading zero for binary index path"
https://github.com/microsoft/clrmd/blob/a3fddc25187af597e67bfdc757ea2771c23d144e/src/Microsoft.Diagnostics.Runtime/src/Implementation/SymbolServerLocator.cs#L332

I found CLRMD cannot find some binaries from Microsoft Symbol Store, for example below ntdll.dll case:

For this file, its timestamp is 203141889 (1976-06-09T04:18:09+00:00), I guess it comes from a build machine with wrong time settings

[2020-09-22 14:37] leculver commented on #835
I think you are right, the first should be `:x8`, but `imageSize` should remain `:x`.

Thanks for the report!

[2020-10-06 05:00] MSDN-WhiteKnight opened #842 "ClrMethod.Name returns incorrect result when signature has function pointers"
**Steps to reproduce**

1. Create WPF Application:

[code]
[code]
2. Run and press Button

**Results**

[code]

**Expected results**

ClrMethod.Name should return only method name, not fragment of the signature

The signature of CreateDeltaTTF method is:

[code]

This is the same for every method that has function pointers in signature

[2020-10-10 08:15] raffaeler opened #843 "Making MemorySearcher public?"
Any plans to make MemorySearcher public? (currently it's internal)

[2020-10-16 21:05] tapika opened #847 "Attaching to own process - not supported - why ?"
https://github.com/microsoft/clrmd/blob/master/doc/FAQ.md#can-i-use-this-api-to-inspect-my-own-process

Can you elaborate bit more why attaching to my own process is not supported, and what kind of problems do you see related to it ?

Basically I've managed to extract mixed mode call stack by upgrading boost stacktrace - but now wanted to figure out symbols for managed call stack frames - and then

[2020-10-17 02:26] NextTurn commented on #847
FYI https://github.com/microsoft/clrmd/issues/303#issuecomment-556508640 https://github.com/microsoft/clrmd/issues/311#issuecomment-557228798

[2020-10-17 09:41] tapika commented on #847
What I'm reading behind the lines - is that attaching to it's own process is supported, but maybe to some extent, and maybe on windows only. This basically means that attaching to own process may or may not work, you cannot give guarantee that it will work.

However - if we are inspecting same process from outside, then api should work.

Theoretically if we have (1) `crashing_process.exe` and anot

[2020-10-19 12:52] tomasdeml opened #849 "OverflowException in ElfVirtualAddressSpace.Read"
I have updated the ClrMD nuget package to the latest version and found out that it cannot open my recent Linux dump. It crashes with the exception when opening the dump:

[code]

When I tried again with the DEBUG build I got a more interesting exception ([ElfVirtualAddressSpace.Read:52](https://github.com/microsoft/clrmd/blob/561754c082ddd0dce4de7f076edfdd6244421e24/src/Microsoft.Diagnostics.Runti

[2020-10-19 12:57] tomasdeml commented on #849
I added a few print statements and the output is:

[code]

[2020-10-19 20:33] #849 closed

[2020-10-19 20:51] leculver commented on #847
The bottom line is, inspecting any process that is not suspended was not what the CLR diagnostics library was designed to do (mscordacwks.dll/mscordaccore.dll).  Inspecting your own running process is by definition an unsuspended process.

Hanging the process, infinite loops pegging the CPU usage at 100% and never returning, hard crashes, stack overflows, exceptions, etc.  These are all possible,

[2020-10-19 20:51] #847 closed

[2020-10-19 20:54] #835 closed

[2020-10-19 21:04] tapika commented on #847
Hmm, just as I have suspected - so API cannot be even used from another process - might cause side effects.
Would it be possible to discuss all these issues with compiler development team ?
From my perspective inspecting in which state is current process should not cause any changes in currently running process. If it's not so - then base API's needs to be changed to work correctly.

If unknown ex

[2020-10-19 21:41] leculver commented on #847
Why not use AppDomain.UnhandledException event?  And capture a callstack with the standard exception APIs.

Inspecting the current process isn't causing _changes_ in the running process.  The process _is_ running and the dac library is not designed to handle the scenario where it's inspecting a running process.  So your stack looks like [Your_Code] -> [Your_code_that_crashes] -> [ClrMD_to_inspect_

[2020-10-19 21:47] leculver commented on #835
Should be fixed here:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.151903

[2020-10-19 21:47] leculver commented on #849
Should be fixed here:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.151903

[2020-10-19 21:55] leculver commented on #847
Also, to be clear, using `CreateSnapshotAndAttach` allows you to capture the callstack of the application and continue running.  The scenario you are after is 100% supported and works if you use the method that's intended to do it in this scenario.

[2020-10-20 14:23] tapika commented on #847
Yes, but this terminates application. There exists also `DispatcherUnhandledException`
https://github.com/tapika/stacktrace/blob/develop/example/csharp_crashy_app.cs#L16
which can survive exception.

But besides this, I want to have same kind of handling mechanism to happen on native C++ side.

Here is initial set of all test cases, I want to handle:
https://github.com/tapika/stacktrace/blob/devel

[2020-10-20 14:27] tapika commented on #847
Yes, but it's probably missing native symbols from call stack.

[2020-10-20 15:39] leculver commented on #847
That's terrifying from a security and correctness standpoint.

Open source.  "The dac" (mscordac*.dll) is simply a re-compile of the .Net runtime for diagnostic purposes.
 https://github.com/dotnet/runtime/tree/master/src/coreclr/src/dlls/mscordac

That's completely misunderstanding what CreateSnapshotAndAttach does.  You could either 1) capture native stack trace through boost and the managed via

[2020-10-27 00:23] mikem8361 opened #855 "Windows Minidump data reader doesn't return process id"
Always returns -1.

[2020-10-27 00:24] mikem8361 opened #856 "DacDataTargetWrapper caches modules with no way to flush"
The sorted _modules array is set in the constructor and never flushed.

[2020-10-30 22:47] ryanmolden opened #857 "CLRMD unable to get values of static fields in default app domain"
We talked about this awhile back (through email), it looks like SOS has the same issue. For instance:

0:000> !DumpClass /d 05add184
Class Name:      System.String
mdToken:         02000073
File:            C:\WINDOWS\Microsoft.Net\assembly\GAC_32\mscorlib\v4.0_4.0.0.0__b77a5c561934e089\mscorlib.dll
Parent Class:    059a835c
Module:          059a1000
Method Table:    05a2f0d4
Vtable Slots:    1b
T

[2020-10-31 10:47] arvindshmicrosoft commented on #743
@leculver - seconding what @NextTurn mentioned in https://github.com/microsoft/clrmd/issues/743#issuecomment-668934490, the current Nuget for `Microsoft.Diagnostics.Runtime.Utilities` still says RC (`2.0.0-rc.20303.3`). Would be good to remove the pre-release status.

[2020-11-02 19:58] leculver commented on #857
I confirmed this works today on both the test infrastructure and a provided crash dump of Visual Studio, everything worked as expected.  Following up offline.

        [Fact]
        public void StringEmptyTest()
        {
            using DataTarget dt = TestTargets.Types.LoadFullDump();
            using ClrRuntime runtime = dt.ClrVersions.Single().CreateRuntime();

            ClrType strType

[2020-11-04 00:57] leculver opened #860 "Fix triage dumps"
https://github.com/microsoft/clrmd/pull/854

[2020-11-04 17:36] leculver commented on #806
Here's a standalone repro:

[code]

[2020-11-05 17:50] leculver commented on #857
@ryanmolden Closing this issue.  Please let me know if you find a problem.

[2020-11-05 17:50] #857 closed

[2020-11-05 18:49] #860 closed

[2020-11-05 18:49] #856 closed

[2020-11-05 19:18] #855 closed

[2020-11-08 04:02] ryanmolden commented on #806
So I have something that seems to work, it fixes things like this (old output)

System.Collections.Generic.Dictionary<System.String, System.Int64>[]

And correctly outputs this

System.Collections.Generic.Dictionary<System.String, System.Int64>+Entry[]

But I also noticed that sometimes the DAC doesn't give us generic params for generic types, it results in things like this (old output)

NuGet.Sha

[2020-11-09 19:13] leculver commented on #806
Go ahead and post the PR even if it's not ready to merge.  (Mark as Draft if it's not ready.)

I like the concept of this, I'm not sure about using `??` specifically.  Can you define that `??` as a constant to easily change it?

[2020-11-09 19:15] leculver commented on #806
Actually, I think using numbered arguments would be better:  `T1`, `T2`, etc...  It at least holds the intent without being something that breaks the naming scheme of CLR.

[2020-11-09 19:18] ryanmolden commented on #806
Yeah it is already defined as a constant, subbing in the T1,T2 stuff should be easy enough, let me do that.

[2020-11-09 20:33] ryanmolden commented on #806
Examples of differences

Names where generic params were missing entirely:

Input: Roslyn.Utilities.OrderedMultiDictionary`2

OLD: Roslyn.Utilities.OrderedMultiDictionary`2

NEW: Roslyn.Utilities.OrderedMultiDictionary<T1, T2>

Non-generic nested types within generic outer classes:

Input: System.Lazy`1+Boxed[[Microsoft.CodeAnalysis.Options.IDocumentOptionsProviderFactory, Microsoft.CodeAnalysis.W

[2020-11-09 20:38] leculver commented on #806
Looks great, ship it!

[2020-11-10 05:49] jerm532 opened #866 "WinDbg sample extension does not properly register command."
When compiling the Windbg sample extension and loading it into Windbg preview using the `.load <DLL location>` command then running `!heapstat` returns `no export heapstat found`.

Furthermore loading this code into a stand alone project and then performing the same actions returns the following exception: `e0434352 Exception in C:\Users\user\Source\Repos\testExtension\bin\Debug\testExtension.dll.

[2020-11-17 12:34] ppekrol opened #868 "ClrMD is not working with .NET 5 Single File Applications on Linux"
OS: Ubuntu 20.04 (works fine on Windows 10)
ClrMD version: 1.x and 2.x
.NET: 5.0.0

Code (1.x):
[code]

Ex:
[code]

Code (2.x):
[code]

From brief investigation I think that the issue is how ClrMD detects the runtime. It enumerates through modules and checks the file names there to determine the runtime, so I wrote a code that writes down the list of modules and here are the results:

Windows:
[co

[2020-11-17 17:32] NextTurn commented on #868
FYI CoreCLR is statically linked into single-file apps on Unix platforms.

https://github.com/dotnet/designs/blob/main/accepted/2020/single-file/design.md

[2020-11-18 10:51] ppekrol commented on #868
Interesting. That would explain a lot. @NextTurn do you know maybe if there is a workaround for that problem that we could apply at the moment?

[2020-11-18 11:26] NextTurn commented on #868
I guess this has something to do with the single-file bundle marker/header/manifest. Not possible to work around without extra work.

[2020-11-18 12:18] NextTurn commented on #868
Interesting. I'll start working on this today.

[2020-11-19 18:09] erikness commented on #806
Just ran into this issue; I bet this fix will solve it for me, thank you @ryanmolden for working on it!

Let me describe what I'm seeing in case anyone in the future runs into the problem in the same way.

In my case, I was iterating `runtime.Heap.EnumerateObjects()`, and if objects had the type name `System.Collections.Concurrent.ConcurrentDictionary<MyTypeA, MyTypeB>`, I'd try to print all the "

[2020-11-19 20:00] leculver commented on #868
Single file applications are not something I plan to support in the near future.

The primary concern is ongoing maintenance costs of keeping it working vs how many people are currently using the feature.  If more people start using it (and asking for support in ClrMD) I may reconsider.

[2020-11-19 20:04] leculver commented on #806
@erikness Does the problem still reproduce on the newest version of ClrMD with this issue fixed?

[2020-11-19 20:51] mikem8361 commented on #868
dotnet-dump/SOS will need it over the next few months.  I may have some time to implement it over the holidays.

[2020-11-19 21:44] leculver commented on #868
That works too.  =)

[2020-11-19 21:45] leculver commented on #868
@mikem8361 To be clear, the number 1 thing that needs to happen for single file is adding tests to ClrMD so it doesn't regress.  The actual implementation of it I don't expect to be too difficult.  The challenge is building a sensible repro program we can use that's single-file that the current tests on linux can build.  If that problem is solved I'm not too worried about maintaining it.

[2020-11-20 01:41] erikness commented on #806
Oops, didn't realize you had already pushed out a fix. Looks like it works!

[2020-11-20 16:10] #806 closed

[2020-11-20 21:38] ppekrol commented on #868
I've tried bypassing the issue by loading the `libcoreclr.so` using

[code]

I see that the module now is detected properly after attaching, but unfortunately it fails during runtime creation with:

[code]

So I do not think this is the way to go with a workaround (or I'm missing something).

Anyway, @leculver the simplest .NET 5 console app fails after publishing using `dotnet publish -c Release

[2020-11-21 12:02] PathogenDavid opened #869 "Size is missing from HotColdRegions when started with Visual Studio Debugger"
If the target process was started by the Visual Studio Debugger, `HotColdRegions.HotSize` will be 0. Additionally, `ClrMethod.CompilationType` will be `None`.

This is occurring with .NET Core 3.1 as well as .NET 5 on Windows 10 20H2 with Visual Studio 2019 16.8.1

This does not occur if attaching to a process that was started without debugging. It also doesn't occur if you start the process witho

[2020-11-21 12:06] PathogenDavid commented on #869
.NET Framework 4.8 is a similar situation, but not quite the size is 6 instead of 0:

<table>
<tr><th>With debugging (F5)</th><th>Without debugging (Ctrl+F5)</th></tr>
<tr>
<td>

[code]

</td><td>

[code]

</td></tr></table>

[2020-11-22 19:36] PathogenDavid commented on #869
Perhaps related, .NET 5 actually isn't working at all regardless of Visual Studio attachment:

<table>
<tr><th>With debugging (F5)</th><th>Without debugging (Ctrl+F5)</th></tr>
<tr>
<td>

[code]

</td><td>

[code]

</td></tr></table>

[2020-11-24 00:31] erikness opened #871 "Valid/null inconsistency in docs"
In ClrObject:

[code]

(Aside: "This will return null" seems like it was a sentence that wasn't finished.)

vs GettingStarted.md:

Are null objects valid? The docs say yes, but the code says no. If an object is null, its Address is 0, which would short-circuit the condition for IsValid, making it false.

[2020-11-24 00:32] erikness commented on #871
The code also implies that if I check `IsValid` when enumerating objects in the heap:

[code]

I don't have to check `IsNull`.

[2020-11-24 01:04] leculver commented on #871
That documentation definitely needs to be cleaned up.  Ignoring the documentation issue, the code as written is what the behavior should be.  If `ClrObject.Address == 0` them both `IsNull == true` and `IsValid == false`.  Essentially, `IsValid` is meant to say "Does this ClrObject point to an actual, valid object?" and null is not a valid object.  So the logic above is correct.

Though of course,

[2020-11-24 01:10] leculver commented on #869
@PathogenDavid I can take a look next time I do a sprint of clrmd work, but this is likely either:

1)  A real change within the CLR Runtime, where VS puts the process into a unique state when debugging/not debugging/etc.
2)  A bug within the dac (the underlying diagnostic library that ClrMD calls into).

You could confirm that second case by checking the SOS output of `!dumpmt -md [ClrType.Method

[2020-11-24 12:58] PathogenDavid commented on #869
Thanks for the info! And no worries, hope you enjoy your time off!

Here's the output from the program and from WinDbg. This is .NET 5 launched from WinDbg.

[code]

[code]

(I'm not super experience with WinDbg so I stumbled my way to that `00007ff9a0704958` argument using `!name2ee *!Program`. If that wasn't what you meant let me know.)

-----------

<details>
<summary>I realized I never checked

[2020-11-24 14:57] PathogenDavid commented on #869
Not sure how helpful this is, but I went spelunking in the runtime code a bit this morning to do some investigation. (I'm mostly leaving this comment for my own reference.)

ClrMd gets the `HotColdRegions` and the `CompilationType` from `ISOSDac::GetCodeHeaderData`. If I'm not horribly mistaken, this is eventually implemented by `ClrDataAccess::GetCodeHeaderData`. This method has basically two bra

[2020-11-24 17:56] erikness commented on #871
I agree with that. One thing you might add to the docs as well is a short description of what kind of objects could be invalid, aside from null ones. That is: in what cases would a ClrObject have `Type == null` but `Address != null`? (IsValid in ClrValueType hints at issues with metadata or generics).

[2020-11-25 20:42] leculver commented on #871
That's only for a ClrValueType.  The only way to get a null `ClrObject.Type` is if a value that's supposed to point to an object instead points to bogus memory, or if the ClrObject points to what _should_ be a valid object but the MethodTable of that object has been overwritten.  Both cases are usually caused by memory corruption.

There's a rare case where sometimes the GC could be in the middle

[2020-11-27 14:47] baal2000 commented on #771
BTW [GettingStarted.md](https://github.com/microsoft/clrmd/blob/master/doc/GettingStarted.md#getting-the-dac-from-the-symbol-server) still mentions `DataTarget.SymbolLocator` (no longer present in ClrMd v.2)

[2020-12-08 10:39] am11 opened #875 "Support for more Core and ELF formats"
.NET runtime is being made available on more flavors of Unix, that happen to have different ELF formats. Diagnosing issues by means of coredumps generated in those environments is currently not feasible.

One example, which I ran into, is [Linuxulator](https://www.freebsd.org/doc/handbook/linuxemu.html) on FreeBSD, where dotnet(1) Linux binary with Roslyn's csc.dll assembly aborted and generated a

[2020-12-08 12:33] sungam3r opened #876 "ServerNotAvailableException"
[code]

OSDescription: Linux 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 11 19:12:04 EDT 2020
FrameworkDescription: .NET Core 3.1.10
OSArchitecture: X64
ProcessArchitecture: X64

Is this platform really not supported?

[2020-12-10 14:58] pr8x opened #877 "Equivalent for EnumerateMemoryRegions"
I am currently upgrading some code to clrmd v2 and I noticed that `EnumerateMemoryRegions` is gone. I saw some other post mentioning that there's plans (in the future) to include this in the utilities package. But is there something right now I can do to emulate this functionality? My goal is to revive https://github.com/goldshtn/minidumper (kinda) to help with reducing the size of my crash dumps.

[2020-12-24 11:44] crui3er opened #881 "ClrMD 2.0 reports less number of pinned handles than ClrMD 1.1"
Hello,
I am investigating process dump with ClrMD and noticed that after upgrading from version 1.1.1 to 2.0.3 it reports less pinned handles. I prepared 2 similar programs (for both version) that collect and report to file information about pinned handles.
Here is extract from reports that show difference:

**v.2.0.3**
Total pinned: 599
Total overall: 78725
System.Byte[] -> 4
System.Object[] -> 2

[2020-12-24 18:37] leculver commented on #881
The person who wrote the original code for pinned handles in 1.1 made a design decision to report "fake" roots for the sub-objects that async pinned objects point to.  You can see that code in 1.1 here:  https://github.com/microsoft/clrmd/blob/b4c865dcfff7f96f5a0b58813afc35669b0891ee/src/Microsoft.Diagnostics.Runtime/src/Desktop/DesktopGCHeap.cs#L515-L576

In 2.0, we report only the real, actual G

[2020-12-25 07:26] crui3er commented on #881
It seems there is a difference between pinned handles and pinned objects (which i am looking for).
AsyncPinned handles are used for System.Threading.OverlappedData class that has special meaning for .net runtime (including GC). Objects stored in m_userObject are considered as logically pinned by runtime and can not be moved.

So I think it makes sense to extend API to help discover these all (or o

[2021-02-15 11:08] catstrike opened #887 "ClrMD 2.0 reports less number of heap objects than ClrMD 1.1 on a 32-bit dump"
I have a dump of the 32-bit application.
When I enumerate the heap objects with method ```heap.EnumerateObjects()```, I get different results when using ClrMD 1.1 and ClrMD 2.0.

With ClrMD 1.1, I'm getting 30 666 651 objects. The same number I can get with WinDbg.
ClrMD 2.0 shows me almost three times fewer objects — 11 814 763.

[2021-02-18 16:57] sdmaclea opened #888 "Complete Mac OS X Support"
The equivalent of #690 is needed for osx-arm64

https://github.com/microsoft/clrmd/blob/a2c23aa4525a237d33e84fcfbfb5d02215797db4/src/Microsoft.Diagnostics.Runtime/src/Utilities/Platform/MacOSFunctions.cs#L27-L30

I am also not sure if we to do something special for universal binaries.

/cc @nxtn @leculver

[2021-02-19 05:41] Kompiler commented on #887
I'm also seeing this on 64-bit dumps.

For **ClrMD 1.1.142101**
[code]

For **ClrMD 2.0.161401**
[code]

Testing on 3 different dump files:
[code]

[2021-02-23 16:37] leculver commented on #887
Is there a test dump I could use to reproduce this?

[2021-02-23 16:39] leculver commented on #876
@mikem8361 Can you comment on what versions of .Net Core are supported by LinuxSnapshotTarget?

[2021-02-23 18:10] mikem8361 commented on #876
It should be supported on 3.1.10 Linux x64.

[2021-02-23 21:20] kevingosse opened #891 "Cannot get PEImage of some assemblies in a Linux dump"
Getting the PEImage of some assemblies inside of a Linux memory dump fail, even though the PE header should be valid (at least I believe so).

As a simple repro, I create a console application with .NET 5:

[code]

Getting the PE header of `temp.dll` fails with the error "System.IO.EndOfStreamException: 'Unable to read beyond the end of the stream.'" :

[code]

Both the DOS header check and the PE

[2021-02-23 21:20] leculver opened #892 "ClrMD will be renaming the "master" branch to "main""
I plan to rename the master branch to "main" in the upcoming weeks.  The official announcement is here:
 https://github.com/dotnet/announcements/issues/172.

I'll likely wait until after the current sprint of ClrMD work I'm doing and ship a release before I randomize the branch with the rename.

[2021-02-23 21:35] mikem8361 commented on #891
It may be a file vs loaded layout issue with is controlled with the isVirtual flag passed to the ModuleInfo constructor. There isn't an easy way to determine the correct layout other than trying both. On Windows it is always "loaded" layout. It is something I want to try in clrmd (with Lee's ok) when I get time.

Can you try the latest dotnet-dump/SOS from master dump the module correctly? `module

[2021-02-23 21:45] kevingosse commented on #891
Does it need to be the version from master? With the one currently installed I get:

[code]

The PEReader fails when trying to read address `0x00007fc95fbf3008`. This indeed seems to be outside of the module range.

[2021-02-23 21:49] mikem8361 commented on #891
The released dotnet-dump doesn't try both layouts.

[2021-02-23 21:51] kevingosse commented on #891
Got it, gonna give it a try.

In any case, I confirm that switching the value of `isVirtual` in the ModuleInfo constructor for that module fixes the issue, so I think you're on the right track.

[2021-02-23 21:55] kevingosse commented on #891
With the dotnet-dump built from master, I get:

[code]

[2021-02-23 22:16] kevingosse commented on #891
Trying both works for me, I'll be keeping that workaround for now (I'm using a custom version of ClrMD for this project anyway)

[code]

Thanks for the help 👍

[2021-02-24 18:17] leculver commented on #891
Since we don't have a good way to detect this, I think the workaround you posted here is likely what we'll go with (trying both layouts).  I'll include this in the next release of ClrMD.

[2021-02-24 18:33] #876 closed

[2021-02-24 18:34] leculver commented on #875
@mikem8361 As an FYI.  (Not asking you to fix this, just a heads up that dotnet-dump analyze isn't working properly on these platforms.)

[2021-02-24 19:19] mikem8361 commented on #875
Yes, I did see this issue at some point.

[2021-02-25 00:03] #891 closed

[2021-02-25 01:04] leculver commented on #881
I'll be shipping a fix to this in the next ClrMD release.

[2021-02-26 00:14] catstrike opened #897 "DacNameParser.Parse(name) throws System.IndexOutOfRangeException"
I'm enumerating all the types in a dump with ClrMD 2.0
For one of the types, DAC returns the following name:
```StructureMap.Pipeline.ExpressedInstance`3[[StructureMap.Pipeline.LambdaInstance`2, EnforceHttpsModule],T,TPluginType]```

DacNameParser can't parse it and throws System.IndexOutOfRangeException.

[code]

CLR version: 4.7.2650.0
Architecture: Amd64

[2021-03-04 22:45] mikem8361 commented on #888
It looks like the check for the cpu type can just be removed. The header magic field should be validated instead. @sdmaclea this code doesn't handle MachOFat binaries yet. Is that going to be important?

I can do this change in my current single-file work. It may be a while before the single-file changes are ready so if you want it sooner.

[2021-03-04 23:23] sdmaclea commented on #888
I was think `clrmd` needed `MachOCpuArch` & `MachOCpuType` too for completeness, but it is probably not required to unblock SOS.

[2021-03-04 23:25] sdmaclea commented on #888
Eventually it will be important.  We haven't decided whether we will support for .NET 6 yet though.  Current plan doesn't include universal binaries, but it may change in a month.

[2021-03-18 23:09] leculver commented on #897
@ryanmolden Do you have some time to take a look?  I'll likely put a try catch at the bottom of Parse in the next release either way.

[2021-03-18 23:10] leculver commented on #888
I'm using this issue to track completing Mac OS X support for all scenarios.  This will be my next major project in ClrMD aside from bugfixes.

[2021-04-05 05:53] wwh1004 opened #907 "ClrMD 2.0 module size is 0 for .net framework process"
I use DataTarget.CreateSnapshotAndAttach to create data target for .net fx process.
ClrDataModule::Request in mscordacwks.dll return E_INVALIDARG so dataModule.GetModuleData(out ExtendedModuleData data) alwasys fails and module size is 0.

[2021-04-06 10:04] karelz opened #909 "GettingStarted - references to object enumerations"
Section [A non-linear heap walk](https://github.com/microsoft/clrmd/blob/master/doc/GettingStarted.md#a-non-linear-heap-walk):
- `ClrType.Enumerate` seems like obsolete reference -- the method is not used in the sample and does not exist.
- Subsection `EnumerateRefsOfObject` - the method has been refactored out in 2.0

[2021-04-28 08:52] loop-evgeny opened #914 "Source file and line info in stack traces"
We use ClrMd to get stack traces for a running .NET Core 3.1 or 5.0 process on Linux. It would be great if it could report the source file and line info for each stack frame - that would make the output so much more useful.

We deploy full symbols with the app (as separate .pdb files) and tools such as lldb and dotnet-dump report source information (so it's there), but they suspend the process and

[2021-04-30 09:35] k15tfu commented on #888
@leculver Hi! I made changes for macOS support (both, x64 and ARM64) to be able to walk through the stack frames using `EnumerateStackTrace()`. Could you please review #915, #916, and #917?

[2021-05-06 07:23] k15tfu commented on #888
@leculver Hi! Can you please release a new package with these changes?

[2021-05-07 00:09] leculver commented on #888
Hello!  I plan to release a package next week that includes these changes and Mach-O coredump support.

Thanks!

[2021-05-14 15:54] leculver commented on #888
New package is listed here:  https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/2.0.226401

Mach-O support is not yet implemented though.  =(

[2021-05-20 14:05] jairbubbles opened #925 "CreateSnapshotAndAttach does not kill the created process"
I would expect calling `Dispose` on the returned target to kill the suspended process created by `CreateSnapshotAndAttach`.

The problem can be seen with this simple sample:
[code]

 If you break on the last line you can see that the 10 processes are still there:

![image](https://user-images.githubusercontent.com/15875066/118992236-be08c700-b984-11eb-8f2f-ad8dc7a346e5.png)

While looking at the c

[2021-05-21 10:15] jairbubbles commented on #925
It looks like the kill was removed in https://github.com/microsoft/clrmd/pull/903

[2021-05-27 14:40] dekarma opened #927 "Non-writable cascading downstream stores in _NT_SYMBOL_PATH cause System.UnauthorizedAccessException"
(Microsoft.Diagnostics.Runtime package 2.0.226801)

I ran into a problem when one of the downstream stores in _NT_SYMBOL_PATH is not writable.

For example:

`_NT_SYMBOL_PATH=symsrv*symsrv.dll*c:\symbols*\\someserver\symbols*http://msdl.microsoft.com/download/symbols`

where `c:\symbols` is writable but `\\someserver\symbols` is **not**.

This is a supported symsrv configuration according to [this

[2021-06-02 20:31] akrock commented on #205
@leculver We were actually utilizing this in the older API's and are now trying to upgrade to 2.x.

Since this was removed I assume that the following held true:

Can you point us in the direction of where the relevant code was so that we can build something like this as the consumer?

[2021-06-02 20:49] leculver commented on #925
Sorry for the delay, I've been working on other projects.  I have a small issue on the PR to resolve.

[2021-06-03 15:58] #925 closed

[2021-06-14 13:19] MaheshGpillai opened #928 "ClrMD 2 heap.EnumerateRoots() get hangs"
I am using latest ClrMD for finding managed process live objects as below

but always it gets hang in  heap.EnumerateRoots() .

when I am using older versions 1 this issue is not there

[2021-06-17 10:22] k15tfu opened #929 "Could not find matching DAC for this runtime if both DAC & CoreCLR are not versioned"
Hi! I'm getting this error on dev (local) builds of coreclr:
https://github.com/microsoft/clrmd/blob/957981f36eeccb6e9d266407df6522ca5cfbd899/src/Microsoft.Diagnostics.Runtime/src/DataTargets/ClrInfo.cs#L94

Actually, `Microsoft.Diagnostics.Runtime.IDataReader.GetVersionInfo()` fails for my libcoreclr.dylib, but then it returns the `default` as non-nullable property `Version`:
https://github.com/m

[2021-06-21 22:36] catstrike opened #931 "IOException when import some core dump"
Trying to import the dump with the most recent version of ClrMD and getting IOException.

[code]

Stack trace:
[code]

The older version of ClrMD would catch the exception in `CoreDumpReader.TryGetSymbolAddress` method, but after the commit "4f366cb Expose ELF coredump reader as public" it's no longer the case.

Dump example:
https://drive.google.com/file/d/126MFSemzfiueRbrK9OEtUvvNzRXIdUCV/view

[2021-06-25 04:08] kkokosa commented on #931
Exactly the same issue here.

[2021-06-28 20:11] #929 closed

[2021-06-28 20:12] #931 closed

[2021-07-24 12:45] ashmind opened #935 "Missing some compilation information for generic methods"
Hi -- thanks for the great library.
I've noticed an issue with finding assembly size and compilation state on some generic methods.

I have a (test) generic method that looks like this:
[code]

I got a `M<int>` as `MethodInfo`, and have its method handle, let's say `0x00007ff98e4ccfc0`.
The method is jitted.

I have then saved a minidump.

If I open that minidump in WinDbg:
[code]

[code]

As you

[2021-07-25 00:52] ashmind commented on #935
I did some more investigation.
Current logic in ClrMD is to grab the header based on the slot:
https://github.com/microsoft/clrmd/blob/11f8c12bb19a2b46a61c9dda7a017cb525a5c81a/src/Microsoft.Diagnostics.Runtime/src/Builders/MethodBuilder.cs#L36-L37

Somehow I suspect it might be grabbing the generic method definition from the method table, instead of the compiled generic instantiation.

I tried thi

[2021-07-25 01:24] ashmind commented on #935
Hmm, this approach works for value-type generics, but not for reference types.
For reference types original slot-based approach seems to work better (at a glance).

[2021-07-25 02:19] ashmind commented on #935
I ended up with this:
[code]

which seems to work for all my tests.

[2021-07-27 01:44] cshung opened #936 "Support regions"
Starting .NET 6, we will have [regions](https://github.com/dotnet/runtime/issues/43844). It would be really nice if CLRMD supports it.

[2021-08-03 13:14] aleks-ivanov opened #937 "Add native GitHub security and versioning dependency alerts"
- [Dependabot](https://dependabot.com/) alerts on updates for the project's dated and vulnerable dependencies and automatically creates PRs to easily update them

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline

[2021-08-03 13:17] aleks-ivanov opened #939 "Add GitHub Codespaces configuration"
- [GitHub Codespaces](https://github.com/features/codespaces) is a configurable cloud development environment available in your browser on GitHub or through Visual Studio Code.

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](h

[2021-08-03 13:27] aleks-ivanov opened #941 "Add native GitHub continuous code security and quality analysis"
- [CodeQL](https://github.com/github/codeql) is an open source code scanning tool for discovering vulnerabilities across a codebase

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline.foundation).

[2021-08-03 13:32] aleks-ivanov opened #943 "Add a CI pipeline with GitHub Actions"
- Create a pipeline for Continuous Integration (build and test validation, test log generation, assemblies generation) with GitHub Actions

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline.foundation).

[2021-08-09 15:21] isaevdan commented on #925
@leculver @jairbubbles can you please tell if this is released? I see that the latest version is 2.0.226801 and was released 3 months ago, and looks like fix was done later

[2021-08-10 06:07] jairbubbles commented on #925
It doesn't seem so indeed. A simple workaround is to manually kill the process.

[2021-08-10 09:16] isaevdan commented on #925
On our case we want to dump thread stack traces into logs whenever we identify that our process is in deadlock in production environment. So this might be problematic there. Is there any plans to release this functionality?

[2021-08-10 10:26] jairbubbles commented on #925
I'm just a dev there 😁, only @leculver can answer!

[2021-08-10 11:13] isaevdan commented on #925
Got it, anyway thanks for reply :)

[2021-08-23 17:41] #936 closed

[2021-08-26 15:07] PhDuck opened #947 "System.AccessViolationException when reading dump"
[code]

OS: Windows Server 2016 (Azure VM if that matters)
14393.4402.amd64fre.rs1_release.210426-1725
CoreCLR Version: 5.0.921.35908
.NET Version: 5.0.9
X64
Microsoft.Diagnostics.Runtime: 2.0.226801

Dump info:
.NET 4.8 X64
32GB

Seems to crash when hitting around 2.3 GB of memory usage, which seems a bit strange.

[2021-08-29 00:23] #897 closed

[2021-08-30 23:50] R4ND3LL opened #953 "DataTarget.CreateSnapshotAndAttach error: Unable to find an entry point named 'PssCaptureSnapshot' in DLL 'kernel32.dll'"
This line of code produces the error below:
``
  var target = DataTarget.CreateSnapshotAndAttach(Process.GetCurrentProcess().Id);
``

**System.EntryPointNotFoundException: Unable to find an entry point named 'PssCaptureSnapshot' in DLL 'kernel32.dll'.**

Unable to find an entry point named 'PssCaptureSnapshot' in DLL 'kernel32.dll'.
       at Microsoft.Diagnostics.Runtime.WindowsProcessDataReader.

[2021-08-31 12:00] R4ND3LL commented on #953
I may have answered my own question.  Microsoft states that this function is only supported on:

<html>
<body>

Minimum supported client | Windows 8.1 [desktop apps only]
-- | --
Minimum supported server | Windows Server 2012 R2 [desktop apps only]

</body>
</html>

Researching elsewhere, I found this function was only included on kernel32.dll version 6.3+.

Would be nice if this was noted somewhe

[2021-10-23 20:34] Ne4to opened #958 "ClrInstanceField.Offset returns wrong value"
I have a dump file opened in WinDbg and I'm trying to inspect object fields.

[code]

If I try to inspect the same object by clrmd I receive different values for fields' offset.
[code]

[code]

Microsoft.Diagnostics.Runtime version: 2.0.226801
.NET version: 6.0 RC2

[code]

[code]

[2021-11-08 15:38] kevingosse opened #962 "Support NativeAOT for writing WinDbg extensions"
[NativeAOT](https://github.com/dotnet/runtimelab/tree/8e81d3a5bfd7639a197b51a1f65fcbba129d3b5f/samples/NativeLibrary) is slowly becoming mature, and is planned to be released with .NET 7. I believe this is a really convenient way to write WinDbg extensions, as it supports native exports without having to use ildasm-based hacks such as [UnmanagedExports](https://www.nuget.org/packages/UnmanagedExpo

[2021-11-09 08:26] Ne4to commented on #958
The difference is 8 bytes for each field. sos.dll [adds](https://github.com/dotnet/diagnostics/blob/main/src/SOS/Strike/util.cpp#L918-L925) sizeof `MethodTable`
[code]
where `BaseObject` [is](https://github.com/dotnet/diagnostics/blob/main/src/SOS/Strike/util.h#L170-L173)
[code]

[2021-11-21 15:47] ZQiu233 opened #964 "Can't get rank of Array Types"
I notice that property "ClrType.IsArray" indicates whether a ClrType is array type or not. As I tested, it recognizes "int[,]" as an array type, as expected.
The problem is that I found no method like "System.Type.GetArrayRank()" to get the rank of array types.
There is also no way to access an array of 2 or higher rank.

[2021-11-21 15:54] ZQiu233 commented on #958
I came across the same problem and got answered.
See here:https://github.com/microsoft/clrmd/issues/544#issuecomment-589949529

[2021-11-21 20:01] #958 closed

[2021-11-22 04:58] ZQiu233 commented on #964
Sorry I found a class ClrArray that satisfies.
No other problem then.

[2021-11-22 04:58] #964 closed

[2021-12-04 07:02] Qiu233 opened #965 "Why doesn't it use metadata?"
Using release version 2.0.226801 from nuget.

I noticed that clrmd is missing a lot of information about `Type`/`Method` or such things.
For example,
1. I can't get rank from `ClrmdArrayType` which was suppose to have. I see `Rank` in `ClrArray` which represents an instance in process but `Rank` should be the property of a `Type`.
2. I can't get parameter types of a `ClrMethod`.
3. Sometimes when

[2021-12-07 15:28] #965 closed

[2021-12-07 18:41] PhDuck opened #969 "Ephemeral segments missing in memory dump"
[code]
Produces the following output:
[code]

Compared to the output of !eeheap -gc in Windbg:
[code]
The dump is from a .NET 4.8 x64 bit process.
4.8.4300.0 free
Server mode with 4 gc heaps

Windows 10 Version 17763 MP (4 procs) Free x64
Product: Server, suite: TerminalServer DataCenter SingleUserTS
Edition build lab: 17763.1.amd64fre.rs5_release.180914-1434

ClrMD verison: 2.0.226801

[2021-12-13 15:14] Ruikuan opened #970 "[Question] How can I get the CustomAttributes for a method?"
Sorry about this silly questions.

Assuming we have a method defined as below.
[code]
Now we got a memory dump of this application, we can use ClrMD to find the `SomeClass` type easily, then we can easily find the `DoSomeThing` ClrMethod. Now, how can I find the corresponding `MyAttribute` instance and get the `beautifulName` value?

Thanks for any helping!

[2021-12-14 04:33] MSDN-WhiteKnight commented on #970
Custom attributes are a metadata thing, you need to get your hands on the assembly that houses SomeClass and inspect it somehow. Ideally you could use System.Reflection.Metadata or System.Reflection.MetadataLoadContext for this. In the simplest case, if the assembly is available as file under the same location as in the dumped process and you can afford to load it for execution, standard reflectio

[2021-12-14 05:15] Ruikuan commented on #970
Thank you for your help! @MSDN-WhiteKnight
Can we load Assembly from some segment of the dump itself? It would be great if the tool doesn't have to depend on the location of the assembly dlls.
I will figure out how to inspect the metadata in the dump,  hopefully I can start from `MetadataLoadContext`. The information about this part is rare.

[2021-12-14 06:26] MSDN-WhiteKnight commented on #970
You can use DataTarget.DataReader.Read to get assembly image as byte array. I have example here: https://github.com/MSDN-WhiteKnight/CilTools/blob/e1d48edf8013cb21ac6b5be9a794301fd55b3147/CilTools.Runtime/ClrAssemblyReader.cs#L559 , but it uses ClrMD 1.1 which had DataTarget.ReadProcessMemory instead.

Not sure whether MetadataLoadContext would be able to handle assembly image loaded this way, as

[2021-12-14 06:37] Ruikuan commented on #970
Thank you @MSDN-WhiteKnight for your awesome example and explanation.
Actually I am not very familiar with these concepts here. I will follow your example carefully to see if I can complete this task.
Will post the result here if I can achieve it.
Thank you again!

[2021-12-21 11:35] kierenj commented on #925
My implementation of this - doesn't need modifying the source, but is super hacky:

[code]

[2022-01-06 12:23] AndreGleichner commented on #868
It now also fails with .Net 6 on Windows.
Single file apps in .Net 6 are statically linked to the clr on Windows too.

[2022-01-24 10:33] sharmg10 opened #974 "Microsoft.Diagnostics.Runtime throw excepton on iOS"
I am looking for the Stack traces for all the threads in the current process. The following code works fine for windows but throws an exception when the same code runs on the iOS platform.

using (var target = DataTarget.CreateSnapshotAndAttach(Process.GetCurrentProcess().Id))
{
var runtime = target.ClrVersions.First().CreateRuntime();
  // We can't get the thread name from the ClrThead objects, s

[2022-01-27 17:06] 5teveb opened #975 "ClrMD is not working from within a .NET 6 single-file application on Windows"
This was working for me in .NET 5. A simple program can show the problem:

[code]

For .NET 5 the publish profile is:

[code]

With  .NET 5 I get the following output:

[code]

For .NET 6 the publish profile is:

[code]

For .NET 6 I get the following output:

[code]

I used VS2022 for this program.

[code]

It would be nice to see this working again. I've used it in real programs to list the stac

[2022-01-28 19:57] kevincha99 opened #976 "DacDataTargetWrapper missing SetThreadContext"
I just noticed while perusing DacDataTargetWrapper.cs this code:

            builder.AddMethod(new GetThreadContextDelegate(GetThreadContext));
            builder.AddMethod(new RequestDelegate(Request));

There's a SetThreadContext method in between those in the interface, so the Request method is in the wrong vtable slot.  Request is just an unused stub, so this should be currently harmless, bu

[2022-02-04 07:42] noahfalk opened #977 "Better error handling for Linux dumps loaded on Windows"
Currently if I load a linux core file when running CLRMD on Windows I get `FileNotFoundException 'Could not find matching DAC for this runtime'`. Could we improve this error to a NotSupportedException (assuming it isn't intended to be supported right now?)

Repro:
[code]

Expected result: A NotSupportedException (or working is cool too)
Actual result: FileNotFoundException

Debugging into it I see

[2022-02-17 08:15] hakenr opened #979 "Ability to load heap-snapshot from EDGE/Chrome browser running .NET WASM (Mono, Blazor)"
Analyzing the memory of Blazor WebAssembly applications running in the browser is currently a major problem.
Any small step towards making such analysis available in ClrMD will be a big improvement for the ecosystem.

We struggle with problems like https://github.com/dotnet/runtime/issues/62054 where without the ability to explore the heap, diagnostics are extremely difficult.

I am able to volunt

[2022-02-23 15:39] ezsilmar commented on #762
Hello, I'm facing the same issue on Linux.

We have a troubleshooting tool that uses CLRmd to show current "parallel stacks" of the application (connecting with `dataTarget = DataTarget.AttachToProcess(pid, suspend = true);`). In my reproduction the stacks are always correct for the threads that are waiting (`Thread.Sleep`, `mre.WaitOne`, etc). However, for the threads that are actively consuming

[2022-03-02 00:11] leculver commented on #979
I'm not sure I'm familiar enough with WASM to help here.

Is the Edge/Chrome WASM interpreter written in C#/.Net?  I assume no...but I don't really work in the Blazor space.

If this WASM code is being run and/or interpreted via the .Net Runtime then there would be a set of objects on the heap already for the interpreter and/or objects created for WASM.  In which case, ClrMD already does everythin

[2022-03-02 16:49] hakenr commented on #979
It used to be mono.wasm in .NET5, now it is dotnet.wasm in NET6. One .NET...

[2022-03-02 19:00] leculver commented on #979
Right, but that doesn't answer the underlying technical question of how this is implemented and how it works.  In order to consider how (or even whether) to implement an API that can inspect these objects we have to answer some basic questions about how this is implemented.

What I'm trying to get at is when this crashes, what process is crashing?  Presumably chrome (or edge) itself, right?  So he

[2022-03-04 11:27] hakenr commented on #979
Thank you for trying to find a solution to this problem.

No, it is the dotnet.wasm "WASM instance" inside browser "VM" which crashes (if [GC issue is hit](https://github.com/dotnet/runtime/issues/62054)) or just exits with OutOfMemoryException (in regular conditions, when the available memory is exhausted). The browser process itself remains untouched, it just hosting the WASM application as if i

[2022-03-14 16:25] iliamosko opened #980 "Mini-dump thread stack frames are missing"
After upgrading our dump parsing application to CLRMD v2.0, and attempting to parse a mini-dump, we are seeing missing stack frames for some threads. The mini-dump was taken from a process that is running on Ubuntu-20.04 and is also being parsed on the same system.

Here are some screenshots of a thread and its stack frame traced using Dotnet-dump analyze, a sample clrstack class file provided in

[2022-03-15 13:31] kierenj opened #981 "Kubernetes pods OOMKilled on DataTarget.CreateSnapshotAndAttach"
When running on Kubernetes, at the point of calling `DataTarget.CreateSnapshotAndAttach` on a different .NET process, I often (but not always) have the pod killed with OOMKilled. If I increase the memory limit (fairly significantly), it doesn't occur.

To a certain extent this makes sense - I think that method "duplicates" the process. But it surprised me because the processes really use very litt

[2022-03-16 17:34] leculver commented on #981
Sorry I don't have extensive knowledge of kubernetes.  In terms of memory usage, it was my vague understanding that memory isn't completely duplicated by [PssCaptureSnapshot](https://docs.microsoft.com/en-us/windows/win32/api/processsnapshot/nf-processsnapshot-psscapturesnapshot) unless the page of memory in the target process is modified.  So basically, it's my (possibly mistaken) understanding t

[2022-03-16 17:34] #981 closed

[2022-03-16 18:57] leculver commented on #977
@noahfalk Just back from vacation, working on this now.  Along with more OS X, Linux, and Windows -> Linux debugging improvements.

[2022-03-16 19:56] leculver commented on #980
This is typically due to not being able to properly find PE images for the files in question.  We have a System.Diagnostics.Trace.WriteLine call in ClrMD (both versions I think) which prints out messages, for example:  https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/Implementation/SymbolServerLocator.cs#L239

https://github.com/microsoft/clrmd/blob/4051dff2b192

[2022-03-23 00:49] cshung opened #983 "Handle the global allocation context case in heap walking"
In https://github.com/dotnet/runtime/pull/66844 and https://github.com/dotnet/diagnostics/pull/2949, I fixed a bug in the heap walking algorithm to make sure it skips the global allocation context, that change should be applied here too.

[Here](https://github.com/microsoft/clrmd/blob/4318a412226509f9deb27d02a3e9bc701413938b/src/Microsoft.Diagnostics.Runtime/src/Builders/RuntimeBuilder.cs#L169) is

[2022-03-23 01:13] mikem8361 commented on #975
What version of clrmd are you using? The latest on nuget: 2.0.226801?

[2022-03-24 19:35] iliamosko commented on #980
I've ran the parser with a listener connected, but I received no Trace messages from the SymbolServerLocator. I've also tried to load the binaries before enumerating through the threads.

[code]
Each module that was ran through the BinaryLocator returned the module location so I dont think that there are files missing(?).

I've also noticed that the ability to set a symbol path to the SymbolLocato

[2022-03-29 16:14] 5teveb commented on #975
Yes, that's the one:

`<PackageReference Include="Microsoft.Diagnostics.Runtime" Version="2.0.226801" />`

[2022-03-30 10:13] pavel-faltynek opened #988 "Unable to create DACLibrary for minidump from self contained app"
When trying to create runtime from self contained app minidump, like:

[code]

Getting an error:
`Microsoft.Diagnostics.Runtime.ClrDiagnosticsException: 'Failure loading DAC: CreateDacInstance failed 0x80131c4f'`
The DAC dll is located, `CLRDataCreateInstance` called for IXCLRDataProcess interface and then failing.

- This applies for windows app built as `<SelfContained>` with given `<RuntimeIden

[2022-04-26 15:56] ezsilmar commented on #762
I think I've found a bug that explains this behavior on Linux!

In [LinuxLiveDataReader.cs](https://github.com/microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/src/Linux/LinuxLiveDataReader.cs#L44) there's a `ptrace(PTRACE_ATTACH, pid, 0, 0)` call to attach to the process. However, the [ptrace manual](https://linux.die.net/man/2/ptrace) says we should attach to every thread id separat

[2022-04-26 16:10] leculver commented on #762
That's great!  Can you submit a PR for this?  Or even just a draft showing the code you changed?  No worries if not, but it would speed things along.

[2022-05-04 10:38] kokhany commented on #516
Hi, I see this issue is closed. However, can we please publish release version as well? As ClrMD is already in "public"
Thanks

[2022-05-11 19:43] #648 closed

[2022-05-11 19:43] #594 closed

[2022-05-11 19:56] #976 closed

[2022-05-11 21:38] leculver commented on #988
Hello!  I have taken a look at this and found that there is a problem with dac requests in single file mode, but the underlying issue you reported is actually a bug in dotnet-dump.  This tool does not put the enough information into the dump file for any tool to correctly determine that we are looking at a .Net process.  Since I've fixed what I can out of ClrMD and reported a bug to the diagnostic

[2022-05-11 21:38] #988 closed

[2022-05-12 22:24] #771 closed

[2022-05-12 22:24] #927 closed

[2022-05-12 22:24] #977 closed

[2022-05-18 14:54] #983 closed

[2022-05-20 18:04] leculver commented on #962
This is something that in general I would like to move to and support as well as possible.  I think my north star here is: "Building WinDbg (or lldb, or other debugger) extensions with ClrMD should be very easy and well supported."

I struggle a bit with how much of this to put directly into ClrMD and how much to write as a public domain sample.  I've specifically been trying to slim ClrMD down in

[2022-05-20 18:28] kevingosse commented on #962
I have a working prototype of an LLDB extension written with ClrMD/NativeAOT, and I doubt it's possible to provide all the required components directly into ClrMD (if only because interacting with LLDB requires to call C++ methods that are not virtual, and for that I had to write an additional C++ library that does the translation). With that in mind, I think it makes sense to keep the ClrMD core